{% extends "chords.html" %}

{% set title = "Ain`t that a shame" %}
{% set handbook_unid = "89f4a126984f1307c3256f8f006ddb73" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - ain`t that a shame<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ain`t that a shame<br/>
</span><i>D.Antoine, B.Dave<br/></i>
 <br/>
       C       C             C          C7          <br/>
You made me cry when you said good night<br/>
               F                        C<br/>
Ain't that a shame! My tears fell like rain<br/>
               F    G                   G7<br/>
Ain't that a shame! You're the one to blame!<br/>
<br/>
You broke my heart when you said we're apart<br/>
Ain't that a shame! My tears fell like rain<br/>
Ain't that a shame! You're the one to blame!<br/>
<br/>
Проигрыш: C C C C7 F C F G G7<br/>
<br/>
You broke my heart when you said we're apart<br/>
Ain't that a shame! My tears fell like rain<br/>
Ain't that a shame! You're the one to blame!<br/>
<br/>
You broke my heart when you said we're apart<br/>
Ain't that a shame! My tears fell like rain<br/>
Ain't that a shame! You're the one to blame!<br/>
<br/>
Проигрыш: C C C C7 F C F G G7 - 2p.<br/>
<br/>
You made me cry when you said goodbye<br/>
Ain't that a shame! My tears fell like rain<br/>
               F    G                   G7 С С<br/>
Ain't that a shame! You're the one to blame!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
