{% extends "chords.html" %}

{% set title = "Deliver me" %}
{% set handbook_unid = "792c53b8912ed95fc325679d006aeca6" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- Неизданные англоязычные песни - deliver me<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
deliver me<br/>
</span><i>T.Petty<br/></i>
 <br/>
C      D     G     D     G<br/>
…So deliver me, deliver me<br/>
      Em               C<br/>
Baby take this heart, set it free<br/>
 D          G      D          G<br/>
Take this chance, take this dream<br/>
      Em                C<br/>
Baby take this heart deliver me<br/>
<br/>
Проигрыш: C<br/>
D - 4p. <br/>
<br/>
G                  <br/>
 Sometimes I wonder if this is worth the trouble<br/>
G                   F                     G<br/>
 Sometimes I wonder if this is worth the fight<br/>
G<br/>
 Sometimes I wonder I have made my mind up about it<br/>
G                      F          G<br/>
 I've just decided to let it all ride <br/>
 F          G    F          D<br/>
Let it all ride let it all ride<br/>
<br/>
      D     G     D     G<br/>
So deliver me, deliver me<br/>
Baby take this heart, set it free<br/>
Take this chance, take this dream<br/>
Baby take this heart deliver me<br/>
      Em                C<br/>
Baby take this heart deliver me<br/>
      Em                C<br/>
Baby take this heart deliver me<br/>
<br/>
Заключение: G - 4p. Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
