{% extends "chords.html" %}

{% set title = "Oh yeah" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - Курёхин и Гребенщиков приглашают - oh yeah<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
oh yeah <br/>
</span><i>Б.Гребенщиков, С.Курёхин - Б.Гребенщиков<br/></i>
 <br/>
Вступление: D G - 4p.<br/>
D D G D A - 2p.<br/>
<br/>
D                                    G  D A<br/>
 So what - I was taken it, taken it down<br/>
D                                         G   D A<br/>
 Oh yeah cause it was taken me, taken me round <br/>
D                                         G  D A<br/>
 Nice creatures whore hovering inside my head  <br/>
D                                            G  D A<br/>
 Sometimes I knew just what it’s like to be dead<br/>
<br/>
Проигрыш: D D G D A - 2p.<br/>
<br/>
Somewhere I ret to be corrupt sandy math<br/>
Sometimes it made me miss the socially weans<br/>
But how much the creation will do for it’s crown  <br/>
The smalls dale the cape mixture of golden and brown<br/>
<br/>
F    Dm     B         F  C<br/>
 Oh yeah, that was so easy  <br/>
F    Dm     B          F C<br/>
 Oh yeah, that was so kind<br/>
F    Dm    B         F  C<br/>
 Oh yeah, gentle and easy <br/>
B             F          A<br/>
 My my right dink to my mind  <br/>
<br/>
Проигрыш: D D G D A - 4p.<br/>
<br/>
Oh yeah, that was so easy  <br/>
Oh yeah, that was so kind<br/>
Oh yeah, gentle and easy <br/>
My my right dink to my mind  <br/>
<br/>
So what - I still take it, take in down<br/>
Oh yeah it still taken me, taken me round<br/>
I ret in the papers that it’s one of my rights<br/>
No one can take away the cup of green light <br/>
<br/>
Заключение: D D G D A - 8p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
