{% extends "chords.html" %}

{% set title = "Peach blossom road" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "55b84ab769b8bf25c325787c007151cf" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ИНСТРУМЕНТАЛЫ - Peach Blossom Road<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Peach Blossom Road</span><i><span style="color:red"> <br/>
</span>Б.Гребенщиков<br/>
 <br/></i>
        D            D         D           D<br/>
E--------------------------------------------<br/>
H--------------------------------------------<br/>
G-------2h4-2-----------------2h4-2----------<br/>
D------0---------0h2-0-------0---------0h2-0-<br/>
A-0-0h2-------0h2-------0-0h2-------0h2------<br/>
E--------------------------------------------<br/>
       Hm     Hm     D            D<br/>
E-----------------------------------<br/>
H-----------------------------------<br/>
G-----------------------------------<br/>
D----0-2h4-2--2h4-2--0h2-0----0h2-0-<br/>
A-0h2----------------------0h2------<br/>
E-----------------------------------<br/>
          Hm     Hm      D          D<br/>
E-------------------------------------<br/>
H-------------------------------------<br/>
G-------------------------------------<br/>
D------0-2h4-2--2h4-2--0h2-0----0h2-0-<br/>
A-0-0h2----------------------0h2------<br/>
E-------------------------------------<br/>
        D            D         D           D<br/>
E--------------------------------------------<br/>
H--------------------------------------------<br/>
G-------2h4-2-----------------2h4-2----------<br/>
D------0---------0h2-0-------0---------0h2-0-<br/>
A-0-0h2-------0h2-------0-0h2-------0h2------<br/>
E--------------------------------------------<br/>
          Hm     Hm      D          D<br/>
E-------------------------------------<br/>
H-------------------------------------<br/>
G-------------------------------------<br/>
D------0-2h4-2--2h4-2--0h2-0----0h2-0-<br/>
A-0-0h2----------------------0h2------<br/>
E-------------------------------------<br/>
          Hm     Hm      D          D<br/>
E-------------------------------------<br/>
H-------------------------------------<br/>
G-------------------------------------<br/>
D------0-2h4-2--2h4-2--0h2-0----0h2-0-<br/>
A-0-0h2----------------------0h2------<br/>
E-------------------------------------<br/>
<br/>
  D       D        G     G  Em  Em               D D<br/>
E-7--5----7-5-7-5-----------15--15-14-10-10-12-14---<br/>
H-------7----7---7-5--7-----------------------------<br/>
G-----------------------4------------------------11-<br/>
  D       D        G     G  Em  Em               A A<br/>
E-7--5----7-5-7-5-----------15--15-14-10-10-12-14---<br/>
H-------7----7---7-5--7--------------------------10-<br/>
G-----------------------4---------------------------<br/>
<br/>
        D            D         D           D<br/>
E--------------------------------------------<br/>
H--------------------------------------------<br/>
G-------2h4-2-----------------2h4-2----------<br/>
D------0---------0h2-0-------0---------0h2-0-<br/>
A-0-0h2-------0h2-------0-0h2-------0h2------<br/>
E--------------------------------------------<br/>
       Hm     Hm     D            D<br/>
E-----------------------------------<br/>
H-----------------------------------<br/>
G-----------------------------------<br/>
D----0-2h4-2--2h4-2--0h2-0----0h2-0-<br/>
A-0h2----------------------0h2------<br/>
E-----------------------------------<br/>
       Hm     Hm     D            D<br/>
E-----------------------------------<br/>
H-----------------------------------<br/>
G-----------------------------------<br/>
D----0-2h4-2--2h4-2--0h2-0----0h2-0-<br/>
A-0h2----------------------0h2------<br/>
E-----------------------------------<br/>
       Hm     Hm     D            D<br/>
E-----------------------------------<br/>
H-----------------------------------<br/>
G-----------------------------------<br/>
D----0-2h4-2--2h4-2--0h2-0----0h2-0-<br/>
A-0h2----------------------0h2------<br/>
E-----------------------------------<br/>
       Hm     Hm       D       D<br/>
E--------------------------------<br/>
H--------------------------------<br/>
G--------------------------------<br/>
D----0-2h4-2--2h4-2--4-0-----0-0-<br/>
A-0h2---------------------0h2----<br/>
E--------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
