{% extends "chords.html" %}

{% set title = "Promises of Eden" %}
{% set handbook_unid = "d1351ffb66a16ef8c325679d006aedab" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO LONDON - promises of eden<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
promises of eden <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G D G C G G D D Am C G D<br/>
<br/>
G       D                C  G  G G/f# Em<br/>
 We've set our sails on sunrise -<br/>
 F    C                   Em Em G/f# <br/>
Just like the scriptures say;<br/>
G           D                    G        G/f#  Em<br/>
 They have said they're building heaven, so it could<br/>
   H              C<br/>
Be awkward, if we stay;<br/>
C                           D<br/>
 And the watchmen in their towers<br/>
Am                         C   C D<br/>
  Somehow have failed to see, how<br/>
G           D  G          C<br/>
 We dance away, we sail away<br/>
G             D         D      <br/>
 From their promises of Eden.<br/>
<br/>
Проигрыш: G D G G G/f# Em Em C C D,<br/>
G D G G G/f# Em Em C C D<br/>
<br/>
We hail Ye, Pretty Maidens;<br/>
And Ye, Weary Travellers - Hail!<br/>
Rest in peace, for there's no science that can unfold<br/>
The mysteries of our sails.<br/>
And while their wise men ponder<br/>
New ways to set us free -<br/>
We dance away, we smile away<br/>
From their promises of Eden.<br/>
<br/>
Проигрыш: G D G G G/f# Em Em C C D,<br/>
G D G G G/f# Em Em C C <br/>
C C D D Am Am C C D, G D G C G D D D <br/>
<br/>
Some say this ship is crazy;<br/>
Some say this ship is lost.<br/>
But the Lady Fair, who's keeping us afloat,<br/>
Is still fairer than the most.<br/>
And while the full moon wanders<br/>
Above this ageless sea -<br/>
We dance away,    we sail away<br/>
From their promises of Eden.<br/>
G           D  G           C<br/>
 We dance away, we smile away<br/>
G             D         D     <br/>
 From their promises of Eden.<br/>
<br/>
Заключение: G D G C G G D D Am C G D - 2p. G G G G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
