{% extends "chords.html" %}

{% set title = "Real slow today" %}
{% set handbook_unid = "0b021814e1d1e2ecc325679d006aeda2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO SILENCE - real slow today<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Real slow today <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G C G G/f# Em D/f#, G C D D D D<br/>
<br/>
Em           G            C                G  G/f#<br/>
  This is a dangerous tale of oxygen and flame<br/>
Em         G          C            G G/f#<br/>
  Tale of running away nowhere to run<br/>
Em           G          <br/>
  All I can see is you<br/>
Em            G                   C    G  D<br/>
  Visions of water in the desert sun stay...<br/>
<br/>
  G           C               G G/f# Em D/f#<br/>
Things gonna get real slow today<br/>
  G           C               Hm Hm Bm<br/>
Things gonna get real slow today<br/>
Am            G<br/>
  Takes one prisoner<br/>
Am               G<br/>
  Takes one to show him the way<br/>
C                 G                 D     D<br/>
 Then comes this lesson in natural history<br/>
<br/>
And these ladies are laughing at me can I join the fun?<br/>
I know I'm haunted, keeps the flame bright<br/>
I guess I can say I'm alright<br/>
Just a burning arrow stuck in my heart well, anyway...<br/>
<br/>
Things gonna get real slow today<br/>
Things gonna get real slow today<br/>
Takes one prisoner<br/>
Takes one to show him the way<br/>
Then comes this lesson in natural history<br/>
<br/>
Проигрыш: A A7/g D D F F G, A A7/g D D F F G, D D G G G G<br/>
<br/>
And some people say that we shouldn't cross this line<br/>
But there is no line only the sky<br/>
I want to see you smile<br/>
Want to feel us get up and fly shouldn't we?<br/>
<br/>
Things gonna get real slow today<br/>
Things gonna get real slow today<br/>
Takes one prisoner<br/>
Takes one to show him the way<br/>
Then comes this lesson in natural history<br/>
<br/>
Заключение: A A7/g D D F F G - 5p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Bm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          A7/g<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
