{% extends "chords.html" %}

{% set title = "The law of induction" %}
{% set handbook_unid = "b70599cfe6d58916c32569e60027d6e2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - the law of induction<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
The law of induction<br/>
</span><i>Б.Гребенщиков, С.Курёхин - Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/>
 <br/></i>
Вступление: Dm - 4p.<br/>
Dm Hm Dm Dm<br/>
<br/>
Dm<br/>
  Say here - the coast is clear<br/>
Am<br/>
 That’s wait another year<br/>
C            G              Dm<br/>
 Who’s left talking on the road<br/>
Dm<br/>
  Big write digging time <br/>
Am<br/>
  Smalls flash, smells like live<br/>
C               G            Dm<br/>
 Who’s left to take my body hope <br/>
<br/>
Проигрыш: Dm Hm B F E - 2p.<br/>
<br/>
This good - smalls like lime<br/>
Dark house, ending time<br/>
They sad: moving willing slow<br/>
Dick here, dick for gold<br/>
My mind the hands are cold  <br/>
Who’s left no where on the snow<br/>
<br/>
G     C   G    C  F<br/>
 For such is the wall <br/>
G C   G    C  F<br/>
 Such is the wall<br/>
G C   G    C  F<br/>
 Such is the wall<br/>
 F        Dm<br/>
Law of induction<br/>
<br/>
Проигрыш: Dm Hm B F E - 3p.<br/>
Dm Hm B Dm Dm<br/>
<br/>
Smalls good - smalls like lime<br/>
Dark house, ending time<br/>
Thee role - talking on the road<br/>
Dick here, dick for gold<br/>
My mind the hands are cold  <br/>
Who’s left to take my body hope <br/>
<br/>
For such is the wall <br/>
Such is the wall<br/>
Such is the wall<br/>
Law of induction<br/>
<br/>
Заключение: Dm Hm B F E - 7p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
