{% extends "chords.html" %}

{% set title = "The angel calling" %}
{% set handbook_unid = "774847f64e7b1bf7c325679d006aed39" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - АНГЛОЯЗЫЧНЫЕ ПЕСНИ - RADIO LONDON - the angel calling<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
the angel calling <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: G G G<br/>
<br/>
                   G                        G                                                       <br/>
It's always like this - somebody puts some gunpowder into my brain,<br/>
          D               C              G<br/>
Into my brain - and then waits for the spark.<br/>
       C   D    G                          G<br/>
And I say to myself - come on now, do you really have to be that insane?<br/>
           D          C       D G Em Am D D<br/>
Be that insane - than off I go...<br/>
<br/>
Suppose I was made of steel, I'll find myself a magnet, and I'll call it your name,<br/>
I`ll call it your name and then paint it bright;<br/>
And you'll destroy me with light, you'll burn me to cinders with your hands on my wheel -<br/>
Your hands on my wheel; and then off I'll go. All in all - it's another step to heaven, and in heaven it's easy to see -<br/>
<br/>
           C              D<br/>
It was the angel, that's calling me;<br/>
           G<br/>
It was the angel, that's calling me;<br/>
           C          D                   Em  G<br/>
It was the angel, and I just did what he said;  <br/>
           C               D<br/>
It was the angel, and I'm satisfied;<br/>
           G<br/>
It was the angel, and I cried and I cried,<br/>
        C <br/>
And I tried and I tried,<br/>
       D                       C  D D <br/>
And I can't get you out of my head.<br/>
<br/>
Проигрыш: G G D C G, G G D C D G Em Am D D<br/>
<br/>
It happen like this - somebody puts some gunpowder into my brain,<br/>
Into my brain - and then waits for the spark.<br/>
And I say to myself - come on now, do you really have to be that insane?<br/>
Be that insane - than off I go... All in all - it's another step to heaven, and in heaven it's easy to see -<br/>
<br/>
It was the angel, that's calling me;<br/>
It was the angel, that's calling me;<br/>
It was the angel, and I just did what he said;  <br/>
It was the angel, and I'm satisfied;<br/>
It was the angel, and I cried and I cried,<br/>
And I tried and I tried,<br/>
    D                         C      <br/>
And I can't get you out of my head.<br/>
 D                       G  G G  G G G<br/>
Can't get you out of my head.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
