{% extends "chords.html" %}

{% set title = "Tutti-Frutti" %}
{% set handbook_unid = "52835163f008f9edc325679d006aeda5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- КОНЦЕРТНЫЕ ЗАПИСИ - tutti-frutti<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Tutti-frutti <br/>
</span><i>L.Richard<br/></i>
 <br/>
A-Wop-bop-a-loo-lop a-lop-bam-boo<br/>
<br/>
        C(III)<br/>
Tutti Frutti, all over rootie,..<br/>
        C(III)<br/>
Tutti Frutti, all over rootie,..<br/>
        F<br/>
Tutti Frutti, all over rootie,..<br/>
        C(III)<br/>
Tutti Frutti, all over rootie,..<br/>
        G(III)          F<br/>
Tutti Frutti, all over rootie,..<br/>
   C(III)<br/>
A-wop-bop-a-loo-lop a-lop bam boo<br/>
<br/>
        C(III)<br/>
I got a gal, named Sue,<br/>
     C(III)<br/>
She knows just what to do. <br/>
       F<br/>
Got a go, main soon…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
