{% extends "chords.html" %}

{% set title = "Ангел дождя" %}
{% set handbook_unid = "2d72d525555c7638c325679d006af2e2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ГИПЕРБОРЕЯ - ангел дождя<br/>
</span><span style="color:red"> <br/>
АНГЕЛ ДОЖДЯ<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: <br/>
E-12-12-12-12-<br/>
H-------------<br/>
G-------------<br/>
  Am      C       Dm    F E <br/>
E-0----0--0----0--1-0-----1-0-<br/>
H----1-------0-------3-1-0----<br/>
G---2-2-----2-2---------2-----<br/>
D-----------------------------<br/>
  Am      C       Dm     F   E <br/>
E-0----0--0----0--5-3-1-0------<br/>
H----1-------0-----------3-1-0-<br/>
G---2-2-----2-2----------------<br/>
D------------------------------<br/>
<br/>
          Am<br/>
Я знаю места,<br/>
Dm               Am<br/>
  Где в тени золотой<br/>
Dm          Am Dm               F E<br/>
  Бредут янычары посмертной тропой;<br/>
             Am<br/>
Где дом покорён,<br/>
Dm               Am<br/>
  Где солёный забор,<br/>
Dm                  Am<br/>
  Где проповедь вишням<br/>
Dm           F E<br/>
  Читает прибор.<br/>
<br/>
Проигрыш: <br/>
  Am      C       Dm    F E <br/>
E-0----0--0----0--1-0-----1-0-<br/>
H----1-------0-------3-1-0----<br/>
G---2-2-----2-2---------2-----<br/>
D-----------------------------<br/>
  Am      C       Dm     F   E <br/>
E-0----0--0----0--5-3-1-0------<br/>
H----1-------0-----------3-1-0-<br/>
G---2-2-----2-2----------------<br/>
D------------------------------<br/>
<br/>
Я знаю места,<br/>
Где цветёт концентрат -<br/>
Последний изгнанник,<br/>
Не ждущий заплат;<br/>
Где роза в слезах,<br/>
А калган - в серебре;<br/>
Где пляшут налджорпы<br/>
На заднем дворе...<br/>
<br/>
F        G        C     Am<br/>
Ежели в доме расцвёл камыш -<br/>
F           G       C<br/>
 Значит, в доме разлом;<br/>
  Dm               Am<br/>
А ежели череп прогрызла мышь -<br/>
 Dm               F E<br/>
Время забыть о былом.<br/>
 F             G         C         Am<br/>
Может быть, в наших сердцах пляшут зайчики,<br/>
 F            G       C<br/>
Может быть - воют волки;<br/>
   Dm                   Am<br/>
А, может быть, ангел дождя шумит<br/>
  Dm               F E<br/>
Время снимать потолки.<br/>
<br/>
Проигрыш: <br/>
C Am Dm F G, C Am Dm F E<br/>
  Am      C       Dm    F E <br/>
E-0----0--0----0--1-0-----1-0-<br/>
H----1-------0-------3-1-0----<br/>
G---2-2-----2-2---------2-----<br/>
D-----------------------------<br/>
  Am      C       Dm     F   E <br/>
E-0----0--0----0--5-3-1-0------<br/>
H----1-------0-----------3-1-0-<br/>
G---2-2-----2-2----------------<br/>
D------------------------------<br/>
<br/>
  Am<br/>
Ски-ла-я-а...<br/>
  C<br/>
Ски-ла-я-а...<br/>
  Dm<br/>
Ски-ла-я-а... <br/>
  F    E<br/>
Ски-ла-я...<br/>
  Am<br/>
Ски-ла-я-а...<br/>
  C<br/>
Ски-ла-я-а...<br/>
  Dm<br/>
Ски-ла-я-а... <br/>
  F    E<br/>
Ски-ла-я...<br/>
  Am<br/>
Ски-ла-я-а...<br/>
  C<br/>
Ски-ла-я-а...<br/>
  Dm<br/>
Ски-ла-я-а... <br/>
  F    E<br/>
Ски-ла-я...<br/>
  Am<br/>
Ски-ла-я-а...<br/>
  C<br/>
Ски-ла-я-а...<br/>
  Dm<br/>
Ски-ла-я-а... <br/>
  F    E   A(V)<br/>
Ски-ла-я...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
