{% extends "chords.html" %}

{% set title = "Беспечный русский бродяга" %}
{% set handbook_unid = "e2f2b03cfee25091c3256b990060ebd0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - беспечный русский бродяга<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Беспечный Русский Бродяга<br/>
</span><i>Кельтская народная, Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C Am Dm G, C Am F C – 2p.<br/>
<br/>
      C     Am         Dm G<br/>
Я беспечный русский бродяга<br/>
 C           Am       F  C<br/>
Родом с берегов реки Волги<br/>
C          Am     Dm               G<br/>
Ел, что попало, и пил, что Бог пошлёт<br/>
        C      Am     F  C<br/>
Под песни соловья и иволги<br/>
   C         Dm       C         G<br/>
Я пил в Петербурге и пил в Москве<br/>
 C          Dm        C G<br/>
Пил в Костроме и в Рязани<br/>
 C       Am     Dm      G<br/>
Пил Лагавулин и пил Лафройг<br/>
   C          Am       F C<br/>
Закусывал травой и грибами<br/>
<br/>
Однажды в Вятке я был совсем худой<br/>
Но ближе к Барнаулу стал резвый<br/>
Худшее похмелье, что было у меня <br/>
Когда я восемь суток был трезвый<br/>
Я упал в Енисей, я выплыл из Невы<br/>
Хотя, может быть, это была Припять<br/>
Но я вышел элегантно сухой из воды<br/>
И немедленно нашёл, с кем здесь выпить<br/>
<br/>
Проигрыш: C Am Dm G, C Am F C - 2p <br/>
C Dm C G - 2p <br/>
C Am Dm G, C Am F C<br/>
<br/>
Я один родился и один я умру<br/>
Но чтобы в мире не заблудиться <br/>
В каждом вагоне, что едет по земле<br/>
Работает одна проводница.<br/>
А так по жизни я анахорет<br/>
Молитвенен и беззаботен<br/>
В обычный день я спасаю двух-трёх<br/>
А в праведную ночь до трёх сотен<br/>
<br/>
Я сидел и пил на Гластонбери Тор<br/>
Сам не заметил, как надрался<br/>
Помню, как меня искушал один бес<br/>
Ясно дело, я не поддался<br/>
А что наверху - то и внизу <br/>
А душа - она как печная тяга<br/>
Куда бы я ни шёл, везде вокруг Эдем<br/>
Ведь я беспечный русский бродяга.<br/>
<br/>
Заключение: C Am Dm G, C Am F C - 2p <br/>
C Dm C G - 2p <br/>
C Am Dm G, C Am F C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
