{% extends "chords.html" %}

{% set title = "Белая берёза снова на коне" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "809c80b47f285bb4c325679d006af342" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ИНСТРУМЕНТАЛЫ - белая берёза снова на коне<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">белая берёза снова на коне<br/>
</span><i>Б.Гребенщиков<br/>
 <br/></i>
Am Asus4 Asus2 Am - 2p.<br/>
<br/>
  Am Asus4 Asus2 Am<br/>
E-17--19----15---12-<br/>
H-17--17----17---13- - 21p. Am<br/>
G-17--19----16---14-<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
