{% extends "chords.html" %}

{% set title = "Белая" %}
{% set handbook_unid = "008515c4f458188bc3256ef7003d54a5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ZOOM ZOOM ZOOM - белая<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Белая<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: D D D D G G D D<br/>
D G6/h A7sus4 D A7sus4 A7 - 6p.<br/>
<br/>
D                 A7sus4<br/>
 Белая как выпавший снег<br/>
D                A7<br/>
 Белая как тёмная ночь<br/>
D                  A7sus4<br/>
 Белая как сакура весной<br/>
     D              A7<br/>
Милосердная, но не может помочь<br/>
Hm             F#<br/>
  Белая как сибирский мел<br/>
Am              H<br/>
  Белая как нетронутый лист<br/>
 Em            G<br/>
Я отдал тебе всё что имел<br/>
A                 A7<br/>
 Теперь я чёрный как трубочист<br/>
<br/>
Проигрыш: D G6/h A7sus4 D A7sus4 A7 - 2р.<br/>
<br/>
Без имени как меч кузнеца<br/>
Невиданная без прикрас<br/>
Без начала и без конца<br/>
Бывшая здесь прежде всех нас<br/>
Я искал тебя, не мог понять как;<br/>
Писал тебе, но не было слов;<br/>
Я был слепой, но я вижу твой знак<br/>
Мой палец на курке, я всегда готов.<br/>
<br/>
Проигрыш: <br/>
D A Em G G G G A Asus4 A7*<br/>
D A Em G G G G A7<br/>
D G6/h A7sus4 D A7sus4 A7 - 4р.<br/>
<br/>
Половина соловьиная падь<br/>
Половина алеет восток<br/>
Ты знаешь сама - с меня нечего взять<br/>
Но всё что есть - у твоих ног<br/>
Я проснулся после долгого сна<br/>
Небритый без имени совсем ничей<br/>
Моя кровь говорит, что скоро весна<br/>
 A          Asus4     A7*     A*<br/>
Может быть, в одну из этих ночей. <br/>
<br/>
Заключение: <br/>
D A Em G G G G A Asus4 A7*<br/>
D A Em G G G G A7*<br/>
D G6/h A7sus4 D A7sus4 A7 - 6р. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          A7sus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7*<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A*<br/>
  E---|-■-|---|---|-■-|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
