{% extends "chords.html" %}

{% set title = "Белое reggae" %}
{% set handbook_unid = "ba763c600f2ad964c325679d006af2bb" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - белое reggae<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Белое REGGAE<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Am G E - 4p.<br/>
<br/>
Am                 F  G                        E<br/>
  Я был вчера в домах, где все живут за непрозрачным стеклом<br/>
Am           F  G                       E<br/>
  Я был в домах, где все живут, чтобы забыть про свой дом<br/>
Am        F  G                     E<br/>
  Я был один, но мне казалось, я кто-то другой<br/>
Am        F G               E<br/>
  Я был один и я не знал, кто я<br/>
<br/>
       Am   G E<br/>
Белое reggae.<br/>
       Am   G E<br/>
Белое reggae.<br/>
       Am   G  E<br/>
Белое reggae. <br/>
<br/>
Am          F G E Am F G E<br/>
  Я цвета дня… <br/>
Am              F  G                   E<br/>
  Они живут сейчас, не зная ночи и не видя дня,<br/>
Am       F  G                       E<br/>
  Я вижу их, я помню - это был расклад для меня!<br/>
<br/>
Reggae. <br/>
Белое reggae. <br/>
Белое reggae. <br/>
<br/>
Проигрыш: Am F G E - 4p.<br/>
<br/>
Я - цвета дня, но я люблю ночь, как будто сестру<br/>
Я - цвета дня, но даже ночь бывает светлой к утру<br/>
На этой земле есть шанс лететь так высоко,<br/>
На этой земле, где я не знаю, кто я<br/>
<br/>
Белое reggae. <br/>
Белое reggae. <br/>
Белое reggae. <br/>
<br/>
Заключение: Am F G E - 11p. Am F G E Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
