{% extends "chords.html" %}

{% set title = "Блюз простого человека" %}
{% set handbook_unid = "c74b2c31f0382141c325679d006aee74" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - блюз простого человека<br/>
</span><span style="color:red"> <br/>
БЛЮЗ ПРОСТОГО ЧЕЛОВЕКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
F F C C F F C7(III) C(III) H B A D7 G C F C G<br/>
С F C C F F C7(III) C(III) H B A D7 G C F C G<br/>
<br/>
    С             F                 C<br/>
Вчера я шёл домой - кругом была весна.<br/>
          F                                C7(III) C(III) H B A <br/>
Его я встретил на углу, и в нём не понял ничего.<br/>
             D7                 G<br/>
Спросил он: "Быть или не быть?"<br/>
             C F C G<br/>
И я сказал: "…"<br/>
<br/>
Мы все бежим в лабаз, продрав глаза едва.<br/>
Кому-то мил портвейн, кому милей трава - ха.<br/>
Ты пьёшь свой маленькой двойной<br/>
И говоришь слова. <br/>
<br/>
Проигрыш: С F C C F F C7(III) C(III) H B A D7 G C F C G<br/>
<br/>
Пусть кто-то рубит лес, я соберу дрова;<br/>
Пусть мне дают один, я заберу все два;<br/>
Возьму вершки и корешки -<br/>
Бери себе слова.<br/>
<br/>
Проигрыш: С F C C F F C7(III) C(III) H B A D7 G C F C G<br/>
<br/>
   C(III)<br/>
Ты воешь, словно волк;<br/>
   C(III)<br/>
Ты стонешь, как сова;<br/>
   C7(III)<br/>
Ты рыщешь, словно рысь -<br/>
          C7(III)<br/>
Ты хочешь знать свои права;<br/>
    F          C7(III)   C(III) H B A<br/>
Слова, слова и вновь слова;<br/>
   D7             G                   C F C G C<br/>
Одним важны слова, другим важнее голова.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C7(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
