{% extends "chords.html" %}

{% set title = "Бурлак" %}
{% set handbook_unid = "ff44ec5d1aa0dd8cc325679d006aee2f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - бурлак<br/>
</span><span style="color:red"> <br/>
БУРЛАК<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
F F/e Dm 4:0 3:II 2:III 1:I 1:0 2:III 3:II  – 4p.<br/>
F F/e Dm Dsus2 – 4p.<br/>
<br/>
F         F/e   Dm              <span style="color:#4D4D4D">C</span>   F<br/>
 А как по Волге ходит одинокий бурлак,<br/>
F/e       Dm            <span style="color:#4D4D4D">C</span>  F<br/>
Ходит бечевой небесных равнин;<br/>
F/e       Dm               <span style="color:#4D4D4D">C</span> F<br/>
Ему господин кажет с неба кулак,<br/>
   F/e        Dm              <span style="color:#4D4D4D">C</span> F<br/>
А ему всё смешно - в кулаке кокаин;<br/>
<br/>
           F/e  Dm        <span style="color:#4D4D4D">C</span>  F<br/>
А вниз по Волге - Золотая Орда,<br/>
         F/e      Dm                 <span style="color:#4D4D4D">C</span> F<br/>
Вверх по Волге - барышни глядят с берега.<br/>
       F/e     Dm             <span style="color:#4D4D4D">C</span> F<br/>
Ох, козельское зелье - живая вода;<br/>
     F/e       Dm              <span style="color:#4D4D4D">C</span> F<br/>
Отпустите мне кровь, голубые снега.<br/>
<br/>
    F/e          Dm         <span style="color:#4D4D4D">C</span>    F<br/>
Как мирила нас зима железом и льдом,<br/>
     F/e      Dm             <span style="color:#4D4D4D">C</span>  F<br/>
Замирила, а сама обернулась весной.<br/>
        F/e       Dm                   <span style="color:#4D4D4D">C</span>
F<br/>
Как пойдёт таять снег - ох, что будет потом,<br/>
       F/e      Dm                     <span style="color:#4D4D4D">C</span> F<br/>
А как тронется лёд - ох, что будет со мной...<br/>
<br/>
Проигрыш: F F/e Dm Dsus2 - 4p.<br/>
<br/>
F        F/e         Dm                     <span style="color:#4D4D4D">C</span> F<br/>
 А то ли волжский разлив, то ли вселенский потоп,<br/>
       F/e        Dm             <span style="color:#4D4D4D">C</span>
F<br/>
То ли просто господин заметает следы,<br/>
        F/e       Dm            <span style="color:#4D4D4D">C</span> F<br/>
Только мне всё равно - я почти готов,<br/>
 F/e       Dm                  <span style="color:#4D4D4D">C</span>
F<br/>
Готов тебе петь по-над тёмной воды;<br/>
<br/>
          F/e     Dm           <span style="color:#4D4D4D">C</span> F<br/>
А из-под тёмной воды бьют колокола,<br/>
        F/e       Dm              <span style="color:#4D4D4D">C</span>   F<br/>
Из-под древней стены - ослепительный чиж.<br/>
      F/e      Dm                  <span style="color:#4D4D4D">C</span> F<br/>
Отпусти мне грехи первым взмахом крыла;<br/>
         F/e       Dm                 <span style="color:#4D4D4D">C</span>  F<br/>
Ну, отпусти мне грехи - ну почему ты молчишь?!<br/>
<br/>
    F/e     Dm             <span style="color:#4D4D4D">C</span> F<br/>
Ты ори, Серафим, золотые крыла -<br/>
   F/e        Dm                 <span style="color:#4D4D4D">C</span>
 F<br/>
Гори, не стесняйся, путеводной звездой.<br/>
  F/e       Dm              <span style="color:#4D4D4D">C</span> F<br/>
Мне всё равно - я потерял удила,<br/>
       F/e    Dm                   <span style="color:#4D4D4D">C</span> F<br/>
Нет другого пути, только вместе с тобой...<br/>
<br/>
Проигрыш: F F/e Dm Dsus2 - 8p.<br/>
<br/>
F              F/e   Dm                  <span style="color:#4D4D4D">C</span>  F<br/>
 Вот так и вся наша жизнь - то Секам, а то Пал;<br/>
   F/e         Dm            <span style="color:#4D4D4D">C</span>    F<br/>
То во поле кранты, то в головах Спас.<br/>
F/e           Dm           <span style="color:#4D4D4D">C</span> F<br/>
Вышел, чтоб идти к началу начал,<br/>
   F/e      Dm             <span style="color:#4D4D4D">C</span>   F<br/>
Но выпил и упал - вот и весь сказ;<br/>
<br/>
  F/e       Dm               <span style="color:#4D4D4D">C</span> F<br/>
А вороны молчат, а барышни кричат,<br/>
   F/e         Dm                <span style="color:#4D4D4D">C</span>   F<br/>
Тамбовской волчицей или светлой сестрой.<br/>
      F/e       Dm                <span style="color:#4D4D4D">C</span>   F<br/>
То спасительный пост, то спасительный яд;<br/>
    F/e          Dm    <span style="color:#4D4D4D">C</span>
F<br/>
Но слышишь, я стучу - открой!<br/>
<br/>
        F/e        Dm                   <span style="color:#4D4D4D">C</span> F<br/>
Так причисли нас к ангелам, иль среди зверей,<br/>
    F/e       Dm                  <span style="color:#4D4D4D">C</span>   F<br/>
Но только не молчи - я не могу без огня;<br/>
    F/e       Dm                  <span style="color:#4D4D4D">C</span>    F<br/>
И, где б я ни шёл, я всё стучусь у дверей:<br/>
    F/e           Dm     <span style="color:#4D4D4D">C</span>       F<br/>
Так Господи мой Боже, помилуй меня!<br/>
<br/>
Заключение: F F/E Dm Dsus2 - 8p. F<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
