{% extends "chords.html" %}

{% set title = "В поле ягода навсегда" %}
{% set handbook_unid = "23fdf2ae8a804d63c325679d006aeebc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ТАБУ - в поле ягода навсегда<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">В поле ягода навсегда <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
D-0--0--0---0--0--0--0---0--0---0--0---0--0--0---0--0--0--0---0--0-<br/>
A------------------------------------------------------------------<br/>
E------------------------------------------------------------------<br/>
<br/>
D-0--0---0--0--0---0--0--0--0---0--0---0--0---0--0--0---0--0--0--0---0--0-<br/>
A-------------------------------------------------------------------------<br/>
E-------------------------------------------------------------------------<br/>
<br/>
D------------------------------------------------     -----------<br/>
A------------------------------------------------ H A ----------- H<br/>
E-0-3-5-5-3--0-0-3-5-5-3---0-3-5-5-3—-0-0-3-5-5-3     -0-3-5-5-3-<br/>
<br/>
 E        A<br/>
20 лет - маленький срок<br/>
 E         A<br/>
20 лет я слушаю рок<br/>
     E               A<br/>
Слегка полысел, слегка занемог<br/>
      E                 A<br/>
И немного оглох, но я слушаю рок<br/>
 E              A<br/>
Новая волна - где она?<br/>
   E              A<br/>
Я рок-человек - что мне волна<br/>
   E                  A<br/>
У нас не глубинка, у нас глубина,<br/>
       E              A<br/>
и никакая волна не доходит до дна<br/>
<br/>
   C#m          H<br/>
Но это не беда, это не беда<br/>
A            F#<br/>
Это не беда, это не беда<br/>
   E          A<br/>
В поле ягода навсегда<br/>
   E          A<br/>
В поле ягода навсегда<br/>
   E          A      E H<br/>
В поле ягода навсегда<br/>
<br/>
20 лет - ерунда<br/>
Сколько мастерства мне дали года<br/>
Я запомнил, где у гитары струна<br/>
И почти всегда попадаю туда<br/>
Не нужно слушать уже ничего,<br/>
Мы уже играем, как Status Quo<br/>
И если мы доживем до седин<br/>
Мы сыграем, как Deep Purple с Zeppelin<br/>
<br/>
А пока что не беда, это не беда<br/>
Это не беда, это не беда<br/>
В поле ягода навсегда<br/>
В поле ягода навсегда<br/>
В поле ягода навсегда<br/>
<br/>
Проигрыш: E A - 8p.<br/>
<br/>
   E<br/>
В поле ягода на-на-на-всегда<br/>
   E         нааааааа…<br/>
В поле ягода на-на-на-всегда<br/>
   E         нааааааа…<br/>
В поле ягода на-на-на-всегда<br/>
   E         нааааааа…<br/>
В поле ягода на-на-на-навсегда<br/>
             нааааааа…<br/>
   E          A<br/>
В поле ягода навсегда                    <br/>
   E          A<br/>
В поле ягода навсегда<br/>
   E          A<br/>
В поле ягода навсегда<br/>
   E          A      E<br/>
В поле ягода навсегда<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
