{% extends "chords.html" %}

{% set title = "Вана Хойя" %}
{% set handbook_unid = "ae3a4dec1518ca5bc325679d006aee29" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - вана хойя<br/>
</span><span style="color:red"> <br/>
ВАНА ХОЙА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<span style="color:#D1F6FF;background:#DDF3FF">_________</span><span style="color:#E7FAFF;background:#DDF3FF">…</span><span style="color:silver;background:#DDF3FF">Яна</span><span style="background:#DDF3FF"> </span><span style="color:#969696;background:#DDF3FF">Хойя,</span><span style="background:#DDF3FF"> </span><span style="color:#777777;background:#DDF3FF">Но</span><span style="background:#DDF3FF">
</span><span style="color:#4D4D4D;background:#DDF3FF">Хо<br/>
Ванна Хойя</span><span style="color:#333333;background:#DDF3FF">, </span><span style="color:#333333;background:#DFF6FF">Яна</span><span style="background:#DFF6FF"> Хойя, Но Хо<br/>
</span><span style="background:#E3F8FF">Ванна Хойя,</span><span style="background:#E4F9FF">
Яна Хойя, Но Хо<br/></span>
 <br/>
 E          A6            E A6<br/>
Ванна Хойя, Яна Хойя, Но Хо<br/>
 E          A6            E A6<br/>
Ванна Хойя, Яна Хойя, Но Хо<br/>
 E          A6            E A6<br/>
Ванна Хойя, Яна Хойя, Но Хо<br/>
 E          A6            E A6<br/>
Ванна Хойя, Яна Хойя, Но Хо<br/>
<br/>
      E                      A6                   E    A6<br/>
Этот день, этот день - он такой же, как ночь, но жарче;<br/>
E         A6                     E   A6<br/>
Эта вода; эта вода, в ней яд - прочь;     <br/>
     E         A6            E  A6<br/>
Это мы; мы коснулись воды губами,<br/>
   E         A6        E  A6<br/>
И мы будем вместе всю ночь... <br/>
E                 A6                  E  A6<br/>
 Я скажу тебе: "Скипси драг, скипси драг";<br/>
E             A6                E                       A6<br/>
 Я скажу тебе, я скажу тебе: "Скипси драг"… <span style="letter-spacing:-1.0pt">"Скипси драг"...  <br/></span>
 <br/>
Проигрыш: E A6 – 4p.<br/>
<br/>
E          A6                                 <br/>
 Чуки-чуки, банана-куки<br/>
<br/>
Проигрыш: E A6 – 3p.<br/>
<br/>
<span style="color:#292929">Ванна Хойя</span>, Яна Хойя, Но Хо<br/>
Ванна Хойя, Яна Хойя, Но Хо<br/>
Ванна Хойя, Яна Хойя, Но Хо<br/>
Ванна Хойя, Яна Хойя, Но Хо<br/>
<br/>
Этот день, этот день - он такой же, как ночь, но жарче;<br/>
Это вода; это вода, в ней яд - прочь;<br/>
Это мы; мы коснулись воды губами, <br/>
И мы будем вместе всю ночь,<br/>
 E         A6        E   A6<br/>
Мы будем вместе всю ночь...<br/>
E                 A6                  E   A6          <br/>
 Я скажу тебе: "Скипси драг, скипси драг";<br/>
E                   A6          E          A6<br/>
 Я скажу тебе, я скажу тебе: "Скипси драг"... <br/>
<br/>
E A6     E  A6<br/>
    <span style="color:#4D4D4D">Всю ночь…<br/></span>
E A6     E  A6<br/>
    <span style="color:#1C1C1C">Всю ночь…<br/></span>
 <br/>
 E             A6               E   A6<br/>
<span style="color:silver">Мы-ы-ы</span><span style="color:#969696">
будем</span> <span style="color:gray">вместе </span>      <span style="color:#5F5F5F"> всю</span>
ночь<br/>
Ванна Хойя,          Яна Хойя, Но Хо<br/>
E              A6               E   A6<br/>
<span style="color:silver">Мы-ы-ы</span><span style="color:#969696">
будем</span> <span style="color:gray">вместе </span>      <span style="color:#5F5F5F"> всю</span>
ночь<br/>
Ванна Хойя,          Яна Хойя, Но Хо<br/>
E              A6               E   A6<br/>
<span style="color:silver">Мы-ы-ы</span><span style="color:#969696">
будем</span> <span style="color:gray">вместе<span style="background:#F1F1F1">
</span></span><span style="background:#F1F1F1">   </span><span style="background:#E9E9E9">   </span><span style="color:#5F5F5F;background:#E6E6E6"> в</span><span style="color:#999999;background:#E6E6E6">сю</span><span style="background:#E6E6E6"> </span><span style="color:gray;background:#E6E6E6">ночь</span><span style="color:#EAEAEA;background:#E6E6E6">____<br/></span>
Ванна Хойя,          <span style="background:#F1F1F1">Ян</span><span style="background:#E6E6E6">а Хо<span style="color:#777777">йя</span></span><span style="color:#777777;background:#E6E6E6">, </span><span style="color:#999999;background:#E6E6E6">Но</span><span style="background:#E6E6E6"> </span><span style="color:#999999;background:#E6E6E6">Хо</span><span style="color:#EAEAEA;background:#E6E6E6">_______________<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A6<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
