{% extends "chords.html" %}

{% set title = "Время луны" %}
{% set handbook_unid = "56bba4aae2deda9dc325679d006af2c1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАДИО АФРИКА - время луны<br/>
</span><span style="color:red"> <br/>
ВРЕМЯ ЛУНЫ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C Am F F/e G F Em G – 2р.<br/>
<br/>
   C<br/>
Я видел вчера новый фильм,<br/>
   Am<br/>
Я вышел из зала таким же, как раньше;<br/>
    C<br/>
Я знаю уют вагонов метро,<br/>
    Am<br/>
Когда известны законы движенья;<br/>
  F        F/e<br/>
И я читал несколько книг,<br/>
   Dm<br/>
Я знаю радость печатного слова,<br/>
     F                     F/e<br/>
Но сделай лишь шаг - ты вступишь в игру,<br/>
       G   <span style="color:gray">F   Em</span> G<br/>
В которой нет правил. <br/>
<br/>
Проигрыш: C Am F F/e G F Em G – 2р.<br/>
<br/>
Нет времени ждать,<br/>
Едва ли есть кто-то, кто поможет нам в этом;<br/>
Подай мне знак,<br/>
Когда ты будешь знать, что выхода нет;<br/>
Структуры тепла,<br/>
Ещё один символ - не больше, чем выстрел,<br/>
Но, слышишь меня: у нас есть шанс,<br/>
В котором нет правил.<br/>
<br/>
  C                Am<br/>
Время Луны - это время Луны;<br/>
   F               F/e<br/>
У нас есть шанс, у нас есть шанс,<br/>
       G<span style="color:gray">   F   Em</span> G<br/>
В котором нет правил.<br/>
<br/>
Время Луны - это время Луны;<br/>
У нас есть шанс, у нас есть шанс,<br/>
В котором нет правил.<br/>
<br/>
Проигрыш: C Am F F/e G F Em G – 2р.<br/>
<br/>
Время Луны - это время Луны;<br/>
У нас есть шанс, у нас есть шанс,<br/>
В котором нет правил.<br/>
<br/>
Время Луны - это время Луны;<br/>
У нас есть шанс, у нас есть шанс,<br/>
В котором нет правил.<br/>
<br/>
   F               F/e<br/>
У нас есть шанс, у нас есть шанс,<br/>
     G<br/>
В котором нет правил.<br/>
   F<br/>
У нас есть шанс, у нас есть шанс,<br/>
     G<br/>
В котором нет правил.<br/>
   F<br/>
У нас есть шанс, у нас есть шанс,<br/>
     G<br/>
В котором нет правил.<br/>
<br/>
Время Луны - это время Луны;<br/>
У нас есть шанс, у нас есть шанс,<br/>
В котором нет правил…<br/>
<br/>
<span style="color:#EAEAEA">У</span>  <span style="color:silver">на-а-а-с</span> <span style="color:#969696">есть </span><span style="color:silver">ша-а-а-а-нс<br/></span>
 Время Луны - это время Луны;<br/>
<span style="color:#969696">У  на-а-а-а-а-</span><span style="color:gray">ас     е-е-е-есть <br/></span>
 У нас есть шанс, у нас есть шанс,<br/>
  <span style="color:#969696">ша-а-а-а-а-а-а-нс…<br/></span>
В котором нет правил…<br/>
<br/>
<span style="color:#EAEAEA">У</span>  <span style="color:silver">на-а-а-с</span> <span style="color:#969696">есть </span><span style="color:silver">ша-а-а-а-нс<br/></span>
 Время Луны - это время Луны;<br/>
<span style="color:#969696">У  на-а-а-а-а-</span><span style="color:gray">ас     е-е-е-есть <br/></span>
 У нас есть шанс, у нас есть шанс,<br/>
  <span style="color:#969696">ша-а-а-а-а-а-а-нс…<br/></span>
В котором нет правил…<br/>
<br/>
<span style="color:#EAEAEA">У</span>  <span style="color:silver">на-а-а-с</span> <span style="color:#969696">есть </span><span style="color:silver">ша-а-а-а-нс<br/></span>
 Время Луны - это время Луны;<br/>
<span style="color:#969696">У  на-а-а-а-а-</span><span style="color:gray">ас     е-е-е-есть <br/></span>
 У нас есть шанс, у нас есть шанс,<br/>
  <span style="color:#969696">ша-а-а-а-а-а-а-нс…<br/></span>
В котором нет правил…<br/>
<span style="color:#EAEAEA"> <br/>
У</span>  <span style="color:silver">на-а-а-с</span> <span style="color:#969696">есть </span><span style="color:silver">ша-а-а-а-нс<br/></span>
 Время Луны - это <span style="color:#333333">время Луны;<br/>
</span><span style="color:#969696;background:#F7F7F7">У  на-а-</span><span style="color:#969696;background:#EEEEEE">а-а-а-</span><span style="color:gray;background:#EEEEEE">ас</span><span style="color:gray;background:#E6E6E6">     е-е-е-есть <br/>
</span><span style="color:#5F5F5F;background:#F7F7F7">У нас </span><span style="color:#5F5F5F;background:#F1F1F1">есть</span><span style="background:#F1F1F1"> </span><span style="color:#777777;background:#EEEEEE">шанс, у нас</span><span style="color:#777777;background:#E6E6E6"> есть</span><span style="background:#E6E6E6"> </span><span style="color:gray;background:#E6E6E6">шанс,<br/>
  ша-а-а-а-а-а-а-нс</span><span style="color:#EAEAEA;background:#E6E6E6">___<br/>
</span><span style="color:gray;background:#E6E6E6">В котором нет </span><span style="color:#969696;background:#E6E6E6">правил</span><span style="color:#EAEAEA;background:#E6E6E6">_______________<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
