{% extends "chords.html" %}

{% set title = "Всадник между небом и землёй" %}
{% set handbook_unid = "44c93b5b2ac71b12c325679d006af1cb" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ГИПЕРБОРЕЯ - всадник между небом и землёй<br/>
</span><span style="color:red"> <br/>
ВСАДНИК МЕЖДУ НЕБОМ И ЗЕМЛЁЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: G Em - 3р. C# D<br/>
<br/>
 G        D        Hm  Em<br/>
Тайным царём и скитальцем<br/>
      F     C    G<br/>
Что скорбен и устал -<br/>
 G             D      Hm Em<br/>
Путь свой пройти не пытайся,<br/>
     F    C       G<br/>
Не зная, кем ты стал<br/>
     F   C     F  D<br/>
В династии зеркал. <br/>
<br/>
Знают они изначально -<br/>
Что голос твой хранит;<br/>
В красках огня и печали<br/>
В сиянье чёрных крыл<br/>
От взоров их сокрыт <br/>
<br/>
  G            F#         Hm  F C G<br/>
Всадник между небом и землёй. <br/>
<br/>
Проигрыш: Em G Em G Em G A D - 2p. <br/>
D D7 Dsus4 D5 Dsus4, D Dm Dsus2 D, <br/>
D Dsus4 D Dsus4 Dm Dadd11+ D<br/>
G Em - 3p. C# D<br/>
<br/>
Птицу тебя окольцует<br/>
Их вера, что веры нет;<br/>
Но белая дева танцует<br/>
С магистром непрожитых лет,<br/>
Закованным в лунный свет. <br/>
<br/>
  G            F#         Hm<br/>
Всадник между небом и землёй. <br/>
  G            F#         Hm <br/>
Всадник между небом и землёй. <br/>
  G            F#         Hm  F C G<br/>
Всадник между небом и землёй. <br/>
<br/>
Заключение: G Em - 7p. Edim Fdim Edim D# D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D5<br/>
  E---|---|---|---|-■-|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dadd11+<br/>
  E---|---|---|-■-|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Edim<br/>
  E---|---|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Fdim<br/>
  E---|---|---|-■-|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|---|-■-|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
