{% extends "chords.html" %}

{% set title = "Генерал" %}
{% set extra_title = "(В.Цой)" %}
{% set handbook_unid = "2d0326cf88985ba6c32569d9003e8b15" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЧУЖИЕ ПЕСНИ - генерал (в.цой)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
генерал <br/>
</span><i>В.Цой<br/></i>
 <br/>
Вступление: <br/>
Am Fm G Am/h Am/c<br/>
Am Fm G Am - 3p.<br/>
<br/>
 Am                     Fm<br/>
Где ты теперь и с кем, кто хочет быть судьей,<br/>
  G               Am<br/>
Кто помнит все имена?<br/>
Am                   Fm<br/>
Нам не хватает тем, не нарушай покой,<br/>
  G                 Am<br/>
Эта ночь слишком темна.<br/>
<br/>
  B                   C<br/>
Где твой мундир, генерал,<br/>
          B                 Am<br/>
Твои ордена, спина, как струна?<br/>
 B              Dm<br/>
Ты уже слышал отбой<br/>
                   C               B B<br/>
Это дождь бил по крыше твоей, генерал.<br/>
<br/>
Проигрыш: Am Fm G Am - 2p.<br/>
<br/>
Все находят время, чтобы уйти,<br/>
Никто не уйдет навсегда<br/>
Парламентеры один за другим<br/>
И каждый знает горечь плода.<br/>
<br/>
Где твой мундир, генерал,<br/>
Твои ордена, спина, как струна?<br/>
Ты уже слышал отбой<br/>
Это дождь бил по крыше твоей, генерал.<br/>
<br/>
Проигрыш: Am Fm G Am - 4p.<br/>
<br/>
Хочется спать, но вот включен газ<br/>
Вот горит свет ста свечей.<br/>
Может быть завтра с утра будет солнце<br/>
И тот ключ в связке ключей?<br/>
<br/>
Где твой мундир, генерал,<br/>
Твои ордена, спина, как струна?<br/>
Ты уже слышал отбой<br/>
Это дождь бил по крыше твоей, генерал.<br/>
<br/>
Заключение: Am Fm G Am - 3p. Am Fm Fm Fm<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
