{% extends "chords.html" %}

{% set title = "Герои рок'н'ролла (Молодая шпана)" %}
{% set handbook_unid = "0e0a00d67fec3e9ec325679d006af02d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - герои рок’н’ролла (молодая шпана)<br/>
</span><span style="color:red"> <br/>
ГЕРОИ РОК’Н’РОЛЛА (МОЛОДАЯ ШПАНА)<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Чуваки! А!?<br/>
<br/>
  A           F#m<br/>
Мне пора на покой -<br/>
    Hm                    Hm+7<br/>
Я устал быть послом рок-н-ролла<br/>
                  Hm7<br/>
В неритмичной стране.<br/>
   F#m          E                   D 6:0 6:II 6:IV<br/>
Я уже не боюсь тех, кто уверен во мне.<br/>
<br/>
       A                                              <br/>
Мы танцуем на столах в субботнюю ночь,<br/>
F#m<br/>
   Мы старики, и мы не можем помочь,<br/>
    Hm<br/>
Но мы никому не хотим мешать,<br/>
        E<br/>
Дайте счёт в сберкассе - мы умчимся прочь;<br/>
A<br/>
 Я куплю себе Arp и drum-machine,<br/>
F#m<br/>
   И буду писаться совсем один,<br/>
      Hm<br/>
С двумя-тремя друзьями, мирно, <br/>
            E<br/>
До самых седин...<br/>
<br/>
Hm                     E             A  A7<br/>
Если б вы знали, как мне надоел скандал;<br/>
    Hm      Hm7<br/>
Я готов уйти; эй, кто здесь<br/>
       E<br/>
Претендует на мой пьедестал?<br/>
<br/>
A            F#m<br/>
И где та молодая шпана,<br/>
       Hm                 E<br/>
Что сотрёт нас с лица земли?<br/>
A           F#m<br/>
 Где та молодая шпана,<br/>
        Hm                E<br/>
Что сотрёт нас с лица земли?<br/>
A           F#m<br/>
 Где та молодая шпана,<br/>
       Hm                 E<br/>
Что сотрёт нас с лица земли?<br/>
   F#m<br/>
Её нет, нет, нет...<br/>
F#m+7<br/>
Нет, нет, нет…<br/>
F#m7         E<br/>
Нет, нет, нет…<br/>
<br/>
     A<br/>
Моё место под солнцем жарко как печь.<br/>
F#m<br/>
   Мне хочется спать, но некуда лечь.<br/>
    Hm<br/>
У меня не осталось уже ничего,<br/>
   E<br/>
Чего я мог или хотел бы сберечь;<br/>
         A<br/>
И мы на полном лету в этом странном пути,<br/>
  F#m<br/>
И нет дверей, куда мы могли бы войти.<br/>
  Hm<br/>
Забавно думать, что есть ещё люди,<br/>
     E<br/>
У которых всё впереди.<br/>
<br/>
Hm                 E<br/>
 "Жить быстро, умереть молодым" -<br/>
      A                  A7<br/>
Это старый клич; но я хочу быть живым.<br/>
     Hm           Hm7<br/>
Но кто-то тянет меня за язык,<br/>
   E                               <br/>
И там, где был дом, остаётся дым;<br/>
F#m<br/>
   Но другого пути, вероятно, нет.<br/>
E<br/>
 Вперёд - это там, где красный свет...<br/>
<br/>
Где та молодая шпана,<br/>
Что сотрёт нас с лица земли?<br/>
Где та молодая шпана,<br/>
Что сотрёт нас с лица земли?<br/>
Где та молодая шпана,<br/>
Что сотрёт нас с лица земли?<br/>
Её нет, нет, нет...<br/>
Нет, нет, нет…<br/>
Нет, нет, нет…<br/>
<br/>
Проигрыш: A A F#m F#m Hm Hm E E – 2p.<br/>
<br/>
Где та молодая шпана,<br/>
Что сотрёт нас с лица земли?<br/>
Где та молодая шпана,<br/>
Что сотрёт нас с лица земли?<br/>
Где та молодая шпана,<br/>
Что сотрёт нас с лица земли?<br/>
Где та молодая шпана,<br/>
Что сотрёт нас с лица земли?..<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Hm+7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          F#m+7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|-■-|---|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          F#m7<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
