{% extends "chords.html" %}

{% set title = "Голова Альфредо Гарсии" %}
{% set handbook_unid = "af447afb13940b07c32570b7003345b8" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - голова альфреда гарсии<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Голова Альфредо Гарсии<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление:  A A/g - 4p.<br/>
<br/>
   A<br/>
В детстве мне снился один и тот-же сон:<br/>
           Em<br/>
Что я иду весел, небрит, пьян и влюблён,<br/>
          D                                     A     A/g<br/>
И пою песни, распространяя вокруг себя свет и сладость.<br/>
   A<br/>
Теперь друзья говорят, что эти песни не нужны,<br/>
            Em<br/>
Что они далеки от чаяний нашей страны;<br/>
   D                                                  A      A/g<br/>
И нужно петь про нефть. Я устарел. Мне не понять эту радость.<br/>
<br/>
Новости украшают наш быт:<br/>
Пожары, катастрофы, ещё один убит,<br/>
И всенародная запись на курсы, как учиться бодаться;<br/>
На каждой странице - Обнаженная Маха,<br/>
Я начинаю напоминать себе монаха -<br/>
Вокруг нет искушений, которым я хотел бы поддаться.<br/>
<br/>
      Hm           <br/>
И я прошу - что было сил,<br/>
     C#m<br/>
Я прошу, как никогда не просил,<br/>
      D<br/>
Я прошу - заварите мне девятисил<br/>
Esus4 E    G           D                  A  Asus4 A<br/>
И ещё: унесите отсюда голову Альфредо Гарсии;<br/>
    G           D                  A  Asus4 A<br/>
Унесите отсюда голову Альфредо Гарсии;<br/>
Em<br/>
Вы - несостоявшиеся мессии,<br/>
       G<br/>
И население всей соборной России -<br/>
       C                      G               D  Dsus4 D<br/>
Воздержитесь от торговли головой Альфредо Гарсии;<br/>
   Em          Gm          A       D  D D E<br/>
Унесите отсюда голову Альфредо Гарсии.<br/>
<br/>
Проигрыш:  A A/g - 2p.<br/>
<br/>
Главная национальная особенность - понт;<br/>
Неприглядно, слякотно и вечный ремонт -<br/>
Говорят, с этим можно справиться, если взяться дружно;<br/>
Но мешает смятенье в неокрепших умах;<br/>
Засада в пригородах, медведь на холмах,<br/>
И женщины носят матросов на головах, значит им это нужно;<br/>
<br/>
Маразм на линии электропередач,<br/>
Всадник с чашей Грааля несётся вскачь,<br/>
Но под копытами - пересечённая распиздяйством местность;<br/>
Даже хоры ангелов в этом краю<br/>
Звучат совсем не так, как в раю;<br/>
То ли нужно менять слуховой аппарат, то ли менять окрестность.<br/>
<br/>
И я прошу - что было сил,<br/>
Я прошу, как никогда не просил,<br/>
Я прошу - заварите мне девятисил<br/>
И ещё: унесите отсюда голову Альфредо Гарсии;<br/>
Унесите отсюда голову Альфредо Гарсии;    <br/>
Вы - несостоявшиеся мессии,<br/>
И население всей соборной России -<br/>
Воздержитесь от торговли головой Альфредо Гарсии;<br/>
    Em          Gm         A       D D/с# D/с D/h A<br/>
Унесите отсюда голову Альфредо Гарсии.<br/>
<br/>
Проигрыш: D D/с# D/с D/h E E E E    <br/>
A A Em Em D D A A - 2p. <br/>
Hm Hm C#m C#m D D E E<br/>
<br/>
    G           D                  A  Asus4 A<br/>
Унесите отсюда голову Альфредо Гарсии;<br/>
    G           D                  A  Asus4 A<br/>
Унесите отсюда голову Альфредо Гарсии;<br/>
Em<br/>
Вы - несостоявшиеся мессии,<br/>
       G<br/>
И население всей соборной России -<br/>
       C                      G               D  Dsus4 D<br/>
Воздержитесь от торговли головой Альфредо Гарсии;<br/>
   Em          Gm          A       D  G G6/h<br/>
Унесите отсюда голову Альфредо Гарсии;<br/>
    Em          A                  D D/с# D/с D/h A<br/>
Унесите отсюда голову Альфредо Гарсии.<br/>
<br/>
Заключение: D D/с# D/с D/h A - 2p. A…<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/g<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/c<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/h<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
