{% extends "chords.html" %}

{% set title = "Граф Гарсия" %}
{% set handbook_unid = "8ec3260f10b45498c325679d006aeea7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - граф гарсия<br/>
</span><span style="color:red"> <br/>
ГРАФ ГАРСИЯ<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/></i>
 <br/>
Вступление: E F G(III) F E – 3р. E F G(III) F E<br/>
<br/>
      E          F           E<br/>
Граф Гарсиа - известный хулиган,<br/>
           E     F       E<br/>
Подверг насилию королеву Анну.<br/>
      E          F         E<br/>
Граф Гарсиа - могучий пироман,<br/>
             E      F          G E<br/>
Не раз был глупым дворником обманут.<br/>
<br/>
     Am       G          Am<br/>
Судьба его нелепа и грустна,<br/>
               Am     G         Am<br/>
Ведь мозг спинной он потерял в тумане.<br/>
    F<br/>
Осталась лишь материя одна -<br/>
                                 E Am<br/>
Несчастный граф, топи себя в сметане.<br/>
<br/>
Заключение: E F G(III) F E – 8р. E F G(III) F E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
