{% extends "chords.html" %}

{% set title = "Двигаться дальше" %}
{% set handbook_unid = "38c242234add0fc4c325679d006aeebf" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕНЬ СЕРЕБРА - двигаться дальше<br/>
</span><span style="color:red"> <br/>
ДВИГАТЬСЯ ДАЛЬШЕ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: <br/>
  С  C     G   F    G <br/>
E-3--3------3--1-2-1-3-<br/>
H-5--5-3-1-0--------0-- С C G F G<br/>
G----------------------<br/>
<br/>
С<br/>
 Двигаться дальше, двигаться дальше,<br/>
              G<br/>
Как страшно двигаться дальше,<br/>
C<br/>
 Выстроил дом, в доме становится тесно,<br/>
          G<br/>
На улице мокрый снег.<br/>
Dm            Fm<br/>
  Ветер и луна, цветы абрикоса -<br/>
       Em              G<br/>
Какая терпкая сладость;<br/>
Dm                    Fm<br/>
  Ветер и луна, всё время одно и то же;<br/>
          5:II 5:III 5:II 5:III 5:II 5:III 5:II 5:III<br/>
          Em <br/>
Хочется сделать шаг. <br/>
<br/>
Проигрыш: С C G F G – 2p.<br/>
<br/>
Рождённые в травах, убитые мечом,<br/>
Мы думаем, это важно.<br/>
А кто-то смеётся, глядя с той стороны:<br/>
"Да, это мастер иллюзий!"<br/>
Простые слова, их странные связи -<br/>
Какой безотказный метод!<br/>
И я пишу песни, всё время одни и те же:<br/>
Хочется сделать шаг.<br/>
<br/>
Проигрыш: C C G Dm Fm G#m – 2p.<br/>
<br/>
C              F<br/>
 Иногда это странно,<br/>
C            D<br/>
 Иногда это больше чем я;<br/>
D             Em<br/>
 Едва ли я смогу сказать,<br/>
Hm               C<br/>
  Как это заставляет меня,<br/>
  F       G<br/>
Просит меня <br/>
<br/>
Двигаться дальше, двигаться дальше<br/>
Как страшно двигаться дальше.<br/>
Но я ещё помню это место,<br/>
Когда здесь не было людно.<br/>
Я оставляю эти цветы<br/>
Для тех, кто появится после;<br/>
Дай Бог вам покоя, пока вам не хочется <br/>
Делать шаг...<br/>
<br/>
Проигрыш: C C G Dm Fm G – 5p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
