{% extends "chords.html" %}

{% set title = "Держаться корней" %}
{% set handbook_unid = "92e5b115f20e23b4c325679d006af0ff" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - держаться корней<br/>
</span><span style="color:red"> <br/>
ДЕРЖАТЬСЯ КОРНЕЙ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: Em Em7 Em Am Am7 Am – 4p.<br/>
<br/>
Em                     Am<br/>
  Они красят стены в коричневый цвет,<br/>
   Am       Am/g      Em<br/>
И пишут на крышах слова;<br/>
Em                    Am<br/>
  Имеют на завтрак имбирный лимон,<br/>
  Am       Am/g     Em<br/>
И рубль считают за два.<br/>
Am                        D<br/>
  Мне было бы лестно придти к ним домой,<br/>
G                F#<br/>
И оказаться сильней -<br/>
      F              H                   Em<br/>
Но, чтобы стоять, я должен держаться корней.<br/>
<br/>
Проигрыш: Em Em7 Em Am Am7 Am – 4p.<br/>
<br/>
Ты можешь купить себе новый Hi-Fi,<br/>
Или просто идти в гастроном;<br/>
И медитировать на потолке,<br/>
Облитым дешёвым вином.<br/>
Сложить свою голову в телеэкран,<br/>
И думать, что будешь умней.<br/>
Но, чтобы стоять, я должен держаться корней.<br/>
<br/>
Проигрыш: Em Em7 Em Am Am7 Am – 4p.<br/>
<br/>
Em                  G<br/>
  Они говорят, что губы её<br/>
  A                  C    <br/>
Стали сегодня, как ртуть;<br/>
Em                   G<br/>
  Что она ушла чересчур далеко,<br/>
     A            C    <br/>
Что её уже не вернуть;<br/>
   Em                   G<br/>
Но есть ли средь нас хотя бы один,<br/>
     A                C<br/>
Кто мог бы пройти её путь,<br/>
Am            C             H  H<br/>
Или сказать, чем мы обязаны ей?..<br/>
<br/>
Em                    Am<br/>
  Но чем дальше, тем будет быстрей;<br/>
Em                        Am<br/>
  Все помнят отцов, но зовут матерей;<br/>
Em                      Am<br/>
  И они говорят, что у них веселей -<br/>
   C        Am                D<br/>
В доме, в котором не гасят огней...<br/>
      C              D                  Em<br/>
Но, чтобы стоять, я должен держаться корней.<br/>
<br/>
Проигрыш: Em Em7 Em Am Am7 Am – 2p.<br/>
<br/>
Так строй свой бюджет на запасах вина,<br/>
Что хранятся в твоих кладовых.<br/>
Кормись на тех, кто кормит тебя,<br/>
Забудь про всех остальных.<br/>
И я мог бы быть таким же, как ты,<br/>
И это бы было верней;<br/>
      F              H                   Em Em7 Em A A7 A <br/>
Но, чтобы стоять, я должен держаться корней.<br/>
  C              H                   Em Em7 Em Am Am7 Am <br/>
Чтобы стоять, я должен держаться корней.<br/>
<br/>
Заключение: <br/>
Em Em7 Em Am Am7 Am – 4p. <br/>
Em Em7 Em <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
