{% extends "chords.html" %}

{% set title = "Дело за мной" %}
{% set handbook_unid = "79840f171cc454f5c325714f0048e311" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - дело за мной<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Дело за мной <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: <br/>
D-4-2-0------<br/>
A-------2-0-- C C C C/h D D - 2p. G G G G<br/>
E-----------3<br/>
<br/>
G          G/f# Em         Em/d<br/>
 Сегодня днём единственная тень<br/>
     C           D         G<br/>
Это тень от облаков на траве.<br/>
  G                Hm<br/>
Иду, как будто бы козырь в кармане<br/>
    C<br/>
И ещё полтора в рукаве;<br/>
C          G<br/>
 Я напоен солнцем,<br/>
C           G6/h<br/>
 Я напоен луной.<br/>
G   Hm            C        G6/h<br/>
 Я чувствую, что ты где-то рядом<br/>
      C        D        G<br/>
И я знаю, что дело за мной.<br/>
<br/>
Проигрыш: G - 3p.<br/>
<br/>
Мы бьёмся, как мухи в стекло,<br/>
Мы попали в расколдованный круг;<br/>
Отчётливо пахнет плесенью.<br/>
Моя душа рвётся на юг.<br/>
Сколько можно стоять в болоте,<br/>
   C                 Hm<br/>
Пугая друг друга волной?<br/>
Кто-то должен был спеть эту песню,<br/>
И, похоже, что дело за мной.<br/>
<br/>
          Hm            C<br/>
Дело за мной, дело за мной<br/>
C        Hm      C          G6/h<br/>
Я был на Ибице и я был в Кремле<br/>
     C          D        G<br/>
И я понял, что дело за мной.<br/>
<br/>
Проигрыш: G - 3p.<br/>
<br/>
Злоумышленники отключили наш мын<br/>
Теперь мы временно без;<br/>
Мы, конечно, вернём его, как только<br/>
Закончим писать SMS;<br/>
Ты в одном сантиметре,<br/>
              C                      Hm<br/>
Я с тем же успехом мог бы быть на луне<br/>
Похожая история была в Вавилоне,<br/>
Но на этот раз дело во мне.<br/>
<br/>
А в аэропортах не успевают<br/>
Подкатывать трапы к бортам;<br/>
Все куда-то торопятся,<br/>
Не понимая, что они уже там;<br/>
Мы с ними одной крови,<br/>
   C                       Hm<br/>
Лицом к одной и той же стене,<br/>
Единственная разница между нами - <br/>
Я понял, что дело во мне.<br/>
<br/>
Дело во мне, дело во мне<br/>
Я прыгал окунем, летал в облаках -<br/>
И я понял, что дело во мне.<br/>
<br/>
Проигрыш: G - 3p. <br/>
G G/f# Em Em/d C D G, G Hm C, C G, C Hm, G Hm C G6/h, C D G G G G<br/>
<br/>
Как правая нога <br/>
Следует за левой ногой<br/>
С тех пор, как я знаю тебя<br/>
Мне не нужен никто другой;<br/>
Говорят, тебя нет здесь,<br/>
    C                    Hm<br/>
Я слышал, что ты в стороне<br/>
Но если б я не смог достучаться до тебя,<br/>
Я бы думал, что дело во мне.<br/>
<br/>
Проигрыш: G - 3p.<br/>
<br/>
А те, кто говорят, что не знают тебя -<br/>
Только ты можешь их спасти.<br/>
Ты дала мне этот мир как игрушку, <br/>
Я верну тебе его в целости;<br/>
Нахожу тебя в нежности ветра,<br/>
   C                    Hm<br/>
В каждой набежавшей волне,<br/>
Я даже не думал, что такое возможно,<br/>
Я не думал, что дело во мне<br/>
<br/>
          Hm<br/>
А дело во мне<br/>
          C D D<br/>
Дело во мне<br/>
<br/>
Заключение:<br/>
D-4-2-0------<br/>
A-------2-0-- C C C C/h D D - 2p. G <br/>
E-----------3<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em/d<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
