{% extends "chords.html" %}

{% set title = "Девушки танцуют одни" %}
{% set handbook_unid = "9398ac1cbbb80558c325679d006af063" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПУШКИНСКАЯ, 10 - девушки танцуют одни<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Девушки танцуют одни<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Каподастр на 3-м ладу<br/>
<br/>
Вступление:<br/>
G G G G/d C G/d G C D<br/>
G G G G/d C G/d C G/d C C C C C C D G<br/>
<br/>
G               Em C                        G  Dsus2/f#<br/>
 Мы закрыли глаза   чтоб не знать как нам плохо<br/>
G                    Em C                     G<br/>
 И с тех пор всё равно   где здесь ночи где дни<br/>
C                  G<br/>
 Партизанским костром <br/>
G     Dsus2/f# Em<br/>
 Догорает эпоха<br/>
C                    G   Em<br/>
 А в парикмахерских вальс<br/>
 C          D      G Dsus4 D Dsus2 D Dsus4 D Dsus2 D<br/>
Девушки танцуют одни<br/>
<br/>
G                 Em C                 G<br/>
 На роскошных столах  все накрыто для пира<br/>
G                Em C                D<br/>
 Только нету гостей  хоть зови не зови<br/>
C                    G<br/>
 Можно бить хоть разбей <br/>
   G   Dsus2/f#  Em<br/>
В бубен верхнего мира<br/>
C                 G Em<br/>
 Только летчиков нет<br/>
 C          D      G Dsus4 D Dsus2 D<br/>
Девушки танцуют одни<br/>
<br/>
Проигрыш: G Em C G Dsus4 D Dsus2 D Dsus4 D Dsus2 D<br/>
<br/>
G               Em C                   G<br/>
 Все иконы в шитье  так что ликам нет места<br/>
G            Em C              D<br/>
 А святую святых завалили в пыли<br/>
C                 G<br/>
 В алтаре как свеча <br/>
 G   Dsus2/f#  Em<br/>
Молча гаснет невеста<br/>
C                  G Em<br/>
 Но все куда-то ушли<br/>
   C          D      G Dsus4 D Dsus2 D Dsus4 D Dsus2 D<br/>
И девушки танцуют одни<br/>
<br/>
Проигрыш: G Em C G Dsus2/f# G Em C G C G G Dsus2/f# Em C G Em C D G <br/>
Dsus4 D Dsus2 D Dsus4 D Dsus2 D<br/>
<br/>
G               Em C                   G<br/>
 От пещер Катманду  до мостов Сан-Франциско<br/>
G          Em C               D<br/>
 Алеет восток  и мерцают в тени<br/>
C              G<br/>
 Эти двери в Эдем <br/>
G       Dsus2/f#     Em<br/>
 Что всегда слишком близко<br/>
C                    G  Em<br/>
 Но нам было лень встать<br/>
   C          D      G Dsus4 D Dsus2 D Dsus4 D Dsus2 D<br/>
И девушки танцуют одни<br/>
<br/>
Проигрыш: G C G G G C G G G C G G G C D G<br/>
<br/>
G           Em  C                G<br/>
 Научи меня петь вопреки всей надежде<br/>
G              Em  C                  D<br/>
 Оторваться и прочь сквозь завесы земли<br/>
C             G<br/>
 Ярче тысячи солнц <br/>
         G   Dsus2/f# Em<br/>
Пусть горит всё что прежде<br/>
C          G Em<br/>
 Я ещё попою<br/>
   C          D      G<br/>
А девушки танцуют одни<br/>
<br/>
Заключение: <br/>
  Dsus4 D Dsus2 D Dsus4 D Dsus2 D Dsus4 D Dsus2 D Dsus4 D Dsus2 D<br/>
E-5---------------2-------3-------6-------9-------12------15-----<br/>
H---------5------------------------------------------------------<br/>
G----------------------------------------------------------------<br/>
D----------------------------------------------------------------<br/>
Dsus4 D Dsus2 D - 8p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/d<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Dsus2/f#<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
