{% extends "chords.html" %}

{% set title = "Дело мастера Бо" %}
{% set handbook_unid = "7267eb9455773c73c325679d006af0f3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕНЬ СЕРЕБРА - дело мастера бо<br/>
</span><span style="color:red"> <br/>
ДЕЛО МАСТЕРА БО<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление:<br/>
  Dadd9       Dmadd9/5- Dsus4add9<br/>
E------12---------12---------12-----------------------<br/>
H----10----10----9----9----10----10-0--0--0-0---------<br/>
G--11----11----10---10---12----12---0--0--0-0-------2-<br/>
D-0-----------0---------0-----------11-10-2-0---1-4---<br/>
A---------------------------------------------3-------<br/>
E-----------------------------------------------------<br/>
<br/>
  G      Em/c#<br/>
Она открывает окно,<br/>
     C+7              G<br/>
Под снегом не видно крыш.<br/>
  G              G/f#<br/>
Она говорит: "Ты помнишь, ты думал,                                     <br/>
     G/f               C    5:I 6:0 G<br/>
Что снег состоит из молекул?"<br/>
G            Em/c#<br/>
 Дракон приземлился на поле - <br/>
 C                       G<br/>
Поздно считать, что ты спишь,<br/>
   G         G/f#               G/f  G<br/>
Хотя сон был свойственным этому веку.<br/>
Em             D             C     C/h       G<br/>
  Но время сомнений прошло, уже раздвинут камыш;<br/>
G       Em/c#       C       C/h   C<br/>
 Благоприятен брод через великую реку.<br/>
   G         Em    D<br/>
А вода продолжает течь<br/>
C                G<br/>
 Под мостом Мирабо;<br/>
    Em Hm       C<br/>
Но что нам с того?<br/>
A<br/>
Это<br/>
 C            G<br/>
Дело мастера Бо. <br/>
<br/>
Проигрыш:<br/>
  Dadd9       Dmadd9/5- Dsus4add9<br/>
E------12---------12---------12-----------------------<br/>
H----10----10----9----9----10----10-0--0--0-0---------<br/>
G--11----11----10---10---12----12---0--0--0-0-------2-<br/>
D-0-----------0---------0-----------11-10-2-0---1-4---<br/>
A---------------------------------------------3-------<br/>
E-----------------------------------------------------<br/>
<br/>
У тебя есть большие друзья,<br/>
Они снимут тебя в кино.<br/>
Ты лежишь в своей ванной, как среднее <br/>
Между Маратом и Архимедом.<br/>
Они звонят тебе в дверь - <br/>
Однако входят в окно,<br/>
И кто-то чужой рвётся за ними следом...<br/>
Они съедят твою плоть, как хлеб, и выпьют кровь, как вино;<br/>
И взяв три рубля на такси, они отправятся к новым победам;<br/>
А вода продолжает течь<br/>
Под мостом Мирабо;<br/>
Но что нам с того - <br/>
Это дело мастера Бо. <br/>
<br/>
Проигрыш: Gm F C<br/>
Gm F B(VI) A(V) G# G(III) F С<br/>
Am Hm Gm Bm(VI) F G#m D# D  <br/>
C B(VI) A(V) G# G(III)<br/>
<br/>
И вот - Рождество опять<br/>
Застало тебя врасплох.<br/>
А любовь для тебя - иностранный язык,<br/>
И в воздухе запах газа.<br/>
Естественный шок,<br/>
Это с нервов спадает мох;<br/>
И вопрос: "Отчего мы не жили так сразу?"<br/>
Но кто мог знать, что он провод, пока не включили ток?<br/>
Наступает эпоха интернационального джаза;<br/>
А вода продолжает течь<br/>
Под мостом Мирабо;<br/>
Теперь ты узнал,<br/>
     A      С               G Em/c#    <br/>
Что ты всегда был мастером Бо;<br/>
     A          C                 G Em/c#<br/>
А любовь - как метод вернуться домой;<br/>
   A          C            G G/f D# C G<br/>
Любовь - это дело мастера Бо...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    X     Dadd9<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IX    Dmadd9/5-<br/>
  E---|---|---|-■-|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    X    Dsus4add9<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/c#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/f<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     Bm(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
