{% extends "chords.html" %}

{% set title = "Дети декабря" %}
{% set handbook_unid = "488205919fadc11ac325679d006aef0a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕТИ ДЕКАБРЯ - дети декабря<br/>
</span><span style="color:red"> <br/>
ДЕТИ ДЕКАБРЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
   G       C G6/h        D      G         D C D<br/>
Здравствуй, я так давно не был рядом с тобой,<br/>
   Em       Hm      C                D<br/>
Но то, что держит вместе детей декабря,<br/>
       C            D                    G<br/>
Заставляет меня прощаться с тем, что я знаю,<br/>
   Em/c#            C Em/c#              D<br/>
И мне никогда не уйти,    до тех пор, пока...<br/>
   D                C                 C           Em/c# D D7<br/>
Но если ты хочешь слушать, то я хочу петь для тебя,<br/>
G6/h      C          G     D      G       G6/h C Em/c# D<br/>
И если ты хочешь пить, я стану водой для тебя.<br/>
<br/>
Заключение: <br/>
       G      D      G       D      G C  G   Em   Am      D <br/>
E----------------0-2-3-5h3-2----3-5-7-12-10-7-3-7-5-3h5-3-2-<br/>
H-3-0-----3-1-3--------------3------------------------------<br/>
G----2-0----------------------------------------------------<br/>
       G      D      G       D      G   C     G   Em   Am  D   G  - 3p.<br/>
E----------------0-2-3-5h3-2----3-5-7-7-12-12-10-7-3-7-5-3h5-3-3-<br/>
H-3-0-----3-1-3--------------3-----------------------------------<br/>
G----2-0---------------------------------------------------------<br/>
<br/>
  G<br/>
E-15~~~<br/>
H------<br/>
G------<br/>
<span style="color:#4D4D4D"> <br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/c#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
