{% extends "chords.html" %}

{% set title = "Девушка с веслом" %}
{% set handbook_unid = "c16447b33235b068c325750b0030d3a0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛОШАДЬ БЕЛАЯ - девушка с веслом<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
девушка с веслом<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
Вступление: <br/>
                  C         C                            C<br/>
    E-------------3--5-3--3-10-8-7-5-3-5-3-0-----------3-0<br/>
    H--------3-5-6----5---------------------3-1-0-1-3-1---<br/>
C C G-0-2-4-5---------------------------------------------<br/>
    D-----------------------------------------------------<br/>
    A-----------------------------------------------------<br/>
    E-----------------------------------------------------<br/>
<br/>
                        G<br/>
 Девушка с веслом на лихом коне<br/>
         Am            E<br/>
С шашкой наголо, вижу ты ко мне<br/>
F                       Am<br/>
 Заезжай во двор, постучись в окно<br/>
      Dm         G            G7 F C C<br/>
Видишь я не сплю, жду тебя давно<br/>
<br/>
C                          G<br/>
 Расскажи мне всю правду, не таясь<br/>
          Am                 E<br/>
Как там князь тверской, как рязанский князь?<br/>
F                       Am<br/>
 Как гудят в степи провода?<br/>
       Dm         G           G7<br/>
Как живут в Москве немцы и орда?<br/>
<br/>
       C                G<br/>
Как живет твой друг Пионер с трубой?<br/>
           Am            E<br/>
Он весь в трещинах, но ещё с тобой.<br/>
F                  Am<br/>
 Передай ему от меня<br/>
       Dm       G         G7 <br/>
До сих пор печёт от его огня.<br/>
<br/>
Проигрыш: C G Am E F Am Dm G<br/>
<br/>
C                   G<br/>
 Я налью тебе ключевой воды,<br/>
     Am            E<br/>
Отвези в свои чистые пруды.<br/>
F                    Am<br/>
 Пусть сияет там тишина,<br/>
         Dm     G           G7  <br/>
Пусть гуляют там Солнце и Луна.<br/>
<br/>
      C                   G<br/>
А случится что, слышишь, не горюй<br/>
     Am                  E<br/>
Рассекай веслом гладь небесных струн <br/>
F                        C<br/>
 Ведь твоё весло, как лихой булат <br/>
       Dm      G              G7<br/>
Всё поправит, и всё пойдет на лад.<br/>
<br/>
      C                  G<br/>
Девушка с веслом, ты красавица<br/>
      Am                   E<br/>
Мы затем и здесь, чтоб исправиться<br/>
F                      Am<br/>
 Мы сильны своим ремеслом<br/>
     Dm    G             G7<br/>
Заходи ещё, Девушка с веслом<br/>
      C            <br/>
Девушка с веслом...<br/>
<br/>
Заключение: G Am E F Am Dm G G7 C G Am E F C Dm G C C C C C<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
