{% extends "chords.html" %}

{% set title = "Для тех, кто влюблён" %}
{% set handbook_unid = "1ac85b0ad18ba558c325679d006af09f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - КОНЦЕРТНЫЕ ЗАПИСИ - для тех, кто влюблён<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
для тех, кто влюблён <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
  E--------------------<br/>
  H-3h5-5-3-3-1-1--0-1-<br/>
C G-------------------- Dm F G - 2p.<br/>
  D-3h5-5-3-3-2-2--0-2-<br/>
  A--------------------<br/>
<br/>
C              G          Am Em            F          G<br/>
 Не стой так близко ко мне, воздух здесь слишком прозрачен.<br/>
C  C/h        Am         Em          F     F/e    G<br/>
 А год уже запомнился всем своим количеством смертельных исходов.<br/>
F              C                          Am    Em       F        G<br/>
 Мои друзья советуют мне, но ты знаешь, странно - я не слышу ни слова,<br/>
C   C/h          Am     Em         F F/e     G<br/>
 И вновь стою на этом пороге, не зная, как двигаться дальше;<br/>
F                      C                  Am         Em       F      G<br/>
 И может быть, я буду сидеть здесь, вот так молча глядя, как падают листья,<br/>
C C/h           Am         Em      F      F/e     G                       C<br/>
     И медленно думать, о том что делают те, кто делает как тот, кто влюблен. <br/>
<br/>
Проигрыш: C Am F G - 2p.<br/>
<br/>
Когда-то у нас был метод, но ты должен помнить, как все это кончалось.<br/>
Так что все под контролем, вы можете быть спокойны.<br/>
Хотя любовь - это странная вещь, и никто никто не знает, что она скажет;<br/>
Но мы же взрослые люди, мы редко рискуем бесплатно; <br/>
Да и что мы в сущности можем, разве что рассказывать сказки,<br/>
C   C/h          Am          Em           F F/e G<br/>
 И верить в электричество, забыв, что мы сами что-то умели.<br/>
F                  C               Am   Em    F       G<br/>
 Или, может быть, поздно ночью, когда уже никто не услышит,<br/>
C        C/h    Am         Em    F        F/e      G                  C<br/>
 Глядя вслед уходящей звезде, молиться за то, что делают те, кто влюблен. <br/>
<br/>
Проигрыш: C Am F G - 2p.<br/>
C С Am Em F G, C C/h Am Em F F/e G<br/>
F C Am Em F, C C/h Am Em F F/e G - 3р. C C<br/>
<br/>
Так что же стало с плохими детьми, с теми, кто не слушался старших?<br/>
Они куда-то ушли, и едва ли вернутся обратно.<br/>
И мы вычеркнем их телефоны, и мы сделаем стены прочнее,<br/>
И будем молчать; и молчание сыграет с нами в странные игры; <br/>
И может быть, день будет ясным, и может быть, ночь будет странной<br/>
        C    C/h   Am       Em         F   F/e  G<br/>
В том смысле, что что-то случилось, хотя все осталось, как прежде.<br/>
F               C                     Am Em    F     G<br/>
 И один, если так будет нужно, раз уж эта звезда не гаснет,<br/>
C    C/h   Am        Em          F    F/e       G                  C<br/>
 Я забуду все, что я должен, и сделаю так, как делают те, кто влюблен.<br/>
<br/>
Заключение: C Am F G - 2p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
