{% extends "chords.html" %}

{% set title = "Ехал троллейбус по улице..." %}
{% set handbook_unid = "68d0e0da9d10489ec3256dcb006c348f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - ехал троллейбус по улице...<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Ехал троллейбус по улице...<br/>
</span><i>Б.Окуджава<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Am        H7       E   F<br/>
Ехал троллейбус по улице,<br/>
 Dm       E       Am<br/>
Женщина шла впереди.<br/>
Am         H7        E    F<br/>
 И все мужчины в тролейбусе<br/>
  Dm        E       Am<br/>
Глаз не сводили с нее.<br/>
<br/>
Троллейбус промчался мимо,<br/>
Женщину он обогнал.<br/>
Но все мужчины в тролейбусе <br/>
Глаз не сводили с нее.<br/>
<br/>
И только водитель тролейбуса<br/>
Головой не вертел.<br/>
Ведь должен хотя бы кто-нибудь<br/>
     Dm       E       Am Am6<br/>
Все время смотреть вперед.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am6<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
