{% extends "chords.html" %}

{% set title = "Зоя и Соня" %}
{% set handbook_unid = "922932299b8c83d2c3256923003f7fe0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ТЕРРАРИУМ - ПЯТИУГОЛЬНЫЙ ГРЕХ - зоя и соня<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
зоя и соня<br/>
</span><i>М.Леонидов - А.Гуницкий<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: <br/>
C G, D G, C G, D Em, C G, D G, C G, D G - 2p.<br/>
<br/>
    G Em Hm                  C D Dsus4 D<br/>
Вчера      начнется в три утра.<br/>
     G Em Hm             C D Dsus4 D <br/>
В горах     откроется нора.<br/>
E                      A<br/>
 Найдет приют малютка Соня<br/>
E                       A<br/>
 В Преображенском гарнизоне.<br/>
C        G       D    Em<br/>
 А не захочет - не найдет,<br/>
C            G    D     G<br/>
 Лишь серый волк ее поймет.<br/>
<br/>
Проигрыш: C G D G<br/>
<br/>
Поймет - помоет ноги под сукном.<br/>
Поймет - почистит зубы перед сном.<br/>
Из кухни вынесут помои.<br/>
Но в тишине не видно Зои,<br/>
Которая, согнув карниз, <br/>
Лениво смотрит вверх и вниз.<br/>
<br/>
Проигрыш: C G D G<br/>
<br/>
 Cm(III)                      G(III)<br/>
Снова летит домовой в погоню за небом.<br/>
Cm(III)                          G(III)<br/>
 Ветер поет о любви и немножко о море.<br/>
Em                             Hm<br/>
Если вечерний обед закусывать хлебом,<br/>
 A7                              D D7<br/>
То песнопение вершин становится горем.<br/>
<br/>
Проигрыш: G Em Hm C D - 2p.<br/>
<br/>
E                        A<br/>
 Вчера начнется в три утра.<br/>
E                     A<br/>
 В горах откроется нора.<br/>
C            G         D Em<br/>
 Не знают в чудо-гарнизоне,<br/>
C             G       D G<br/>
 Кто лучше - Зоя или Соня.<br/>
C            G    D   Em<br/>
 Не знают в чудо-гарнизоне,<br/>
C             G       D G<br/>
 Кто лучше - Зоя или Соня.<br/>
<br/>
 C          G<br/>
Лишь серый волк...<br/>
 D          G<br/>
Лишь серый волк...<br/>
 C          G<br/>
Лишь серый волк...<br/>
 D          Em<br/>
Лишь серый волк...<br/>
 C          G<br/>
Лишь серый волк...<br/>
 D          G<br/>
Лишь серый волк...<br/>
 C          G<br/>
Лишь серый волк...<br/>
 D          G<br/>
Лишь серый волк...<br/>
<br/>
C G D          G<br/>
   Лишь серый волк...<br/>
C G D          Em<br/>
   Лишь серый волк...<br/>
C G D          G  C G D G<br/>
   Лишь серый волк...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
