{% extends "chords.html" %}

{% set title = "Иванов" %}
{% set handbook_unid = "151a0bc3c5beeb99c325679d006aef22" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АКУСТИКА - иванов<br/>
</span><span style="color:red"> <br/>
ИВАНОВ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: A G – 3p. D A 6:III 5:0 5:II 5:IV<br/>
<br/>
  D<br/>
Иванов на остановке,<br/>
      D<br/>
В ожиданье колесницы,<br/>
          D<br/>
В предвкушеньи кружки пива -<br/>
                               C G<br/>
В понедельник утром жизнь тяжела;<br/>
      D<br/>
А кругом простые люди,<br/>
         D<br/>
Что, толпясь, заходят в транспорт,<br/>
        D<br/>
Топчут ноги Иванову,<br/>
                           C G<br/>
Наступают ему прямо на крыла.<br/>
    A<br/>
И ему не слиться с ними,<br/>
         A<br/>
С согражданами своими:<br/>
   A<br/>
У него в кармане Сартр,<br/>
                                 G Em<br/>
У сограждан - в лучшем случае пятак.<br/>
    A<br/>
Иванов читает книгу,<br/>
      A<br/>
И приходят контролёры,<br/>
       A<br/>
И штрафуют Иванова;<br/>
                                   G D<br/>
В понедельник утром всё всегда не так.<br/>
<br/>
Проигрыш: A G – 3p. D A 6:III 5:0 5:II 5:IV<br/>
<br/>
Он живёт на Петроградской,<br/>
В коммунальном коридоре,<br/>
Между кухней и уборной,<br/>
А уборная всегда полным-полна;<br/>
И к нему приходят люди<br/>
С чемоданами портвейна,<br/>
И проводят время жизни<br/>
За сравнительным анализом вина;<br/>
А потом они уходят,<br/>
Только лучшие друзья<br/>
И очарованные дамы<br/>
Остаются с Ивановым до утра;<br/>
А потом приходит утро,<br/>
Всё прокурено и серо,<br/>
Подтверждая старый тезис,<br/>
Что сегодня тот же день, что был вчера.<br/>
<br/>
 A                         G<br/>
Бом-бом-бом, бом-бом-бом, бом-бом-бом<br/>
 A                         G<br/>
Бом-бом-бом, бом-бом-бом, бом-бом-бом<br/>
 A                         G<br/>
Бом-бом-бом, бом-бом-бом, бом-бом-бом<br/>
D          A 6:III 5:0 5:II<br/>
   И-и-иванов<br/>
<br/>
 A                         G<br/>
Бом-бом-бом, бом-бом-бом, бом-бом-бом<br/>
 A                         G<br/>
Бом-бом-бом, бом-бом-бом, бом-бом-бом<br/>
 A                         G<br/>
Бом-бом-бом, бом-бом-бом, бом-бом-бом<br/>
D          A 6:III 5:0 5:II  A<br/>
   И-и-иванов<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
