{% extends "chords.html" %}

{% set title = "Истрибитель" %}
{% set handbook_unid = "295d36d026b7a91dc325679d006af156" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - истребитель<br/>
</span><span style="color:red"> <br/>
ИСТРЕБИТЕЛЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Am<br/>
Am Asus2 Am Asus4 – 8p.<br/>
<br/>
     Am  Asus2   Am Asus4  Am Asus2   Am Asus4 Am Asus2 Am Asus4 Am<br/>
Расскажи мне, дружок,    отчего вокруг    засада?<br/>
     C   G      C           A7          Dm Dsus2 Dm Dsus2 Dm <br/>
Отчего столько лет нашей жизни нет как нет?<br/>
      G          C          A7         Dm Dsus2 Dm Dsus2 Dm Dsus2 Dm      <br/>
От ромашек - цветов пахнет ладаном из ада,<br/>
    Dm        Am         E           Am<br/>
И апостол Андрей носит "Люггер" пистолет?<br/>
<br/>
Проигрыш: Am – 8p.<br/>
<br/>
От того, что пока снизу ходит мирный житель,<br/>
В голове всё вверх дном, а на сердце маета,<br/>
Наверху в облаках реет чёрный истребитель,<br/>
Весь в парче - жемчугах с головы и до хвоста.<br/>
<br/>
Проигрыш: Am – 8p.<br/>
<br/>
Кто в нём лётчик - пилот, кто в нём давит на педали?<br/>
Кто вертит ему руль, кто дымит его трубой?<br/>
На пилотах чадра, ты узнаешь их едва ли,<br/>
Но если честно сказать - те пилоты мы с тобой.<br/>
<br/>
Проигрыш: Am – 32p.<br/>
<br/>
А на небе гроза, чистый фосфор с ангидридом,<br/>
Всё хотел по любви, да в прицеле мир да тла<br/>
Рвануть холст на груди, положить конец обидам,<br/>
Да в глазах чернота, в сердце тень его крыла...<br/>
<br/>
Проигрыш: Am – 8p.<br/>
<br/>
Изыди, гордый дух, поперхнись холодной дулей.<br/>
Всё равно нам не жить, с каждым годом ты смелей.<br/>
      G           C         A7        Dm Dsus2 Dm<br/>
Изловчусь под конец и стрельну последней пулей,<br/>
Выбью падаль с небес, может станет посветлей...<br/>
<br/>
Заключение: Am – 30p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus2<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
