{% extends "chords.html" %}

{% set title = "Камчатка" %}
{% set handbook_unid = "9005ff8b94ce8eb1c325696c0046180c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - камчатка<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
камчатка <br/>
</span><i>В.Цой<br/>
<br/>
Каподастр на 4-м ладу<br/>
 <br/></i>
Вступление: C Am - 8p.<br/>
<br/>
  C         Am              F   G<br/>
О-o, это странное место Камчатка, <br/>
  C         Am              F   G<br/>
О-o, это сладкое слово "Камчатка". <br/>
      F                G<br/>
Но на этой земле я не вижу тебя, <br/>
      C     C/h       Am Am/g<br/>
Я не вижу твоих кораблей, <br/>
      F      F/e      Dm      G<br/>
Я не вижу реки, я не вижу моста, <br/>
      C<br/>
Ну и пусть... <br/>
<br/>
Проигрыш: C Am F G - 2p.<br/>
<br/>
О-o, это странное место Камчатка, <br/>
О-o, это сладкое слово "Камчатка". <br/>
Я нашел здесь руду, я нашел здесь любовь, <br/>
Я пытаюсь забыть, забываю и вновь <br/>
Вспоминаю собаку, она, как звезда, <br/>
Ну и пусть... <br/>
<br/>
Проигрыш: C Am F G - 4p.<br/>
F G, C C/h Am Am/g, F F/e Dm G C<br/>
C Am F G - 2p.<br/>
<br/>
О-o, это странное место Камчатка, <br/>
О-o, это сладкое слово "Камчатка". <br/>
Я не вижу здесь их, я не вижу здесь нас, <br/>
Я искал здесь вино, а нашел третий глаз, <br/>
Мои руки из дуба, голова из свинца, <br/>
Ну и пусть...<br/>
<br/>
Заключение: C Am F G - 8p. С<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
