{% extends "chords.html" %}

{% set title = "Катя-Катерина" %}
{% set handbook_unid = "64467ca386b686c4c325679d006af29a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - катя-катерина<br/>
</span><span style="color:red"> <br/>
КАТЯ-КАТЕРИНА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
2:III 1:III 1:V G D D G G G7 C C/h Am G D G G7 C G G/f# Em G D G G+c G<br/>
<br/>
         G                  D<br/>
Горят-шумят карденовские склады<br/>
          D               G<br/>
Гудят гудки, волнуется народ<br/>
G7       C                 G G/f# Em G/f#<br/>
И лишь один бродяга беспризорный<br/>
            G    D            G<br/>
В немой тоске невесть куда бредёт<br/>
<br/>
У него два мильона медных денег<br/>
У него двор в парче и в жемчугах<br/>
А он, подлец, любовь свою покинул<br/>
На диких чужеземных берегах<br/>
<br/>
Проигрыш: G D D G G G7 C C/h Am G D G G+c G <br/>
<br/>
Он был второй помощник капитана<br/>
Она была как юное вино<br/>
Гудок пропел и песня оборвалась<br/>
И корабли давно ушли на дно<br/>
<br/>
Что мне теперь любовь и состраданье;<br/>
Что мне теперь погибель и тюрьма?<br/>
Ох, моя кровь, ой, Катя-Катерина,<br/>
Разве ж я знал, что ты - моя жена<br/>
G7        C                 G G/f# Em G/f#<br/>
Ох, моя кровь, ой, Катя-Катерина,<br/>
            G        D          G G+c G<br/>
Разве ж я знал, что ты - моя жена<br/>
<br/>
Горят-шумят карденовские склады<br/>
Гудят гудки, волнуется народ<br/>
И лишь один бродяга беспризорный<br/>
В немой тоске невесть куда бредёт<br/>
G7       C                G G/f# Em G/f#<br/>
И лишь один бродяга беспризорный<br/>
            G    D             G G+c G<br/>
В немой тоске невесть куда бредёт<br/>
<br/>
Заключение:<br/>
2:III 1:III 1:V G D D G G G7 C C/h Am G D G G7 C G G/f# Em G D G G+c G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+c<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
