{% extends "chords.html" %}

{% set title = "Кардиограмма" %}
{% set handbook_unid = "714a200fd43437f8c3256a77004a95a3" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СЕСТРА ХАОС - кардиограмма<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Кардиограмма<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: <br/>
  G      C      D <br/>
E---7-10-8-12-15--<br/>
H-8-------------10 - 2р.<br/>
G-----------------<br/>
G Hm Bm Am, C D G Em, C D G C+g G C+g G C+g G<br/>
<br/>
G             C                      D  <br/>
 Что-то соловьи стали петь слишком громко;<br/>
G          C      D  <br/>
 Новые слова появляются из немоты.<br/>
G               Hm Bm       Am<br/>
 Такое впечатление, будто кто-то завладел моим сердцем -<br/>
C            D                G Em<br/>
 Иногда мне кажется, что это ты.<br/>
C            D                G C+g G C+g<br/>
 Иногда мне кажется, что это ты.<br/>
<br/>
Губы забыли, как сложиться в улыбку;<br/>
Лицо стушевалось - остались только черты;<br/>
Вдруг что-то хорошее стало происходить с моим сердцем;<br/>
Ты знаешь, мне кажется, что это ты.<br/>
Мне кажется, что это ты.<br/>
<br/>
F              C                 G<br/>
 От пятой буровой до Покрова-на-Нерли<br/>
F               C              G<br/>
 Вроде всё в порядке, только где-то оборвана нить;<br/>
G                  Hm Bm  Am <br/>
 Я не знаю, как у вас - у нас всегда кто-то сверлит.<br/>
C                 A7             Cm/d#              D   D<br/>
 Может, взять и скинуться, чтобы они перестали сверлить?<br/>
<br/>
Проигрыш: G C D, G C D, G Hm Bm Am, C D G Em, C D G C+g G<br/>
<br/>
Ночью под окном разгружали фуры,<br/>
От матерной ругани увяли кусты -<br/>
Я даже не заметил, потому что кто-то завладел моим сердцем,<br/>
И я подозреваю, что это ты.<br/>
Я подозреваю, что это ты.<br/>
<br/>
F             C        G<br/>
 У меня в крови смесь нитротолуола и смирны;<br/>
F        C       G<br/>
 Каждая песня - террористический акт;<br/>
G                 Hm Bm      Am<br/>
 И это после двадцати лет обучения искусству быть смирным -<br/>
C       A7                        Cm/d#                 D  D<br/>
 Я говорил с медициной - она не в силах объяснить этот факт.<br/>
<br/>
Но будь ты хоть роллс-ройс, всё равно стоять в пробке;<br/>
Даже в Русском музее не забаррикадироваться от красоты -<br/>
Это неважно, если кто-то завладел твоим сердцем.<br/>
В моём случае, мне кажется, что это ты.<br/>
Мне до сих пор кажется, что это ты.<br/>
<br/>
Заключение: <br/>
G C D, G C D, G Hm Bm Am, C D G Em, C D G Em, C D G Em, C D G C+g G C+g G C+g G<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Bm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Cm/d#<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
