{% extends "chords.html" %}

{% set title = "Колыбельная" %}
{% set handbook_unid = "913fa9ae4b48bbdbc325679d006af1ad" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕНЬ СЕРЕБРА - колыбельная<br/>
</span><span style="color:red"> <br/>
КОЛЫБЕЛЬНАЯ<br/></span>
Б. Гребенщиков<br/>
<br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
  С   …F         C  G  Am      F G C  Am      Em Gm Dm F G Am Gm Dm G F C <br/>
E-------------------------------------------------------------------------<br/>
H-----------------------0--------------0----------------------------------<br/>
G----------------------2-2-0-----0----2-2-0---0--3--2----0----3--2--------<br/>
D--0-2-3-------0-2--0-------2--3--2--------2-2---------3---2--------2-3---<br/>
A-3-------0-2-3--------------------3--------3---------------------------3-<br/>
E-------------------------------------------------------------------------<br/>
<br/>
  C     G     C<br/>
Спи, пока темно,<br/>
         F<br/>
Завтра вновь<br/>
         C  G<br/>
Утро случится;<br/>
C     G     C<br/>
Я открыл окно -<br/>
           F<br/>
Слышишь, спят<br/>
          C G<br/>
Звери и птицы. <br/>
Am                   F    G  C<br/>
А над всей землею горит звезда,<br/>
Am                Em    <br/>
Ясная, как твой смех.<br/>
Gm           Dm       F   G Am      <br/>
Мы с тобою вместе дойдём туда,<br/>
 Gm           Dm       G     F   C<br/>
Где горит звезда для всех, для всех.<br/>
<br/>
Заключение: <br/>
  C   G     C                 F            C G<br/>
E-8-3-12-8-15--15-13-12-10-8-10--12h10-8-7-8-3-----<br/>
H--------------------------------------------------<br/>
G--------------------------------------------------<br/>
  C   G     C                 F            C G<br/>
E-8-3-12-8-15--15-13-12-10-8-10--12h10-8-7-8-10----<br/>
H--------------------------------------------------<br/>
G--------------------------------------------------<br/>
  Am              F   G C   Am             Em       - 3p.<br/>
E-17-19-17-15-12--13-15-12--17-19-17-15-12-15------<br/>
H--------------------------------------------------<br/>
G--------------------------------------------------<br/>
  Gm          Dm  F  G  Am  Gm          Dm G  F  C<br/>
E-15-17-15-13-10--13-15-12--15-17-15-13-10-15-13-8-<br/>
H--------------------------------------------------<br/>
G--------------------------------------------------<br/>
<br/>
  C   G     C                 F            C G<br/>
E-8-3-12-8-15--15-13-12-10-8-10--12h10-8-7-8-3-----<br/>
H--------------------------------------------------<br/>
G--------------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Gm<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
