{% extends "chords.html" %}

{% set title = "Козебар Мат" %}
{% set handbook_unid = "f7f67c6055680b05c325679d006aefb2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - козебар мат<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
козебар мат<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
G                  C           D<br/>
 Тонешь тонешь ты гонишь а не тонешь <br/>
G                  C           D    <br/>
Это не Париж это внутренний Воронеж <br/>
     G                       C       D<br/>
За красным частоколом полна горница чертей <br/>
     G                     C          D<br/>
И с горочки спускаются 7 воинских частей <br/>
<br/>
Счастье в небе, филармония в руках<br/>
Лось на коньках, лось на коньках <br/>
Пенза, Содом и Пенза <br/>
Лешие в провинции нюхают КЕНЗО <br/>
<br/>
Дьяки поют о мани-мани пи-КЕНЗО<br/>
Пенза, Содом и Пенза <br/>
В небе сэмплер 18 тысяч ватт <br/>
В небе сэмплер 18 тысяч ватт <br/>
G                        C         D<br/>
Если кто не спрятался то я не виноват <br/>
      G    C       D<br/>
Наступает Козебар Мат<br/>
<br/>
     G               C       D     G C D<br/>
Козебар Мат Козебар Мат Козебар Мат<br/>
<br/>
Козебар Мат Козебар Мат Козебар Мат<br/>
<br/>
Козебар Мат Козебар Мат Козебар Мат<br/>
<br/>
Козебар Мат Козебар Мат Козебар Мат Ахтунг!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
