{% extends "chords.html" %}

{% set title = "Критику" %}
{% set handbook_unid = "54dddc88ac2fb556c325679d006af20a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РУССКИЙ АЛЬБОМ - критику<br/>
</span><span style="color:red"> <br/>
КРИТИКУ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C C<br/>
C F G C Am F C G – 2p.  <br/>
<br/>
C                 F G            C<br/>
 Ты в плоскости ума подобен таракану,<br/>
Am    F                       C G<br/>
  А в остальном подобен пескарю;<br/>
C                F   G                  C<br/>
 Всё лысиной вертишь, и ждёшь, когда я кану,<br/>
Am F                  C G<br/>
    А может быть, сгорю;<br/>
<br/>
G              C     G            C<br/>
 И в этот грозный час, Чапаеву подобен,<br/>
Am    F                         C  G<br/>
  Ты выползешь из всех своих щелей;<br/>
G                   C  G                    C<br/>
 Как Усть-Илимский ГЭС, ты встанешь меж колдобин,<br/>
F            C      F   C     G               C<br/>
 И станешь мне в могильную дыру просовывать елей.<br/>
<br/>
Проигрыш: C F G C Am F C G – 2р.<br/>
<br/>
C          F   G             C<br/>
 А я, бесплатно над тобой летая, <br/>
Am F       C G<br/>
    И хохоча,<br/>
C                 F      G                C<br/>
 Смотрю, как голова твоя, портвейном облитая,<br/>
F       C        <span style="color:gray">   </span>G                 C<br/>
 Перегорела, как авто - мобильная свеча.<br/>
<br/>
Заключение: C F G C Am F C G – 2p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
