{% extends "chords.html" %}

{% set title = "Кусок жизни" %}
{% set handbook_unid = "c26243d00172a92dc325679d006af300" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - кусок жизни<br/>
</span><span style="color:red"> <br/>
КУСОК ЖИЗНИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G - 7p.<br/>
G G E – 4p.<br/>
<br/>
       G<br/>
Я прорвался на этот концерт<br/>
      F                   F#<br/>
Не затем, чтобы здесь скучать;<br/>
         G<br/>
Пусть играет, кто должен играть,<br/>
      F                  F#<br/>
И молчит, кто должен молчать;<br/>
    G <br/>
И здесь всё, что я слышал,<br/>
   F              F#<br/>
Меня погружало в сон;<br/>
<br/>
B(VI)     A(V)       G# G(III)<br/>
Дайте мне мой кусок жизни,<br/>
 B(VI)         C#<br/>
Пока я не вышел вон.<br/>
<br/>
Проигрыш: G G E - 4p.<br/>
<br/>
Десять степных волков -<br/>
И каждый похож на меня.<br/>
Я был бы одним из них,<br/>
Но у меня семья.<br/>
И каждый глядит за дверь,<br/>
И каждый лелеет стон;<br/>
<br/>
Дайте мне мой кусок жизни,<br/>
Пока я не вышел вон.<br/>
<br/>
Проигрыш: G G E - 8p.<br/>
<br/>
Я прорвался на этот концерт<br/>
Не затем, чтобы здесь скучать.<br/>
Пусть играет, кто должен играть,<br/>
И стучит, кто должен стучать.<br/>
И здесь всё, что я услышал,<br/>
Меня погружало в сон;<br/>
<br/>
Дайте мне мой кусок жизни,<br/>
Пока я не вышел вон!<br/>
<br/>
Дайте мне мой кусок жизни,<br/>
Пока я не вышел вон!<br/>
<br/>
Дайте мне мой кусок жизни,<br/>
Пока я не вышел вон!<br/>
<br/>
Дайте мне мой кусок жизни,<br/>
Пока я не вышел вон!<br/>
<br/>
Дайте мне мой кусок жизни,<br/>
Пока я не вышел во-о-о-о-о-о-о-о-н!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
