{% extends "chords.html" %}

{% set title = "Летающая тарелка" %}
{% set handbook_unid = "ab6392a0aa0ee8cbc325679d006aee41" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - летающая тарелка<br/>
</span><span style="color:red"> <br/>
ЛЕТАЮЩАЯ ТАРЕЛКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: G Em – 3p.<br/>
<br/>
 G                      Am<br/>
Видел ли ты летающую тарелку<br/>
     G                        Am<br/>
Над домом своим, над крышей своей?<br/>
   C       C/h          Am<br/>
Тарелка приносит в наш быт<br/>
    G      G/f#     Em<br/>
Забвенье душевных обид,<br/>
   C                    D             G G<br/>
И темой для светских бесед мы обязаны ей.<br/>
<br/>
Я очень люблю этот разряд посуды, <br/>
Она украшает квартиры моей экстерьер.<br/>
Смотри, как что-то летит,<br/>
В количестве большем пяти,<br/>
Над домом четыре, пробив световой барьер.<br/>
<br/>
Проигрыш: G Am G Am C C/h Am G G/f# Em C D G G<br/>
<br/>
И если внезапно мой микрофон не пашет,<br/>
И пьяный басист играет немного не в такт,<br/>
Мне кажется, это она,<br/>
Намерений лучших полна,<br/>
Над нами висит, вступая в ментальный контакт.<br/>
<br/>
Видел ли ты летающую тарелку,<br/>
Над крышей своей висящую, словно звезда?<br/>
Мне кажется, это не зря;<br/>
Ведь если б тарелкой был я,<br/>
       C         5:III 5:II 5:I 5:0<br/>
Я не стал бы летать… А-ха-ха-ха!<br/>
       C         5:III 5:II 5:I 5:0<br/>
Я не стал бы летать… А-ха-ха-ха!<br/>
      C                  D                  G  G             G    G G/f# Em<br/>
Я над этой планетой не стал бы летать никогда. Е-е-е-е-е-е-е-е, а-а-а-а-а-а!<br/>
       C                D                  G G<br/>
Я над местом таким не стал бы летать никогда.<br/>
<span style="color:#999999">   <br/></span>
 <br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
