{% extends "chords.html" %}

{% set title = "Легенда о падшей пионерке Насте" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "a35cefcc3e91e376c325679d006af363" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ИНСТРУМЕНТАЛЫ - легенда о падшей пионерке насте<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">легенда о падшей пионерке насте<br/>
</span><i>Б.Гребенщиков<br/>
 <br/></i>
E-------------------15-------10-12------------------15-------10-<br/>
H-13--12-13-12-13-12----12-13-----13--12-13-12-13-12----12-13---<br/>
G---------------------------------------------------------------<br/>
<br/>
E-------------------15-------10-12------------------------------<br/>
H-13--12-13-12-13-12----12-13-----12-8------------------8-10-12-<br/>
G-------------------------------------9-------------------------<br/>
  C                               Am<br/>
E-------------------15-------10-12------------------15-------10-<br/>
H-13--12-13-12-13-12----12-13-----13--12-13-12-13-12----12-13---<br/>
G---------------------------------------------------------------<br/>
  F                     Em<br/>
E-------------------15-------10-12------------------------------<br/>
H-13--12-13-12-13-12----12-13-----12-8------------------8-10-12-<br/>
G-------------------------------------9-------------------------<br/>
  C                               Am<br/>
E-------------------15-------10-12------------------15-------10-<br/>
H-13--12-13-12-13-12----12-13-----13--12-13-12-13-12----12-13---<br/>
G---------------------------------------------------------------<br/>
  F                     Em<br/>
E-------------------15-------10-12------------------------------<br/>
H-13--12-13-12-13-12----12-13-----12-8------------------8-10-12-<br/>
G-------------------------------------9-------------------------<br/>
  C                               Am<br/>
E-------------------15-------10-12------------------15-------10-<br/>
H-13--12-13-12-13-12----12-13-----13--12-13-12-13-12----12-13---<br/>
G---------------------------------------------------------------<br/>
  F                     Em<br/>
E-------------------15-------10-12------------------------------<br/>
H-13--12-13-12-13-12----12-13-----12-8------------------8-10-12-<br/>
G-------------------------------------9-------------------------<br/>
  C                               Am<br/>
E-------------------15-------10-12------------------15-------10-<br/>
H-13--12-13-12-13-12----12-13-----13--12-13-12-13-12----12-13---<br/>
G---------------------------------------------------------------<br/>
  F                     Em<br/>
E-------------------15-------10-12------------------------------<br/>
H-13--12-13-12-13-12----12-13-----12-8------------------8-10-12-<br/>
G-------------------------------------9-------------------------<br/>
  C                               Am<br/>
E-------------------15-------10-12------------------15-------10-<br/>
H-13--12-13-12-13-12----12-13-----13--12-13-12-13-12----12-13---<br/>
G---------------------------------------------------------------<br/>
  F                     C               Em<br/>
E-------------------15------------------------------------------<br/>
H-13--12-13-12-13-12----13------------------------------8-10-12-<br/>
G---------------------------------------------------------------<br/>
  C                               Am<br/>
E-------------------15-------10-12------------------15-------10-<br/>
H-13--12-13-12-13-12----12-13-----13--12-13-12-13-12----12-13---<br/>
G---------------------------------------------------------------<br/>
  F                     Em<br/>
E-------------------15-------10-12------------------------------<br/>
H-13--12-13-12-13-12----12-13-----12-8------------------8-10-12-<br/>
G-------------------------------------9-------------------------<br/>
  C                               Am<br/>
E-------------------15-------10-12------------------15-------10-<br/>
H-13--12-13-12-13-12----12-13-----13--12-13-12-13-12----12-13---<br/>
G---------------------------------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
