{% extends "chords.html" %}

{% set title = "Лейся, песня, на просторе" %}
{% set handbook_unid = "9dcdb29dbde94f52c325679d006aefdf" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- МИТЬКОВСКИЕ ПЕСНИ - лейся, песня на просторе<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
лейся, песня, на просторе <br/>
</span><i>В.Пушков - А.Асполон <br/></i>
 <br/>
Вступление: 3:II 2:0 Am Em, Dm G C G C<br/>
<br/>
 G      C      G      C<br/>
Лейся, песня, на просторе<br/>
A7     Dm       A7     Dm<br/>
Не грусти, не плачь, жена<br/>
      Am           Em<br/>
Штурмовать далеко море<br/>
    Dm    G       C<br/>
Посылает нас страна<br/>
      Am           Em<br/>
Штурмовать далеко море<br/>
     Dm   G       C G C<br/>
Посылает нас страна<br/>
<br/>
Курс на берег невидимый<br/>
Бъется сердце корабля<br/>
Вспоминаю о любимой<br/>
У послушного руля<br/>
Вспоминаю о любимой<br/>
У послушного руля<br/>
<br/>
Проигрыш: <br/>
G C G C, A7 Dm A7 Dm, Am Em, Dm G C, Am Em, Dm G C G C<br/>
<br/>
Буря, ветер, ураганы -<br/>
Ты не страшен, океан.<br/>
Молодые капитаны<br/>
Поведут наш караван<br/>
Молодые капитаны<br/>
Поведут наш караван<br/>
<br/>
Лейся, песня, на просторе<br/>
Здравствуй милая жена<br/>
Штурмовать далеко море<br/>
Посылала нас страна<br/>
Штурмовать далеко море<br/>
Посылала нас страна<br/>
<br/>
Заключение: <br/>
G C G C, A7 Dm A7 Dm, Am Em, Dm G C, Am Em, Dm G C G C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
