{% extends "chords.html" %}

{% set title = "Любовь во время войны" %}
{% set handbook_unid = "b8b2b5893a3f8e1143257c9500567bd7" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - любовь во время войны<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Любовь во время войны<br/></span>
Б.Гребенщиков<br/>
<br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Am Asus2/g Dm/f Esus4!!! E! - 2p. Am Am<br/>
<br/>
Am<br/>
 Не помню, как я ступил за порог.<br/>
      Am<br/>
Но вот, тяжелое небо над разбитой дорогой,<br/>
      Dm          Dm/f                  Esus4 E<br/>
В конце которой врут, что нам обещан покой.<br/>
Am<br/>
 Над нами развернуто зимнее знамя.<br/>
     Am<br/>
Нет лиц у тех кто против, нет лиц у тех кто с нами,<br/>
     Dm                      Dm/f             Esus4 E<br/>
Не смей подходить, пока не скажешь, кто ты такой.<br/>
<br/>
Проигрыш: Am Asus2/g Dm/f Esus4!!! E! - 2p.<br/>
<br/>
На улице ярость, ревет мотор.<br/>
Весь закатан в асфальт тот лес, в котором<br/>
Нам было явлено то, чего не скажешь в словах.<br/>
Я слышу работу лопат,<br/>
На нас направлены ружья заката,<br/>
Но скоро их патроны начнут взрываться у них прямо в стволах<br/>
<br/>
   Bsus2                   Dm                E<br/>
Я чувствую спиной, как вокруг нас сгущаются тени.<br/>
Bsus2               Dm                E<br/>
 Река пылает, и мосты над нею разведены.<br/>
    Bsus2           Dm                       E<br/>
В своей доброте Господь дарует нам, что мы хотели.<br/>
          Dm/f    C       G                Am<br/>
Дарует любовь, любовь, любовь во время войны.<br/>
<br/>
Проигрыш: Am Asus2/g Dm/f Esus4!!! E! - 2p. Am Am<br/>
<br/>
И я протягиваю ладони, ладонь,<br/>
Но это все равно, что гасить бензином огонь.<br/>
Рука в руке, пропасть — я знаю этот бред наизусть.<br/>
И я не помню, кем был, и не знаю, кем стал,<br/>
Но кровь моя теперь сильнее, чем сталь,<br/>
Им крепко не повезет, когда я проснусь.<br/>
<br/>
Я знаю умом, что вокруг нет ни льдов, ни метелей,<br/>
Но я по горло в снегу, глаза мои не видят весны.<br/>
Господи, скажи мне, кто мы, что мы так хотели.<br/>
        Dm/f     C       G  G<br/>
Чтобы любовь, любовь, любовь,<br/>
  Dm/f      C      G<br/>
Любовь, любовь, любовь<br/>
    G                    Am<br/>
Обязательно во время войны.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2/g<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Bsus2<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
