{% extends "chords.html" %}

{% set title = "Люди, пришедшие из можжевельника" %}
{% set handbook_unid = "9128536f72a52b69c325679d006af20d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ГИПЕРБОРЕЯ - люди, пришедшие из можжевельника<br/>
</span><span style="color:red"> <br/>
ЛЮДИ, ПРИШЕДШИЕ ИЗ МОЖЖЕВЕЛЬНИКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G C+g G C+g G G C+g G – 8p.<br/>
<br/>
      G<br/>
Ты - конь,<br/>
               G<br/>
Ты прекрасный конь.<br/>
G          <br/>
Я был бы рад<br/>
                      G<br/>
Скакать на тебе все дни.<br/>
C   C/h       Am<br/>
Я почёл бы за честь -<br/>
С   C/h       Am<br/>
Я почёл бы за честь <br/>
      C      C/h   Am       Am/g<br/>
Но люди, пришедшие из можжевельника,<br/>
   C                   D<br/>
Велели мне быть, как они;<br/>
            G C+g G C+g G G C+g G<br/>
Быть, как они.<br/>
<br/>
Проигрыш: G C+g G C+g G G C+g G<br/>
<br/>
Ты здесь<br/>
Ты виртуально здесь<br/>
Ты а-боп-пабе-луба-памб <br/>
И я рад, что ты здесь<br/>
Всё тает как лёд<br/>
Всё тает как лёд<br/>
Но в самом сердце моих сердец<br/>
Ты вышит звериной иглой <br/>
На шёлке небес<br/>
<br/>
Проигрыш: G C+g G C+g G G C+g G<br/>
G - 4p. C C/h Am - 3p. Am/g C D <br/>
G C+g G C+g G G C+g G - 2p.<br/>
G G/h G/d G/e G/g G/e G/d G/h G – 7p. G G/h G/d <br/>
<br/>
Ты храм<br/>
Первый и последний храм<br/>
И я молюсь в тебе год <br/>
И я молюсь в тебе час<br/>
Я мог бы быть слеп<br/>
Я мог бы быть слеп<br/>
Но боги пришедшие с нижнего неба<br/>
Велели мне не закрывать<br/>
Моих глаз<br/>
<br/>
Заключение: <br/>
G C+g G C+g G G C+g G<br/>
G - 4p. C C/h Am - 3p. Am/g C D<br/>
G C+g G C+g G G C+g G - 3p.<br/>
E-3-0---------------<br/>
H----3-0------------<br/>
G-------3-0--------- G<br/>
D----------2-0------<br/>
A-------------3-2-0-<br/>
E-------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/h<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/d<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/e<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/g<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
x D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
