{% extends "chords.html" %}

{% set title = "Ля-ля-ля" %}
{% set handbook_unid = "456c694ef565738ec3256da4006b541a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ДОИСТОРИЧЕСКИЕ ПЕСНИ - ИСКУШЕНИЕ СВЯТОГО АКВАРИУМА - ля-ля-ля<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Ля-ля-ля <br/>
</span><i>Б.Гребенщиков/А.Гуницкий<br/></i>
 <br/>
E-8--8--6--3--4--6--1-<br/>
H---------------------<br/>
G---------------------<br/>
 Ля-ля-ля-ля-ля-ля-ля<br/>
E-10-10-6---9-12-9-12-<br/>
H---------------------<br/>
G---------------------<br/>
  Ля-ля-ля-ля-ля-ля<br/>
E-1-10-3--1--10--1-<br/>
H------------------<br/>
G------------------<br/>
 Ля-ля-ля Ля-ля-ля<br/>
E-3--8--3--5--6--6-<br/>
H------------------<br/>
G------------------<br/>
 Ля-ля-ля-ля-ля-ля<br/>
E-1-10-3--1--10--1-<br/>
H------------------<br/>
G------------------<br/>
 Ля-ля-ля Ля-ля-ля<br/>
E-3--8--3--5--6--6-<br/>
H------------------<br/>
G------------------<br/>
 Ля-ля-ля-ля-ля-ля<br/>
<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
Ля-ля-ля-ля-ля-ля...<br/>
{% endraw %}
{% endblock %}
