{% extends "chords.html" %}

{% set title = "Лётчик" %}
{% set handbook_unid = "5220addf3a1fce60c325679d006af306" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛЮБИМЫЕ ПЕСНИ РАМЗЕСА IV - лётчик<br/>
</span><span style="color:red"> <br/>
ЛЁТЧИК<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 6-м ладу<br/></i>
 <br/>
Вступление: <br/>
C     C                     C                    C<br/>
E---------8-8-10-8-10-8-7-8-7-8-10-7-7-5-5-7-5-5-3-<br/>
H-------8------------------------------------------<br/>
G--------------------------------------------------<br/>
    C                   C            C           C<br/>
E---5--8-8-10-8-10-8-10-8-8-8-10-8-8-7-8-3-8-7-7-5-<br/>
H-8--8---------------------------------------------<br/>
G--------------------------------------------------<br/>
  C G F G      C  G   F  G   C        G   F G   C    G F G<br/>
E-----5---5--7----5--7------------------------------------<br/>
H-5-3----------8-------8--6---5--6--5--6-8~~~6--6sl5sl6---<br/>
G-------------------------------------------------------5~<br/>
  C G F G      C  G   F  G   C        G   F G   C    G F F<br/>
E-----5---5--7----5--7------------------------------------<br/>
H-5-3----------8-------8--6---5--6--5--6-8~~~6--6sl5sl6---<br/>
G-------------------------------------------------------5~<br/>
<br/>
C       G        C  F         C      G         C       G<br/>
 Я проснулся, смеясь - я спустился вниз, я вернулся назад;<br/>
C       G       Am <span style="color:#5F5F5F">Am+7</span>     C              G<br/>
 Я проснулся, смеясь   над тем, какие мы здесь;<br/>
C        G           C   F   C     G          C       G<br/>
 Хлеб насущный наш днесь - хлеб, speed, стопудовый оклад,<br/>
C           G         Am      <span style="color:#5F5F5F">Am+7</span>      C              G<br/>
 Вдоль под тёплой звездой в скромной избе - странная смесь...<br/>
   C   G         C     G      C   G       C G<br/>
Лети, лётчик, лети, лети высоко, лети глубоко;<br/>
   C      G        Am <span style="color:#5F5F5F">Am+7</span>         C             G<br/>
Лети над тёмной водой,   лети над той стороной дня;<br/>
C       G         C      E         Am F C G<br/>
 Неси, лётчик, неси - неси мне письмо:<br/>
     C        G      C        F          C         G       F G<br/>
Письмо из святая святых, письмо сквозь огонь, письмо от меня...<br/>
<br/>
Проигрыш: <br/>
  C G F G      C  G   F  G   C        G   F G   C    G F G<br/>
E-----5---5--7----5--7------------------------------------<br/>
H-5-3----------8-------8--6---5--6--5--6-8~~~6--6sl5sl6---<br/>
G-------------------------------------------------------5~<br/>
  C G F G      C  G   F  G   C        G   F G   C    G F F<br/>
E-----5---5--7----5--7------------------------------------<br/>
H-5-3----------8-------8--6---5--6--5--6-8~~~6--6sl5sl6---<br/>
G-------------------------------------------------------5~<br/>
<br/>
Белый голубь слетел; серый странник зашёл посмотреть;<br/>
Посидит полчаса, и, глядишь, опять улетел;<br/>
Над безводной землёй, через тишь, гладь, костромской беспредел,<br/>
Без руля, без ветрил... но всегда - так, как хотел.<br/>
Лети, лётчик, лети, лети высоко, лети глубоко;<br/>
Лети над тёмной водой, лети над той стороной дня;<br/>
Неси, лётчик, неси - неси мне письмо:<br/>
Письмо из святая святых, письмо сквозь огонь, письмо от меня...<br/>
<br/>
Проигрыш: D D G G F F A A D D G G F C G G G<br/>
<br/>
Вместо крыл - пустота, в районе хвоста - третий глаз;<br/>
За стеной изо льда, за спиной у трав и дерев;<br/>
Принеси мне цвета, чтобы я знал, как я знаю сейчас,<br/>
Голоса райских птиц и глаза райских дев;<br/>
Лети, лётчик, лети, лети высоко, лети глубоко;<br/>
Лети над тёмной водой, лети над той стороной дня;<br/>
Неси, лётчик, неси - неси мне письмо:<br/>
Письмо из святая святых, письмо сквозь огонь, письмо от родных и знакомых;<br/>
<br/>
   C   G         C     G      C     G       C G<br/>
Лети, лётчик, лети, лети высоко, лети глубоко;<br/>
   C      G       Am <span style="color:#5F5F5F">Am+7</span>          C             G<br/>
Лети над тёмной водой,   лети над той стороной дня;<br/>
C       G        C       E         Am F C G<br/>
 Неси, лётчик, неси - неси мне письмо:<br/>
     C        G      C        F          C      G       F G<br/>
Письмо из святая святых, письмо сквозь огонь, мне от меня...<br/>
<br/>
C G F G               C G F G C G F G C G F G <br/>
<span style="color:#5F5F5F">     Лети, лётчик, лети…<br/></span>
C G F G               C G F G C G F G<br/>
<span style="color:#5F5F5F">     Лети, лётчик, лети…<br/></span>
 C G F G  С<br/>
<span style="color:#5F5F5F">Са-а-а-айрам…<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am+7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
