{% extends "chords.html" %}

{% set title = "Мается" %}
{% set handbook_unid = "6de7e08cd611f9dcc325679d006aeffa" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - мается<br/>
</span><span style="color:red"> <br/>
МАЕТСЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: Dm Am – 4p.<br/>
<br/>
 Dm     Am     Dm             Am<br/>
Мается, мается - жизнь не получается,<br/>
Dm             Am      Dm             Am     <br/>
  Хоть с вином на люди, хоть один вдвоём;<br/>
  Dm      Am   Dm               Am<br/>
Мается, мается - то грешит, то кается;<br/>
Dm                                    Am<br/>
  А всё не признается, что всё дело в нём.<br/>
<br/>
Проигрыш: <br/>
  Dm         Am     Dm      Am<br/>
E-5--5-8-5-3-0-----0----0------<br/>
H---------------1-3-3--3-3-1--- - 2p.<br/>
G---------------------------2--<br/>
<br/>
Dm        Am   Dm                Am<br/>
Мается, мается - то грешит, то кается;<br/>
Dm            Am       Dm          Am<br/>
  То ли пыль во поле, то ли отчий дом;<br/>
 F        C   Dm                 F<br/>
Мается, мается - то заснёт, то лается,<br/>
F      F/e     Dm                    Am<br/>
 А всё не признается, что всё дело в нём.<br/>
<br/>
Проигрыш: <br/>
  F          C      Dm      Am<br/>
E-5--5-8-5-3-0-----0----0------<br/>
H---------------1-3-3--3-3-1--- - 2p.<br/>
G---------------------------2--<br/>
<br/>
Dm             Am      Dm          Am<br/>
  Вроде бы и строишь - а всё разлетается;<br/>
Dm          Am   Dm             Am<br/>
  Вроде говоришь, да всё не про то.<br/>
F          C        Dm        F<br/>
 Ежели не выпьешь, то не получается,<br/>
   F        F/e    Dm                        Am  <br/>
А выпьешь - воешь волком, ни за что, ни про что...<br/>
<br/>
 F       C    Dm               Am<br/>
Мается, мается - то заснёт, то лается;<br/>
F              C       Dm            Am<br/>
 Хоть с вином на люди, хоть один вдвоём.<br/>
 F       C    Dm                  F<br/>
Мается, мается - Бог знает, где шляется,<br/>
      F/e     Dm                    Am<br/>
А всё не признается, что всё дело в нём.<br/>
<br/>
Проигрыш: F G C F F/e Dm C, F C Dm Am<br/>
<br/>
Dm          Am     Dm         Am<br/>
 Может, голова моя не туда вставлена;<br/>
Dm               Am          Dm          Am<br/>
 Может, слишком много врал, и груза не снесть.<br/>
F          C       Dm         F<br/>
 Я бы и дышал, да грудь моя сдавлена;<br/>
     F/e   Dm                                Am<br/>
Я бы вышел вон, но только там страшней, чем здесь...<br/>
<br/>
 F        C    Dm             Am<br/>
Мается, мается - тропка всё сужается;<br/>
F              C       Dm            Am<br/>
 Хоть с вином на люди, хоть один вдвоём.<br/>
 F        C    Dm                  F<br/>
Мается, мается; глянь, вот-вот сломается;<br/>
    F/e      Dm                        Am<br/>
Чтоб ему признаться, что дело только в нём...<br/>
<br/>
Проигрыш: <br/>
  F                C         Dm           Am<br/>
E-17--17-20-17-15-12-------12------12---------<br/>
H---------------------13-15--15--15--15-13---- - 2p.<br/>
G-----------------------------------------14--<br/>
  F          C      Dm      Am<br/>
E-5--5-8-5-3-0-----0----0------<br/>
H---------------1-3-3--3-3-1--- - 2p.<br/>
G---------------------------2--<br/>
<br/>
  Dm                                <br/>
E--5-3---1-0----------<br/>
H------------3-1--0--- E        Am<br/>
G-------------------2-<br/>
В белом кошелёчечке - да медные деньги,<br/>
  Dm                                <br/>
E-5---3---1---0-------------<br/>
H---------------3-1----0---- E        Am<br/>
G-------------------------2-<br/>
   В золотой купели - темнота да тюрьма;<br/>
 F      F/e   Dm                   <br/>
E-5-3-1----0---------------<br/>
H-------------3---1----0--- E           F<br/>
G------------------------2-<br/>
   Небо на цепи, да в ней     порваны звенья;<br/>
 F      F/e     Dm Dm/c                <br/>
E-5---3--1----0----------<br/>
H---------------3--1-0---  E            Am<br/>
G----------------------2-<br/>
 Как пойдёшь чинить - ты всё поймёшь сама.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/e<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
