{% extends "chords.html" %}

{% set title = "Маша и Медведь" %}
{% set handbook_unid = "d90c4b6fe7e8832cc32567fa006a321b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Ψ - маша и медведь<br/>
</span><span style="color:red"> <br/>
</span><span style="font-size:11.0pt;color:red;text-transform:uppercase">Маша и медведь<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Em(II) Esus2(II) Em – 2р. Em(VII) D(V) G(III) G<br/>
<br/>
Em D/f#       G<br/>
   Маша и медведь<br/>
 Em      D/f#      G<br/>
Главное – это взлететь<br/>
Am                    D<br/>
  Пригоршня снега за ворот<br/>
Am               D               D<br/>
  Я знаю лучший вид на этот город<br/>
<br/>
Маша и медведь<br/>
У нас в карманах есть медь<br/>
Пятак на пятак и колокол льётся<br/>
Но спящий всё равно не проснётся<br/>
<br/>
   A             C              G    G/f# Em<br/>
Напомни мне если я пел об этом раньше<br/>
Am    C                    Em  Em Em/f# G Em/a<br/>
  Я всё равно не помню ни слова<br/>
   C            Am              D    Dsus4 D<br/>
Напомни мне если я пел об этом раньше<br/>
Am       D<br/>
  И я спою это снова<br/>
Am               D        D<br/>
  Я не знаю ничего другого<br/>
<br/>
Проигрыш: Em G Am C – 2p. Em Em<br/>
<br/>
Маша и медведь<br/>
Вот нож, а вот сеть<br/>
Привяжи к ногам моим камень<br/>
Те, кто легче воздуха всё равно с нами<br/>
<br/>
Проигрыш: D D D/c D7<br/>
<br/>
       A                 C            G  G/f# Em<br/>
Есть грань, за которой железо уже не ранит<br/>
Am              C                 Em  Em Em/f# G Em/a<br/>
  Но слепой не видит, а умный не знает  <br/>
   C             Am              D   Dsus4 D<br/>
Напомни мне если я пел об этом раньше<br/>
      Am             D        D D D         <br/>
Вот пламя, которое всё сжигает<br/>
<br/>
Em D/f#       G      <br/>
   Маша и медведь, <br/>
Am            D<br/>
Это солнце едва ли закатится<br/>
Am            D<br/>
  Я знаю что нас не хватятся<br/>
      F                C<br/>
Но оставь им ещё одну нить<br/>
    F                  H7<br/>
Скажи что им будут звонить<br/>
           Em…<br/>
Маша и медведь…<br/>
<br/>
Проигрыш: Em G Am C – 2p.<br/>
<br/>
Заключение: Em(II) Esus2(II) Em – 2р. Em(VII) D(V) G(III) Em<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em(II)<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|-■-|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Esus2(II)<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|-■-|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII   Em(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     D(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/f#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/a<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dsus4<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/c<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
