{% extends "chords.html" %}

{% set title = "Марина" %}
{% set handbook_unid = "0df420924cc5a28bc325679d006af00c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЭЛЕКТРИЧЕСТВО - марина<br/>
</span><span style="color:red"> <br/>
МАРИНА<br/>
</span><i>Б. Гребенщиков<br/>
 <br/></i>
Вступление: F E F E E<br/>
<br/>
   E<br/>
Марина мне сказала, что меня ей мало,<br/>
      A<br/>
Что она устала, она устала;<br/>
F#m              A<br/>
   И нам пора начать всё сначала.<br/>
   E<br/>
Марина мне сказала…<br/>
<br/>
Марина мне сказала, что ей надоело,<br/>
Что она устала, она недоела;<br/>
Сожгла свой мозг и вы-вы-вы-выжгла тело.<br/>
Марина мне сказала...<br/>
<br/>
Проигрыш: H(VII) A(V) E - 2p.<br/>
<br/>
Марина мне сказала, что ей стало ясно,<br/>
Что она прекрасна, но жизнь напрасна,<br/>
И ей пора выйти замуж за Ино;<br/>
Марина мне сказала...<br/>
<br/>
Проигрыш: E A(V) G(III) E E, <br/>
E A(V) G(III) E A(V) G(III) E A(V) G(III) E A(V) G(III) E E<br/>
<br/>
        E<br/>
И ты была бы рада сделать это со мной,<br/>
A7       G      E<br/>
Если бы ты смогла;<br/>
      E<br/>
Но твоё отраженье стоит спиной<br/>
       A7   G          E<br/>
По другую сторону стекла;<br/>
     C#m              A<br/>
И твои матросы - тяжелее свинца,<br/>
     C#m                A<br/>
На странных кораблях, лишённых лица;<br/>
 C#m                 F#m<br/>
Они будут плыть по тебе до конца,<br/>
   C        G     E E<br/>
Пока не сгорят дотла.<br/>
<br/>
        E<br/>
И ты была бы ……с…это из них,<br/>
   A7     G      E<br/>
Чтобы махнуть рукой;<br/>
  E<br/>
Кто-то говорит, и ты знаешь, зачем,<br/>
           A7      G       E<br/>
Но ты не знаешь, кто он такой;<br/>
       C#m                A<br/>
И ты готова отдать всё любому из них, <br/>
        C#m            A<br/>
Кто поднимет тебя на крыльях своих,<br/>
      C#m             F#m<br/>
Но никто из них не снесёт двоих,<br/>
  C      G            E E<br/>
В этом и есть твой покой.<br/>
<br/>
Заключение: E A(V) G(III) E - 4p. E E E E E E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VII    H(VII)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
