{% extends "chords.html" %}

{% set title = "Мальчик Золотое Кольцо" %}
{% set handbook_unid = "bde23aaf2359996ec32568ae00435fa2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - мальчик золотое кольцо<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
мальчик золотое кольцо<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: G C G G F G - 4p.<br/>
<br/>
G                 C       G F G<br/>
 Я - мальчик золотое кольцо,   <br/>
G                    D         G F G<br/>
 Пришел вернуть ваше яблоко в сад.<br/>
G               C       G F G<br/>
 Хей, я продал душу любви<br/>
   G           D        G F G<br/>
Теперь она вернулась назад.<br/>
  Em                  C        G F G<br/>
В русском языке недостаточно слов   <br/>
    G                F         G F G<br/>
Cказать о тебе и сказать обо мне,<br/>
 G         G/f#     Em  C G             D    <br/>
Хей, хей, хей, хей, хей,   увидимся на той стороне.<br/>
<br/>
Проигрыш: G C G G F G - 4p.<br/>
<br/>
Я читал в "Cosmopolitan", <br/>
Я читал в книге Зохар,<br/>
Моя левая нога - Гиперборея, <br/>
Правую в народе называют Захар.<br/>
Наступила перемена времен, <br/>
И знак огня растворился в огне;<br/>
Хей, хей, хей, хей, хей, увидимся на той стороне.<br/>
<br/>
Проигрыш: G C G G F G - 8p.<br/>
<br/>
Будущее светит так ярко, <br/>
Зрачки должны быть в тени<br/>
Тебя распнут в кладовых Эрмитажа, <br/>
Меня, как всегда, на Рю Сен-Дени<br/>
В этой жизни не так много дней, <br/>
Чтоб всё время стоять лицом к стене.<br/>
Хей, хей, хей, хей, хей, увидимся на той стороне.<br/>
G         G/f#     Em  C G             D    <br/>
Хей, хей, хей, хей, хей,  увидимся на той стороне.<br/>
<br/>
Заключение: G C G G F G - 4p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
