{% extends "chords.html" %}

{% set title = "Моё детство в кислой избе" %}
{% set handbook_unid = "7957d5e79e688155c325679d006af37b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - моё детство в кислой избе<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
моё детство в кислой избе<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 <br/>
<br/>
        Am    Am6  Em   Em+g  <br/>
ынйов олыб ен ыб ьшил олапоп отч<br/>
H7     H7/5+   Em  Emadd9<br/>
мат тирог ьтсуп ынатш в<br/>
Am      Am6   Em Em+g  <br/>
умолим омярп алапу<br/>
 H7  H7/5+ Em  Emadd9<br/>
акчодзёвз абен с<br/>
<br/>
Проигрыш: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
вогереб хытсилакс ьлодв<br/>
яотс ястубе икяром<br/>
вокяром хиксйитлаб и<br/>
ером иквед етибюл ыв<br/>
<br/>
Заключение: Am Am6, Em Em+g, H7 H7/5+ Em Emadd9 - 2p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am6<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em+g<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7/5+<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Emadd9<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
