{% extends "chords.html" %}

{% set title = "Молитва и пост" %}
{% set handbook_unid = "a0b7f68d4b8dfe68c3256ad300478d3b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Аквариум + - молитва и пост<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">молитва и пост<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
A* A6* A7* A6* - 2p.<br/>
A Asus4 A/c A - 2p.<br/>
<br/>
     A*               A6*   A7*                   A6*<br/>
Проснулся сегодня утром от того, что ползу как змея,<br/>
      A*            A6*         A7*            A6*<br/>
При мне говорят моё имя, но я знаю, что это не я,<br/>
               G    D                       A Asus4 A A/c A, A A/c A<br/>
Я работал всю жизнь, похоже - коту под хвост,<br/>
    F        E             A  A/g A/f# A/f A/e E<br/>
Остаётся одно - Молитва и Пост.<br/>
<br/>
Проигрыш: A Asus4 A A/c A, A A/c A - 2p.<br/>
<br/>
Я встретился с Миком Джаггером в "Juan Les Pins" на пляжу,<br/>
Он сидел на красивом матрасе и не видел, как я лежу,<br/>
А я лежал рядом, немногословен и прост,<br/>
Лежал и думал: «Ну на тебе!, хэй!» - Молитва и Пост.<br/>
<br/>
Проигрыш: <br/>
A Asus4 A A/c A, A A/c A - 2p.<br/>
G D A Asus4 A A/c A, A A/c A <br/>
F E A A/g A/f# A/f A/e E<br/>
<br/>
  A                    A/c A    A                  A/c A<br/>
Учись у меня воздержанию,   не суй что попало в рот<br/>
        A                 A/c A     A<br/>
Не смотри, что я пью с утра -  это йога наших широт,<br/>
Просто перемыкает, и хочется выйти на мост,<br/>
А выйдешь и думаешь: "Нафиг, хэй!, Молитва и Пост".<br/>
<br/>
Заключение: <br/>
     A Asus4 A A/c A  A A/c A A Asus4 A A/c A     A A/c A<br/>
E-12--12----12--12----12-------12--12--12-----12----------<br/>
H---13--13----13--13----13-10----13--13--13-13--13-10--10-<br/>
G----------------------------------------------------12---<br/>
D---------------------------------------------------------<br/>
A---------------------------------------------------------<br/>
E---------------------------------------------------------<br/>
 G           D         A Asus4 A A/c A A A/c A <br/>
E--15-12-vb15---12h10------12---------12--------<br/>
H--------------------13--10--13---------13-vb13-<br/>
G-----------------------------------------------<br/>
D-----------------------------------------------<br/>
A-----------------------------------------------<br/>
E-----------------------------------------------<br/>
F    E               A  A/g A/f# A/f A/e E<br/>
E--17---11h10----------------------------------------------------------<br/>
H------------13h10h8-10-13sl10-10--13h10-13h10-13h10-13h10-13h10-13h10-<br/>
G----------------------------------------------------------------------<br/>
D----------------------------------------------------------------------<br/>
A----------------------------------------------------------------------<br/>
E----------------------------------------------------------------------<br/>
A Asus4 A A/c A, A A/c A - 2p.<br/>
G D A Asus4 A A/c A, A A/c A <br/>
F E A A/g A/f# A/f A/e E A<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A*<br/>
x E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A6*<br/>
x E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A7*<br/>
x E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|-■-|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/c<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/g<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/f#<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/f<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A/e<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
