{% extends "chords.html" %}

{% set title = "Мужской блюз" %}
{% set handbook_unid = "a214b15ddd715facc325679d006aedea" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - мужской блюз<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
мужской блюз<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: H E D - 3p. H<br/>
<br/>
   E      A       E E<br/>
В доме твоем светло,<br/>
      H      A      E E<br/>
В постели твоей тепло.<br/>
E          G#m    A           F#<br/>
 Любовь твоя светлей, чем стекло,<br/>
     E        F#       A     H      F#<br/>
Но все-таки - это стекло. Зачем тебе я,<br/>
 C       H        E C H E C H<br/>
Вечно бьющий стекло?<br/>
<br/>
Звери твои любят покой<br/>
Под этой столь ласковой нежной рукой.<br/>
И разве я решусь стать рекой<br/>
В доме, где чистый паркет, зачем я такой,<br/>
Желающий стать рекой?<br/>
<br/>
Проигрыш: <br/>
E A E E, H A E E, E G#m A F#, E F# A H F#, C H E C H E C H<br/>
<br/>
Кажется, нам с тобой не суждено,<br/>
Но все-таки в сумке моей осталось вино.<br/>
Дай свой стакан, не все ли равно<br/>
Кто из нас выйдет живым - ты или я;<br/>
  C           H       E C H E C H E C7 H7 E<br/>
Слушай, как сладко вино.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            H<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
