{% extends "chords.html" %}

{% set title = "На ход ноги" %}
{% set handbook_unid = "6f072c92addf8fa5c32577ae003cdfe5" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АРХАНГЕЛЬСК - на ход ноги<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
на ход ноги<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C - 11p.<br/>
<br/>
 C     F C   C/h     Am       G C<br/>
Тихо. Тихо. Ты посмотри, как тихо<br/>
         C             F C       C/h Am G C<br/>
Было время - ногу в стремя, а теперь - тихо<br/>
  F              Am<br/>
Птицы уснули в саду, <br/>
 F               Am<br/>
Рыбы уснули в пруду, <br/>
 F            Am<br/>
Даже в самом аду<br/>
       Dm       Dm/f         G        <br/>
Все молчат, не хотят будить лихо<br/>
          C   F        C<br/>
На ход ноги, на ход ноги,<br/>
          C  C/h      Am                G<br/>
Ты посмотри, там за окном не видно ни зги<br/>
         F       C  E    Am D7<br/>
Но если нужно бежать - беги<br/>
               C               G            C<br/>
Я не стану держать, только нальём на ход ноги<br/>
<br/>
Проигрыш: C C/h Am G G - 2p.<br/>
<br/>
Долго - долго, мы течём издалека, как Волга<br/>
Сольёмся, разольёмся, и, как учила нас матерь-вода, льёмся<br/>
Так как причал и так как друзья<br/>
Так как хотим того что нельзя<br/>
Так из грязей мы вышли в князья<br/>
И смотри-ка, покамест идём, не сдаёмся<br/>
На ход ноги, на ход ноги,<br/>
Ты посмотри, там за дверьми не видно ни зги<br/>
Но если нужно бежать - беги<br/>
Я не стану держать, только нальём на ход ноги<br/>
<br/>
Проигрыш: C F C C/h Am G C - 2p. <br/>
F Am F Am F Dm F G<br/>
<br/>
Ясно. Ясно, что не до конца безопасно<br/>
То нас тащит, то сносит, а в итоге всё даётся тому, кто просит<br/>
И это не явь и не сны<br/>
Но ты посмотри, как ясно видны<br/>
    F                            Dm<br/>
И, радость моя, посмотри, как чудны,<br/>
F                                G     <br/>
 Посмотри, как чудны дела твои, Господи<br/>
          C   F        C<br/>
На ход ноги, на ход ноги,<br/>
          C  C/h         Am                G<br/>
Ты посмотри, там где нас нет не видно не зги<br/>
         F       C  E    Am D7<br/>
Но если нужно бежать - беги<br/>
               C               G            C   <br/>
Я не стану держать, только нальём на ход ноги<br/>
<br/>
Заключение: <br/>
C C/h Am F C Dm Em F - 2p. C Em F G - 4p.<br/>
C C/h Am F C Dm Em F - 2p. C Em F G - 4p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
