{% extends "chords.html" %}

{% set title = "Назад в Архангельск" %}
{% set handbook_unid = "faa6eb762d2cf987c3257870003f7b91" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">Назад в Архангельск<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Am Am/c Am/g - 4p.<br/>
  Am Am/c Am/g Am Am/c Am/g Am Am/c Am/g Am Am/c Am/g<br/>
E--0-------------------------0-----------------------<br/>
H---0-------------------------0----------------------<br/>
G-2-------------------------2------------------------<br/>
D----------------------------------------------------<br/>
A----------------------------------------------------<br/>
E-------------3--2---------------------3---2---------<br/>
<br/>
Am                     Am/c Am/g<br/>
  У нас были руки и дороги<br/>
   Am                Am/c Am/g<br/>
Теперь мы ждём на пороге<br/>
    Am                Am/c Am/g<br/>
Мы смотрим на дым из трубы<br/>
   Am<br/>
И голубь благодати встаёт на дыбы<br/>
        D   F G            Am Am/c Am/g Am Am/c Am/g<br/>
Резной ветер, хрустальный ветер<br/>
 F<br/>
Поздно ждать, когда наступят сдвиги<br/>
     G                  Em<br/>
Смотри, как горят эти книги<br/>
           Am      Am/c Am/g Am Am/c Am/g<br/>
Назад в Архангельск<br/>
<br/>
В цепах и веригах Калика перехожий<br/>
Пьёт с кухаркой Дуней шампанское в прихожей<br/>
Куда ни глянь - везде образа<br/>
То ли лезь под кровать, то ли жми на тормоза<br/>
Резной ветер, хрустальный ветер<br/>
Поздно сжимать в кармане фиги<br/>
Смотри, как горят эти книги<br/>
Назад в Архангельск<br/>
<br/>
D<br/>
 Банана - мама с крепкими ногами<br/>
 Am<br/>
Режет карту мира на оригами<br/>
    D<br/>
За кассой дремлет совершенно мудрый муж<br/>
      E                             E<br/>
Мы выходим по приборам на великую глушь<br/>
           Am      Am/c Am/g<br/>
Назад в Архангельск<br/>
<br/>
Проигрыш: Am Am/c Am/g - 5p. <br/>
F D Am Am/c Am/g Am Am/c Am/g<br/>
<br/>
Мёртвые с туманом вместо лиц<br/>
Жгут в зиггуратах на улицах столицы<br/>
В небе один манифест<br/>
Куда бы ты ни шёл - на тебе стоит крест<br/>
Резной ветер, хрустальный ветер<br/>
Поздно считать связи и интриги<br/>
Смотри, как горят эти книги<br/>
Назад в Архангельск<br/>
<br/>
Заключение: Am Am/c Am/g - 8p. Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am/g<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
