{% extends "chords.html" %}

{% set title = "Не могу оторвать глаз от тебя" %}
{% set handbook_unid = "0ab85e6f21849fddc3256ef7003f36e4" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ZOOM ZOOM ZOOM - не могу оторвать глаз от тебя<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Не могу оторвать глаз от тебя <br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G - 8p.<br/>
<br/>
G                       G+c G<br/>
 Я родился сегодня утром<br/>
D<br/>
 Ещё до первого света зари<br/>
Em<br/>
  Молчание у меня снаружи<br/>
Hm<br/>
  Молчание у меня внутри<br/>
    C<br/>
Я кланяюсь гаснущим звёздам<br/>
  Am<br/>
Кланяюсь свету луны<br/>
        C<br/>
Но внутри у меня никому не слышный звук<br/>
      D<br/>
Поднимающийся из глубины<br/>
<br/>
Я родился на севере<br/>
Чтобы дольше оставался цел<br/>
У меня нет друзей<br/>
Чтобы никто не смог сбить прицел<br/>
Море расступилось передо мной<br/>
Не выдержав жара огня<br/>
И все стрелки внутри зашкаливали<br/>
При первых проблесках дня<br/>
<br/>
                    G<br/>
Я не мог оторвать глаз от тебя<br/>
                  Em<br/>
Не мог оторвать глаз от тебя<br/>
                  Hm        C D<br/>
Не мог оторвать глаз от тебя<br/>
                    G<br/>
Я не мог оторвать глаз от тебя<br/>
                 Em<br/>
Не мог оторвать глаз от тебя<br/>
                  Hm        C D<br/>
Не мог оторвать глаз от тебя<br/>
<br/>
Проигрыш: G D Em Hm C Am C D<br/>
<br/>
Я родился со стёртой памятью<br/>
Моя родина где-то вдали<br/>
Я помню, как учился ходить,<br/>
Чтобы не слишком касаться земли;<br/>
И я ушёл в пустыню,<br/>
Где каждый камень помнит твой след<br/>
Но я не мог бы упустить тебя<br/>
Как не мог бы не увидеть рассвет.<br/>
<br/>
<br/>
Я не могу оторвать глаз от тебя<br/>
Не могу оторвать глаз от тебя<br/>
Не могу оторвать глаз от тебя<br/>
Я не могу оторвать глаз от тебя<br/>
Не могу оторвать глаз от тебя<br/>
Не могу оторвать глаз от тебя<br/>
<br/>
Я не могу оторвать глаз от тебя<br/>
Не могу оторвать глаз от тебя<br/>
Не могу оторвать глаз от тебя<br/>
Я не могу оторвать глаз от тебя<br/>
Не могу оторвать глаз от тебя<br/>
Не могу оторвать глаз от тебя<br/>
<br/>
Заключение: G - 4р.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G+c<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
