{% extends "chords.html" %}

{% set title = "Не коси" %}
{% set handbook_unid = "cc3356200bd8348ac325679d006af0cc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - не коси<br/>
</span><span style="color:red"> <br/>
НЕ КОСИ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление:  A G A, A G A F, A G A Asus4 A A, A G A F <br/>
Am Am7 Am Am<br/>
<br/>
      F         Am        Em             Am<br/>
Не коси меня косой, не втыкай в ладонь гвоздь;<br/>
    F      Am       Em        Am<br/>
Настоем цикуты ты меня не глуши.<br/>
      F           C             Dm     F<br/>
Ты - мой светлый разум, я те - чёрная кость,<br/>
      F               Am       Em        Am               <br/>
Так сбегай в честь пропоя нашей чистой души.<br/>
<br/>
Проигрыш: F F F F, Am G Am Am G Am – 4p.<br/>
<br/>
Сколько я ни крал - а всё руки пусты;<br/>
Сколько я ни пил - всё вина как с куста;<br/>
Хошь ты голосуй, хошь иди в буддисты,<br/>
А проснёшься поутру - всяк вокруг пустота.<br/>
<br/>
Проигрыш: F F F F, Am G Am Am G Am – 2p.<br/>
<br/>
Не пили меня пилой, не тычь бревном в глаз:<br/>
Брёвен здесь хватит на порядочный дом;<br/>
А душа - святая, она клала на нас,<br/>
Так что пей - не ёрзай, мы с тобой вдвоём.<br/>
<br/>
Я бы и хотел, да всё как след на песке;<br/>
Хошь - пой в опере, хошь брей топором -<br/>
А всё равно Владимир гонит стадо к реке,<br/>
А стаду всё одно, его съели с говном.<br/>
<br/>
Проигрыш: F F F F, Am G Am Am G Am – 3p. F F F F, Am G Am <br/>
<br/>
Так не коси меня косой, не втыкай в ладонь гвоздь;<br/>
Настоем цикуты ты меня не глуши.<br/>
Ты - мой светлый разум, я те - чёрная кость,<br/>
Так сбегай в честь пропоя нашей чистой души.<br/>
<br/>
Заключение: F F F F, Am G Am<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
