{% extends "chords.html" %}

{% set title = "Неизвестные факты из биографии Элвиса Пресли" %}
{% set handbook_unid = "c2874d95aeaef798c325714f00496a67" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - БЕСПЕЧНЫЙ РУССКИЙ БРОДЯГА - неизвестные факты из биографии элвиса пресли<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Неизвестные факты из биографии Элвиса Пресли<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 5-м ладу<br/></i>
 <br/>
Вступление:<br/>
G-------------------2-5--4h5-7-4-------------5-2------------<br/>
D-----5-5-5h7-5---3-------------5-------3-5-----3h5--0------<br/>
A--0---------------0-------------5---0-3--------------2-----<br/>
E-1--------------1------------------1--------------------3--<br/>
<br/>
G---2-4-5-7-9-9-9-9-10-10-10-10-9--<br/>
D----------------------------------<br/>
A-0----0-0-0-0-0-0-0--0--0--0--0---<br/>
E----------------------------------<br/>
<br/>
G-2-2-5-5-4-4-7-7-6-8-9-9-10-10-10-<br/>
D----------------------------------<br/>
A--0-0-0-0-0-0-0-0-----0-0--0--0--0<br/>
E----------------------------------<br/>
<br/>
G-10-7-9-5-7-4-5-2-4-0-2---0-----------------<br/>
D------------------------3---2-3-2-1-0-------<br/>
A---------0-0-0-0-0-0-0-0-0-0-0-------2-0----<br/>
E----------------------------------------3-1-<br/>
<br/>
G-----------------------------0-0------------<br/>
D------0-2-3-5-7-9-10--0-3h4-0-0-0-0-0-0-0---<br/>
A-0-2-3---------------------------2-3-2---0--<br/>
E---------------------------------------3--1-<br/>
<br/>
G--------------------------------12-10-12-12-12-13-13------<br/>
D------0-2-3-5-7-9-10-12-14-15-14-----------------------2--<br/>
A-0-2-3----------------------------------------------------<br/>
E-----------------------------------------------------0----<br/>
<br/>
Am                   C        F<br/>
Либо у тебя слишком мягкие манеры,<br/>
Dm           E             C Am<br/>
Либо я действительно недотрога.<br/>
       Am         G            C        F<br/>
Элвис Пресли был сыном Императрицы с Венеры<br/>
      Dm           E             Am<br/>
И одного контрабандиста из Таганрога.<br/>
<br/>
        Dm<br/>
Он спустился в этот мир, спасти нас от горя,<br/>
   Am<br/>
Оставив свой розовый Кадиллак на небе;<br/>
       Dm/f                           <br/>
Он прошёл от Белого до Чёрного моря,<br/>
         E                          E7<br/>
Тряс плечами и пел: "О бэби, бэби, бэби!"<br/>
<br/>
Заключение: <br/>
G---------------------------<br/>
D-----------5---3-3-3-2-2-3-<br/>
A-2-2-----------------------<br/>
E-----4h0-------------------<br/>
<br/>
G-2-2--2-2---2-2---2-2---2-2--2-2---2-2----4---------------<br/>
D-2-2--2-2-3-2-2-3-2-2---2-2--2-2-1-2-2-2-3----------------<br/>
A-0-0--0-0---0-0---0-0---0-0--0-0---0-0-----0-5h7-------0--<br/>
E----------------------3----3--------------------0h3-4h3---<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
