{% extends "chords.html" %}

{% set title = "Не синхрон" %}
{% set handbook_unid = "847db72df8f96f51c3256923003f039a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - СПЕЦИАЛЬНЫЕ ПРОЕКТЫ - ТЕРРАРИУМ - ПЯТИУГОЛЬНЫЙ ГРЕХ - не синхрон<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
не синхрон<br/>
</span><i>Б.Гребенщиков - А.Гуницкий<br/></i>
 <br/>
Вступление: <br/>
        Em Em/d# Em/d     Em/c#   C               Em<br/>
E-----5-7--9-7h5-14h12------------7-7-7-6h5--5-------------<br/>
H-5-8------------------12-11-10-8-------------8-10---------<br/>
G-------------------------------------------------9-7-9-7-4<br/>
D----------------------------------------------------------<br/>
       Em  Em/d# Em/d    Em/c#  C            Em<br/>
E----5-7-7h5-9-7-14h12-10------------------------<br/>
H-5-8--------------------11-----11--10-11-10-7---<br/>
G---------------------------14--------9----------<br/>
D------------------------------------------------<br/>
<br/>
Em       Em/d#      Em/d       Em/c#<br/>
  Полина Дороти вздымает два крыла.<br/>
   C                     G<br/>
Теперь в иных краях, бедняжка.<br/>
C            G     C           G<br/>
 Врач вышел вон. Она вздыхала тяжко<br/>
   Am                   C<br/>
И кузнеца дежурного звала.<br/>
<br/>
Проигрыш: Em Em/d# Em/d Em/c# C Em - 2p.<br/>
<br/>
G               C             G C<br/>
 А тот не приходил. Песок, зола<br/>
    G            C                G   C<br/>
От чувств его остались - только пряжку<br/>
G               C    G            C<br/>
 От старого ремня сидит и чистит чашкой<br/>
    Am                        C<br/>
С изображением трехглавого орла...<br/>
<br/>
Проигрыш: Em Em/d# Em/d Em/c# C Em - 2p.<br/>
<br/>
Чуть позже в юности он стал совсем иным - <br/>
Не выводил из строя труб подзорных,<br/>
Не подавал руки страстям позорным<br/>
   Am                  C  Em <br/>
И Дороти за это был любим.<br/>
<br/>
G(III)      G#   G(III)           F#<br/>
    В чередование дней сокрыт СИНХРОН.<br/>
     F                  Em<br/>
Не знающий его выходит вон.<br/>
G(III)      G#   G(III)           F#<br/>
    В чередование дней сокрыт СИНХРОН.<br/>
     F                  Em<br/>
Не знающий его выходит вон.<br/>
<br/>
Заключение: <br/>
   Em Em/d# Em/d     Em/c#   C       Em <br/>
E-------14h12----------------------------<br/>
H-0h12-------12--10h12-10--0h11-10-8----- 4p.<br/>
G------------------------------------7h9-<br/>
D----------------------------------------<br/>
<span style="color:gray"> <br/>
E---15-13-13------------10--<br/>
H-16--------16--------10--13 - 6p.<br/>
G-------------16-14-12------<br/></span>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/d#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em/d<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Em/c#<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="width:131.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
