{% extends "chords.html" %}

{% set title = "Никто не сможет дать мне" %}
{% set handbook_unid = "8f04f4bae4656057c325679d006aee20" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - никто не сможет дать мне<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
никто не сможет дать мне<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: 4:0 3:0 <br/>
F G - 7p.<br/>
<br/>
G                Dm<br/>
 В этом городе снег,<br/>
G                    F<br/>
 Я видел - это был снег.<br/>
G                Dm<br/>
 В этом городе снег,<br/>
F                        C  C<br/>
 Но в воздухе пахнет весной.<br/>
G        Am        F         G<br/>
 И я не знаю, что будет со мной,<br/>
G         Am     F       G<br/>
 Когда в реках двинется лед. <br/>
G      Am         C       G F G F G<br/>
 Но я вижу свет в этом окне.<br/>
<br/>
Я не знаю, как ждать тебя,<br/>
Но ждать тебя - великая честь.<br/>
Я боюсь назвать тебя,<br/>
Достаточно того, что ты есть.<br/>
Не знаю с чем это кончится здесь,<br/>
Но я слышу, как сводят мосты,<br/>
G     Am       C       G G# G(III)<br/>
 И я вижу эти руки в окне.<br/>
<br/>
С           Am     G<br/>
 Никто не сможет дать мне,<br/>
С           Am     G<br/>
 Никто не сможет дать мне,<br/>
С           Am     G<br/>
 Никто не сможет дать мне,<br/>
B                       F<br/>
 Того, что можешь дать ты,<br/>
        Dm G<br/>
Только ты.<br/>
<br/>
Проигрыш: C F Dm G# B(VI) - 2p. C G<br/>
<br/>
Я не знаю, как ждать тебя,<br/>
Но ждать тебя - великая честь.<br/>
Я не знаю, как мне назвать тебя,<br/>
Но ты есть.<br/>
Не знаю чем это кончится здесь,<br/>
Но я слышу, как сводят мосты,<br/>
G     Am       C        G G# G(III)<br/>
 И я видел все это во сне.<br/>
<br/>
Никто не сможет дать мне,<br/>
Никто не сможет дать мне,<br/>
Никто не сможет дать мне,<br/>
Того, что можешь дать ты,<br/>
Ты.<br/>
<br/>
Никто не сможет дать мне,<br/>
Никто не сможет дать мне,<br/>
Никто не сможет дать мне,<br/>
Того, что можешь дать ты,<br/>
Ты,<br/>
Только ты.<br/>
<br/>
Заключение: C F Dm G# B(VI) - 2p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      G#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   VI     B(VI)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
