{% extends "chords.html" %}

{% set title = "Ночной разговор" %}
{% set handbook_unid = "b12b9df234689b1dc325679d006af045" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - ночной разговор<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
ночной разговор<br/>
</span><i>Б.Окуджава<br/>
 <br/></i>
Вступление: Am<br/>
<br/>
       Am        C/h        Am     C/h     Am<br/>
- Мой конь притомился, стоптались мои башмаки.<br/>
  Am        C/h      C           G         C<br/>
Куда же мне ехать? Скажите мне, будьте добры.<br/>
                Dm         E                        F<br/>
- Вдоль Красной реки, моя радость, вдоль Красной реки,<br/>
           Dm       E                  Am<br/>
До Синей горы, моя радость, до Синей горы.<br/>
<br/>
Проигрыш: Am Am/e Am C/h Am C/h Am Am C/h Am C/h… <br/>
<br/>
- ...Как проехать туда? Притомился мой конь.<br/>
Скажите пожалуйста, как мне проехать туда?<br/>
- На ясный огонь, моя радость, на ясный огонь,<br/>
          Dm         E                       Am Am/e Am Am/e<br/>
Езжай на огонь, моя радость, найдешь без труда.<br/>
<br/>
- А где же тот ясный огонь, почему не горит?<br/>
Сто лет подпираю я небо ноное плечом...<br/>
- Фонарщик был должен зажечь, но фонарщик тот спит,<br/>
           Dm        E                   Am Am Asus2 Am<br/>
Фонарщик уснул, моя радость, а я ни при чем.<br/>
<br/>
И снова он едет один без дороги во тьму.<br/>
Куда же он едет, ведь ночь подступила к глазам!..<br/>
- Ты что потерял, моя радость? - шепчу я ему.<br/>
А он отвечает: - Ах, если б я знал это сам!<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/e<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
