{% extends "chords.html" %}

{% set title = "Новогоднее поздравление (2013)" %}
{% set handbook_unid = "9512251f298bc1d043257ae3006acb33" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- интернет-синглы - новогоднее поздравление (2013)<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
новогоднее поздравление (2013)<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
G D C C - 4 p.<br/>
G D G C, G D C C<br/>
G D G C, G D G C+g:G<br/>
<br/>
   G          D<br/>
В сорок градусов мороза<br/>
G           C<br/>
Расцвела на ёлке роза<br/>
 G         D<br/>
Вот она горит и светит<br/>
C                 C<br/>
Что нам делать с ней?<br/>
 G           D<br/>
Дед Мороз лежит под ёлкой<br/>
G           C<br/>
Поражённый перепёлкой<br/>
G             D             G  C+g G<br/>
И глядит в зенит поверх ветвей      <span style="color:silver">и поёт:<br/></span>
 <br/>
   G     D<br/>
С новым годом<br/>
   G              C<br/>
С новым, с новым годом<br/>
   G     D       C          C<br/>
С новым годом, светом и теплом<br/>
   G     D<br/>
С новым годом<br/>
   G              C<br/>
С новым, с новым годом<br/>
   G     D     G C+g:G<br/>
С новым годом, ом<br/>
<br/>
Проигрыш: <br/>
G D G C, G D C C D<br/>
G D G C, G D G C+g:G<br/>
G D G C, G D C C D<br/>
G D G C, G D G C+g:G<br/>
<br/>
С новым годом<br/>
С новым, с новым годом<br/>
С новым годом, светом и теплом<br/>
С новым годом<br/>
С новым, с новым годом<br/>
С новым годом, ом<br/>
<br/>
Заключение:<br/>
  G     G/f   C+g/e Cm/d#              G<br/>
E--7-7--10-10--8-8--8-8sl10sl8-       -7-<br/>
H------------------------------ - 4p. ---<br/>
G-7-7--10-10--9-9--8-8---------       -7-<br/>
D------------------------------       ---<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/f<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          C+g/e<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Cm/d#<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
