{% extends "chords.html" %}

{% set title = "Палёное виски и толчёный мел" %}
{% set handbook_unid = "a78750ab860da18e44257a82004567b1" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ РУССКОЯЗЫЧНЫЕ ПЕСНИ - палёное виски и толчёный мел<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
палёное виски и толчёный мел<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу<br/></i>
 <br/>
Вступление: C C+g:C F Dm/f:F, C G - 6p.<br/>
<br/>
C         F    G           C  F G<br/>
 Паленое виски и толченый мел<br/>
C F    G          C  F G<br/>
 Кто смел тот и съел<br/>
Am      E         F<br/>
  Кто съел тот и сыт<br/>
Dm/f                       G G7  <br/>
  Еще чуть-чуть и он уже спит<br/>
<br/>
Он спит, ему снится покой<br/>
Ты посмотри, ты не трогай его рукой<br/>
Не трогай рукой, чтобы он не вставал<br/>
Дружелюбный как коленчатый вал, девятый вал<br/>
<br/>
Проигрыш: C C+g:C F Dm/f:F, C F G - 2p.<br/>
<br/>
Паленое виски и толченый мел<br/>
Скажи мне, зачем ты так побледнел<br/>
Зачем ты глядишь сквозь кусты<br/>
И клянись Христом Богом, что ты это ты<br/>
<br/>
Зачем этот якорь у тебя во рту<br/>
Зачем дыра в твоем левом борту<br/>
И долго ли нам ходить здесь с трубой<br/>
Пока нас не вынесет на берег прибой, новый прибой <br/>
<br/>
Проигрыш: C C+g:C F Dm/f:F, C G - 2p.<br/>
Am E F G, Am E Dm/f G G7<br/>
C C+g:C F Dm/f:F, C G - 4p.<br/>
<br/>
А на берегу ждет родник с водой<br/>
Смотри какой ты стал молодой<br/>
Сквозь твои пальцы плывут облака<br/>
И в твоих волосах заблудилась река<br/>
<br/>
Значит, это было совсем неспроста<br/>
Значит, наша природа пуста<br/>
И млечный путь шумит как шумел<br/>
Как паленое виски и толченый мел. Толченый мел.<br/>
<br/>
Заключение: C C+g:C F Dm/f:F, C G - 6p. C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F/f<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
