{% extends "chords.html" %}

{% set title = "Песня №2" %}
{% set handbook_unid = "26ec1342ed97311bc325679d006aef01" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - песня №2<br/>
</span><span style="color:red"> <br/>
ПЕСНЯ №2<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
E-7-<br/>
H-8- D С G G/f# Em F#m G G/f# Em A G A A<br/>
G-7-<br/>
<br/>
       D               G          D            A          D   G D A<br/>
Здесь темно, словно в шахте, но ушли все, кто мог что-то рыть;<br/>
      D                                      Hm<br/>
И когда ты выходишь, ты видишь, что это не смыть.<br/>
        G                     G/f#            Em   F#m<br/>
И ты хотел бы быть вежливым, только оборвана нить;<br/>
       G       G/f#        Em           A      D        <br/>
Да и что тебе делать здесь, если здесь нечего пить.<br/>
<br/>
Проигрыш: D G D A - 2p.<br/>
<br/>
И ты гложешь лекарства, как будто твёрдый коньяк;<br/>
И врачи, как один, утверждают, что это - голяк.<br/>
И директор твоей конторы, наверно, маньяк:<br/>
Он зовёт на ковёр, а потом говорит тебе: "Ляг".<br/>
<br/>
Проигрыш: D G D A - 3p.<br/>
<br/>
Ты слыхал, что отсутствие ветра - хорошая весть.<br/>
И ты плывёшь, как Ермак, но вокруг тебя ржавая жесть.<br/>
И ты как мальчик с пальцем, но дыр в той плотине не счесть;<br/>
Но отчего ты кричишь, когда мы зовём тебя есть?<br/>
<br/>
Проигрыш: D G D A <br/>
<br/>
И в бронетанковом вальсе, в прозрачной дымке берёз,<br/>
И твой ангел-хранитель - он тоже не слишком тверёз;<br/>
И вы плывёте вдвоём, шалея от запаха роз,<br/>
Но никто не ответит, потому что не задан вопрос.<br/>
<br/>
Проигрыш: D G D A - 4р.<br/>
<br/>
Но что вино - полумера, так это ты вычислил сам,<br/>
И, поистёршись в постелях, с осторожностью смотришь на дам.<br/>
И в суете - как священник, забывший с похмелья, где храм,<br/>
Ты бываешь то там, то здесь; но ты не здесь и не там.<br/>
<br/>
Проигрыш: D G D A <br/>
<br/>
И ты кинулся в круг, хотя ты не верил в их приз;<br/>
И ты смотришь в небо, но видишь нависший карниз.<br/>
И, считая время колодцем, ты падаешь вниз;<br/>
Но если там есть сцена, ну что ты споёшь им на бис?<br/>
<br/>
Заключение: D G D A - 4р. D<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#m<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
