{% extends "chords.html" %}

{% set title = "Платан" %}
{% set handbook_unid = "f43e165132cc398fc325679d006aef13" %}

{% block content %}
{% raw %}
<span style="color:red">ПЛАТАН (studio version)<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: E F# H7(II) – 4p.<br/>
<br/>
E             F#        H7(II)<br/>
 Зуд телефонов, связки ключей;<br/>
E                                A<br/>
 Ты выйдешь за дверь, и вот ты снова ничей.<br/>
E                F#          H7(II)<br/>
 Желчь поражений, похмелье побед,<br/>
A                        C       H7<br/>
 Но чем ты заплатишь за воду ничьей?<br/>
C#m               A<br/>
   Я хотел бы опираться о платан,<br/>
C                   H7<br/>
 Я так хотел бы опираться о платан,<br/>
   E       F#          H7(II)    C A E H7<br/>
А так мне кажется, что всё это зря.<br/>
<br/>
Свои законы у деревьев и трав;<br/>
Один из нас весел, другой из нас прав.<br/>
Прекрасное братство, о достойный монах,<br/>
С коростылём, зашитым в штанах.<br/>
Я хотел бы опираться о платан,<br/>
Я так хотел бы опираться о платан,<br/>
А так мне кажется, что всё это зря.<br/>
<br/>
Проигрыш: <br/>
E F# H7(II) E A E F# H7(II) A C H7 C#m A C H7 E F# H7(II) C A E H7<br/>
<br/>
С мешком кефира до Великой Стены;<br/>
Идёшь за ним, но ты не видишь спины,<br/>
Встретишь его - не заметишь лица;<br/>
Забудь начало - лишишься конца.<br/>
Но я хотел бы опираться о платан,<br/>
Я так хотел бы опираться о платан,<br/>
А так мне кажется, что всё это зря.<br/>
<br/>
Торжественны клятвы до лучших времён;<br/>
Я пью за верность всем богам без имён.<br/>
Я пью за вас, мои любовь и друзья;<br/>
Завидую вашему знанию, что я - это я.<br/>
Но будет время, я обопрусь о платан;<br/>
Будет время - я обопрусь о платан,<br/>
Пока что мне кажется, что всё это зря.<br/>
<br/>
Заключение: C#m A C H7 E F# H7 C A E H7 E<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          H7(II)<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|-■-|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#m<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
