{% extends "chords.html" %}

{% set title = "Под мостом, как Чкалов" %}
{% set handbook_unid = "d4cb923c7115dc47c325679d006af29d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - ТЕРРИТОРИЯ - под мостом, как чкалов<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
под мостом, как чкалов<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: C - 4p.<br/>
<br/>
C       G       C  G<br/>
Эй, на том берегу,<br/>
C          G       C             G<br/>
 Здесь тепло, а у вас все в снегу -<br/>
     C     E        Am      D/f#<br/>
Я могу сказать вам тайное слово, но <br/>
F                Fm   G<br/>
 Как до вас докричаться?<br/>
C       G        C G<br/>
 От стены до стены<br/>
C         G       C       G<br/>
 Вы все молитесь богу войны,<br/>
        C   E     Am      D/f#<br/>
А над всем купол злой тишины;<br/>
F               Fm   G<br/>
 Ох, легко доиграться.<br/>
<br/>
Проигрыш: C C/h F F G - 4p.<br/>
<br/>
Два крыла по плечам<br/>
Мешают мне спать по ночам,<br/>
А учить летать - инструкторов тьма,<br/>
Лишь ленивый не учит;<br/>
Им легко с высоты,<br/>
А мы здесь - как я, так и ты,<br/>
А над всем - вилок, рогаток, ножей:<br/>
Нас спасает лишь случай.<br/>
<br/>
      C           G <br/>
Но когда - от винта<br/>
     Am       Em<br/>
И кругом пустота,<br/>
     Am          D<br/>
От зубов до хвоста -<br/>
Dm                 Fm G<br/>
  И в пропасть на скалы;<br/>
        C          G<br/>
И не встать, и не сесть -<br/>
      Am          Em<br/>
Ты скажи все, как есть,<br/>
       Am         D<br/>
И - привет, Ваша честь,<br/>
         Fm G                  C<br/>
Прямо в рай, под мостом, как Чкалов.<br/>
<br/>
Проигрыш: C C/h F F G - 4p.<br/>
С Am Em Em Dm Dm Fm G<br/>
C C/h F F G - 4p.<br/>
<br/>
Ой, легко на земле;<br/>
Что в Тибете, что в Царском селе<br/>
Все, похоже, хотят одного,<br/>
Да не могут добиться -<br/>
И чертят себе круг,<br/>
И стреляют друзей и подруг,<br/>
А внутри бьет живая вода -<br/>
Ну, кто ж мешает напиться? <br/>
<br/>
И когда - от винта<br/>
И кругом пустота,<br/>
Не лечи, не кричи,<br/>
Что дали так мало -<br/>
Двум смертям не бывать,<br/>
Так чего здесь скрывать,<br/>
Продолби в сердце лед -<br/>
И вперед, вперед! под мостом, как Чкалов.<br/>
<br/>
Заключение: C C/h F F G - 6p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Fm<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
