{% extends "chords.html" %}

{% set title = "Поэзия" %}
{% set handbook_unid = "a83b19d313584cf2c325679d006af25e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - поэзия<br/>
</span><span style="color:red"> <br/>
ПОЭЗИЯ<br/>
</span><i>Б. Гребенщиков - А. Гуницкий<br/>
 <br/></i>
E--------------10---<br/>
H-3-----------1--1--<br/>
G-------------------<br/>
D--0-0-0-0-2-3----0-<br/>
A-------------------<br/>
E---3---3-----------<br/>
:еинечюлкаЗ<br/>
<br/>
тор ебет увроп орокс о орокС<br/>
1:I      1:0  1:III<br/>
 дору акьдяд йызалгортсыб О.<br/>
улоп ан типиркс, кичваруб течакС,<br/>
1:IV<br/>
  улип манишрев к юамыдзв я, ьчорП.<br/>
ьширогс янаб ыт орокс о орокС,<br/>
жирап дорог уживанен Я.<br/>
ьшипирх ыт ярз, чиверац йыпулГ,<br/>
1:I<br/>
   ьширогс ыт едг, янаб яаксниФ.<br/>
<br/>
E-0---12---3-7--7-19---12---19-5------10-<br/>
H--3-0--1-----3--1--3-0--0-----------3---<br/>
G---------0----2-----------------2-2-----<br/>
D--------0--3--------------4--------1----<br/>
A-------------------------1-----3--------<br/>
E----------------------------------------<br/>
:еинелпутсВ<br/>
{% endraw %}
{% endblock %}
