{% extends "chords.html" %}

{% set title = "Поезд в огне" %}
{% set handbook_unid = "6798ab3252a8b46dc325679d006af12f" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - РАВНОДЕНСТВИЕ - поезд в огне (</span><span style="font-size:8.0pt">video version</span><span style="font-size:8.0pt;text-transform:uppercase">)<br/>
</span><span style="color:red"> <br/>
ПОЕЗД В ОГНЕ(video version)<br/>
</span><i>Б. Гребенщиков<br/>
<br/>
Гудок:<br/>
</i><span style="color:#333333">E-6~~~~~~~<br/>
H-6~~~~~~~<br/></span>
 <br/>
Вступление: D Em G D – 2p.<br/>
<br/>
D                   Em<br/>
 Полковник Васин приехал на фронт<br/>
      G             D<br/>
Со своей молодой женой.<br/>
D                    Em<br/>
 Полковник Васин созвал свой полк<br/>
      G                D<br/>
И сказал им: Пойдём домой.<br/>
      D             Em<br/>
Мы ведём войну уже семьдесят лет,<br/>
      G                     D<br/>
Нас учили, что жизнь - это бой,<br/>
       D               Em<br/>
Но по новым данным разведки<br/>
       G             D<br/>
Мы воевали сами с собой.<br/>
<br/>
Проигрыш: D Em G D – 2p.<br/>
<br/>
Я видел генералов,<br/>
Они пьют и едят нашу смерть, <br/>
Их дети сходят с ума<br/>
От того, что им нечего больше хотеть.<br/>
А земля лежит в ржавчине,<br/>
Церкви смешались с золой.<br/>
И если мы хотим, чтобы было куда вернуться,<br/>
Время вернуться домой.<br/>
<br/>
D               A<br/>
Этот поезд в огне,<br/>
       Em               G<br/>
И нам не на что больше жать.<br/>
D               A<br/>
Этот поезд в огне,<br/>
       Em              G<br/>
И нам некуда больше бежать.<br/>
D               A<br/>
Эта земля была нашей,<br/>
     Em                  G<br/>
Пока мы не увязли в борьбе,<br/>
D                 A<br/>
 Она умрёт, если будет ничьей.<br/>
         Em       G       D<br/>
Пора вернуть эту землю себе.<br/>
<br/>
Проигрыш: D Em G D – 4p.<br/>
<br/>
А кругом горят факелы,<br/>
Идёт сбор всех погибших частей.<br/>
И люди, стрелявшие в наших отцов,<br/>
Строят планы на наших детей.<br/>
Нас рожали под звуки маршей,<br/>
Нас пугали тюрьмой.<br/>
Но хватит ползать на брюхе -<br/>
Мы уже возвратились домой.<br/>
<br/>
Этот поезд в огне,<br/>
И нам не на что больше жать.<br/>
Этот поезд в огне,<br/>
И нам некуда больше бежать.<br/>
Эта земля была нашей,<br/>
Пока мы не увязли в борьбе, <br/>
Она умрёт, если будет ничьей.<br/>
Пора вернуть эту землю себе.<br/>
<br/>
Этот поезд в огне,<br/>
И нам не на что больше жать.<br/>
Этот поезд в огне,<br/>
И нам некуда больше бежать.<br/>
Эта земля была нашей,<br/>
Пока мы не увязли в борьбе, <br/>
Она умрёт, если будет ничьей.<br/>
Пора вернуть эту землю себе.<br/>
<br/>
Проигрыш: D Em G D – 4p. D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
