{% extends "chords.html" %}

{% set title = "Пришел пить воду" %}
{% set handbook_unid = "5c253fc80855504443257cad00117f9d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ИНТЕРНЕТ-СИНГЛЫ - пришел пить воду<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
пришёл пить воду <br/>
</span><i>Б.Гребенщиков<br/>
<br/>
Каподастр на 2-м ладу <br/></i>
 <br/>
Вступление:<br/>
  Dm            Dm<br/>
E----1-------0-----1--------<br/>
H---3-3-----------3-3-------<br/>
G--2---2---------2---2------<br/>
D-0-----0-3h5---0-----0-3h5-<br/>
A---------------------------<br/>
E---------------------------<br/>
Dm A7sus4 - 4p.<br/>
<br/>
    Dm                    A7sus4      Dm A7sus4<br/>
Пришел пить воду, не смог узнать её вкус.<br/>
    Dm                              Gm6/b A7sus4<br/>
Пришел пить воду, не смог узнать её вкус.<br/>
 Dm <br/>
Железные скобы вбиты в крылья,<br/>
  Gm6/b             Gm6/b+e<br/>
Источник задушен золотой пылью,<br/>
A7sus4/g      A7sus4           Dm<br/>
 Закрой за мной - едва ли я вернусь.<br/>
<br/>
Проигрыш: Dm A7sus4 - 2p.<br/>
<br/>
Будешь в Москве, остерегайся говорить о святом.<br/>
Будешь в Москве, остерегайся говорить о святом.<br/>
          Dm                     Dm/c<br/>
Не то - кроткие, как голуби, поймают тебя.<br/>
Святые оседлают тебя.<br/>
Служители любви вобьют тебя в землю крестом.<br/>
<br/>
Проигрыш:<br/>
   E----0-<br/>
   H------<br/>
   G------ <br/>
Dm D-3h5-- - 2p.<br/>
   A------<br/>
   E------<br/>
<br/>
   C             Gm6/b            Dm Dm/f<br/>
А нищие духом блаженны - вопрос снят,<br/>
   C               Gm6/b A7sus4           A7<br/>
Но имеющие уши - слышат,       и Покров свят.<br/>
Dm              Dm/c<br/>
 Бессмысленны против и за.<br/>
 Gm6/b               Gm6/b+e<br/>
Что-то изменилось у тебя в глазах. <br/>
A7sus4/g      A7sus4           Dm<br/>
Соль теряет силу и становится яд.<br/>
<br/>
Проигрыш: Dm A7sus4 - 2p.<br/>
<br/>
  Dm       A7sus4 Dm A7sus4<br/>
E-5--3-1-0--0-1--------------------<br/>
H---------3------------------------<br/>
G-----------------2----------------<br/>
D----------------------------------<br/>
A----------------------------------<br/>
E----------------------------------<br/>
  Dm          Gm6/b A7sus4<br/>
E-5--3-6-5-0-1-3-------------------<br/>
H----------------------------------<br/>
G----------------------------------<br/>
D----------------------------------<br/>
A----------------------------------<br/>
E----------------------------------<br/>
  Dm             Gm6/b Gm6/b+e<br/>
E-10-------------------------------<br/>
H-----10-8-6-8-10-11-10-8-6--------<br/>
G----------------------------------<br/>
D----------------------------------<br/>
A----------------------------------<br/>
E----------------------------------<br/>
A7sus4/g A7sus4 Dm A7sus4 Dm A7sus4<br/>
E-6------5-3----1------------------<br/>
H----------------------------------<br/>
G----------------------------------<br/>
D----------------------------------<br/>
A----------------------------------<br/>
E----------------------------------<br/>
<br/>
Пришел пить воду, не смог узнать её вкус.<br/>
Пришел пить воду, не смог узнать её вкус.<br/>
   Dm        Dm/c<br/>
Железные скобы вбиты в крылья,<br/>
Источник задушен золотой пылью,<br/>
Закрой за мной, я не вернусь.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          A7sus4<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gm6/b<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Gm6/b+e<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         A7sus4/g<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
