{% extends "chords.html" %}

{% set title = "Псалом 151" %}
{% set handbook_unid = "351ea536636f9fcdc3256b6c002a245c" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СЕСТРА ХАОС - псалом 151<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Псалом 151<br/>
</span><i>Б. Гребенщиков  <br/>
Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: Asus4<br/>
Am C F E - 4p.<br/>
<br/>
   Am         C             F         E<br/>
Я видел - Моисей зашёл по грудь в Иордан<br/>
   C           E      Am  E<br/>
Теперь меня не остановить.<br/>
  Am       C        F          E<br/>
Время собирать мой чёрный чемодан<br/>
   C           E      Am       <br/>
Теперь меня не остановить.<br/>
    C                    D<br/>
Мы баловались тем, чего нет у богов,<br/>
  Dm                 E<br/>
Теперь наше слово - сумма слогов.<br/>
C        G6/h        Am<br/>
 Время отчаливать от этих берегов.<br/>
  Am           E      Am E<br/>
Теперь меня не остановить<br/>
<br/>
Проигрыш: Am C F E - 4p.<br/>
<br/>
Я взошёл в гору и был с духом горы<br/>
Теперь меня не остановить.<br/>
Ему милей запах его кобуры<br/>
Теперь меня не остановить.<br/>
Пускай я в темноте, но я вижу, где свет.<br/>
Моему сердцу четырнадцать лет<br/>
И я пришел сказать, что домой возврата нет.<br/>
Теперь меня не остановить<br/>
<br/>
Проигрыш: Am C F E - 4p. Am<br/>
<br/>
   Hm          D              G         F#<br/>
Мы так давно здесь, что мы забыли - кто мы.<br/>
   Hm          F#     Hm  F#<br/>
Теперь меня не остановить.<br/>
    Hm       D            G            F#<br/>
Пришли танцевать, когда время петь псалмы - <br/>
  Hm           F#     Hm<br/>
Теперь меня не остановить.<br/>
D                          E<br/>
Я сидел на крыше и видел, как оно есть:<br/>
Em                F#<br/>
  Нигде нет неба ниже, чем здесь.<br/>
D       D/c#      Hm <br/>
 Нигде нет неба ближе, чем здесь.<br/>
   Hm          F#    Hm  F#<br/>
Теперь меня не остановить.<br/>
<br/>
Заключение: <br/>
Hm D G F#, Hm F# Hm F#, Hm D G F#, Hm F# Hm, <br/>
D E, Em F#, D D/c# Hm Em, Hm F# Hm F#,<br/>
Hm D G F# - 6p.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           F#<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|-■-|---|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|-■-|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          D/c#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
