{% extends "chords.html" %}

{% set title = "Пёс Дуглас" %}
{% set handbook_unid = "245f95e35c5d7ca5c325679d006aee0b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - пёс дуглас<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
пёс дуглас<br/>
</span><i>А.Вертинский<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
        Am         A7       Dm       <br/>
В нашу комнату Вы часто заходили,<br/>
          G               C  E<br/>
Где нас двое: я и пес Дуглас,<br/>
     Am         A7    Dm<br/>
И кого-то из двоих любили,<br/>
              F    Dm     E<br/>
Только я не знал кого из нас<br/>
<br/>
       E                       Am<br/>
Псу однажды Вы давали соль в облатке,<br/>
 A7                    Dm<br/>
Помните, когда он заболел?<br/>
      Am    A7           Dm<br/>
Он любил духи и грыз перчатки<br/>
       F            Dm    E<br/>
И всегда Вас рассмешить умел<br/>
<br/>
    E               Am<br/>
Умирая, Вы о нас забыли,<br/>
        A7                   Dm<br/>
Перед смертью попрощаться не зашли.<br/>
Am         A7         Dm<br/>
Господи, хотя бы позвонили!<br/>
  F          Dm         E<br/>
Просто к телефону подошли!<br/>
<br/>
      Am     A7       Dm<br/>
Мы придем на Вашу панихиду,<br/>
     E                        Am   E<br/>
Ваш супруг мне сухо скажет: "Жаль"...<br/>
    Am     A7            Dm <br/>
И, тихонько проглотив обиду,<br/>
        F    Dm        E<br/>
Мы с собакой затаим печаль.<br/>
<br/>
       E                     Am<br/>
Вы не бойтесь. Пес не будет плакать,<br/>
        G                     C E<br/>
Лишь тихонечко ошейничком звеня,<br/>
       Am     A7              Dm<br/>
Он пойдет за Вашим гробом в слякоть<br/>
        Am       Dm E   Am<br/>
Не за мной, а впереди меня.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
