{% extends "chords.html" %}

{% set title = "Река" %}
{% set handbook_unid = "54555e0a48c9d520c325679d006af08d" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СИНИЙ АЛЬБОМ - река<br/>
</span><span style="color:red"> <br/>
РЕКА<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
   C  F   C   F       C<br/>
E-----------------------<br/>
H-----1-3—1-------1-3-1- - 8р.<br/>
G-0-2-------0-0-2-------<br/>
<br/>
C   Am         F     G          C F C G C<br/>
Насколько по кайфу быть здесь мне<br/>
C    Am    F    G       C F C G C<br/>
Большая река течёт по мне.<br/>
C     Am      F     G           C F C G C Am F G C F C G C<br/>
Насколько по кайфу быть здесь мне<br/>
   C F C G C F C G C<br/>
Река... <br/>
   C F C G C F C G C<br/>
Гора... <br/>
    C F C G C F C G C<br/>
Трава... <br/>
   C F C G C F C G C<br/>
Рука...<br/>
<br/>
Какая свеча в моем окне?          Джа-джа…<br/>
Какая рука в моей руке?       Джа.<br/>
Насколько по кайфу быть здесь мне     …по кайфу…<br/>
Река... <br/>
Гора... <br/>
Трава... <br/>
Рука...<br/>
<br/>
Заключение: <br/>
   C  F   C   F       C           C  F   C<br/>
E-----------------------        ------------<br/>
H-----1-3—1-------1-3-1- - 47р. -----1-3-1--<br/>
G-0-2-------0-0-2-------        -0-2-------0<br/>
<br/>
<span style="color:lightgrey"> <br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
