{% extends "chords.html" %}

{% set title = "Река Оккервиль" %}
{% set handbook_unid = "f6a1de6b53e68df4c325679d006af159" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ИСКУШЕНИЕ СВЯТОГО АКВАРИУМА - река оккервиль<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
река оккервиль <br/>
</span><i>А.Гуницкий<br/></i>
 <br/>
G--------------<br/>
D---0----2--0--<br/>
A-0---3--------<br/>
E--------------<br/>
 Река Оккервиль<br/>
G----------0-----<br/>
D-0-2-3-2-----3--<br/>
A----------------<br/>
E----------------<br/>
   Река Оккервиль<br/>
G---0-2-0----------<br/>
D-3--------2-0-2-0-<br/>
A-----------------3<br/>
E------------------<br/>
   Река Оккервиль<br/>
G--------------<br/>
D---0----2--0--<br/>
A-0---3--------<br/>
E--------------<br/>
 Река Оккервиль<br/>
<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
<br/>
Я сдох поутру<br/>
На реке Оккервиль,<br/>
И труп мой упал<br/>
В реку Оккервиль<br/>
<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
<br/>
Гора Крукенберг<br/>
На реке Оккервиль;<br/>
Река Оккервиль<br/>
Под горой Крукенберг<br/>
<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль<br/>
Река Оккервиль...<br/>
{% endraw %}
{% endblock %}
