{% extends "chords.html" %}

{% set title = "Рождественская песня" %}
{% set handbook_unid = "2e9672c03eff3358c325679d006af1da" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ИХТИОЛОГИЯ - рождественская песня<br/>
</span><span style="color:red"> <br/>
РОЖДЕСТВЕНСКАЯ ПЕСНЯ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <span style="color:#4D4D4D">D</span><span style="color:#333333"> D D<br/></span>
 <br/>
   D          G                    D<br/>
Твои самолёты - им никогда не взлететь;<br/>
   D                   Em       G              A  <br/>
Твои горизонты чисты, твои берега не знают прибоя.<br/>
   G               D                 G                D<br/>
На улицах много людей, но тебе не сказали, что это такое,<br/>
                D                  D7             G  <br/>
Ты бросаешь им золото - тебе не сказали, что это медь;<br/>
    G                     A        Hm      A           G <br/>
Из тех, кто был здесь сначала, с тобой остаются лишь трое -<br/>
G/f#       Em  A               D   <br/>
Но, королева, кто позволит им петь?<br/>
<br/>
Твои глаза - никто не помнит их цвет,<br/>
Лишь в клетках поют соловьи неизвестной учёным природы.<br/>
Все двери закрыты на ключ, с сумерек и до восхода;<br/>
Лишь рыбаки не боятся смотреть тебе вслед.<br/>
Тебя обманули - им не позволяют смотреть на воду;<br/>
Но, королева, кто погасит их свет?<br/>
<br/>
Проигрыш: D G - 4p. D<br/>
<br/>
А в гавани - паруса из цветных камней,<br/>
И матросы в монашеских рясах пьют здоровье жены капитана,<br/>
Но в полночь расходятся в кельи - они снимаются с якоря рано,<br/>
Им нужно плыть вокруг света - туда, где в полдень темней,<br/>
Чем ночью. Их корабль разобрала на части охрана,<br/>
Но они уплывут, королева, - есть вещи сильней.<br/>
<br/>
А ночью время идёт назад,<br/>
И день, наступающий завтра, две тысячи лет как прожит;<br/>
Но белый всадник смеётся, его ничто не тревожит,<br/>
И белый корабль с лебедиными крыльями уже поднял паруса;<br/>
Часовые весны с каждым годом становятся строже,<br/>
Но, королева, - сигналом будет твой взгляд.<br/>
<br/>
Королева, мы слыхали, что движется лёд;<br/>
Но, когда поднимаются реки, это даже не стоит ответа;<br/>
Ладони полны янтарём, он будет гореть до рассвета,<br/>
И песнь яблоневых ветвей - её никто не поёт,<br/>
Но это не долго, и наша звезда никогда не меняла цвета;<br/>
G           A        Hm      A         G <br/>
 Королева, тише: ты слышишь - падает снег;<br/>
G/f#       Em         A             D<br/>
Да, королева, - это всё-таки Новый Год!<br/>
<br/>
Заключение: D G - 4p. <span style="color:#333333">D </span><span style="color:#5F5F5F">D</span><span style="color:gray"> D<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
