{% extends "chords.html" %}

{% set title = "Рухнул" %}
{% set handbook_unid = "8c908df460ef59dec3256f7000687b63" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Аквариум + - рухнул<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">рухнул<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/>
 <br/></i>
Вступление: <br/>
      G                G          G <br/>
E-7sl10---12-10-------10---12-14-12-14sl10-10-<br/>
H--------------12---12------------------------<br/>
G---------------------------------------------<br/>
D---------------------------------------------<br/>
A---------------------------------------------<br/>
E---------------------------------------------<br/>
              C     C        G  G <br/>
E--------------------------------<br/>
H-13h12-13h12--------------------<br/>
G------------12~~~~~~~~~11-9-7~~~<br/>
D--------------------------------<br/>
A--------------------------------<br/>
E--------------------------------<br/>
   D          D7                        G G C+g G<br/>
E-10----12-14-12-14sl10-10---------------------<br/>
H----------------------------13h12-13h12-------<br/>
G---------------------------------------12~~~~~<br/>
D----------------------------------------------<br/>
A----------------------------------------------<br/>
E----------------------------------------------<br/>
<br/>
 G<br/>
Каменная как мотылёк,<br/>
  G<br/>
Сделанная из порошка.<br/>
     G<br/>
У меня была обида на жизнь,<br/>
     G<br/>
Со временем она прошла.<br/>
C C                       G  G<br/>
   Спасибо милосердным богам!<br/>
   D                    <br/>
Но если бы я знал, как найти тебя,<br/>
   D7                  G  G C+g G<br/>
Я бы рухнул к твоим ногам!<br/>
<br/>
Живём в грязно-серой стране,<br/>
Где главная политика - лечь.<br/>
Мне не хватает цветов,<br/>
Мне хочется что-то поджечь.<br/>
Смешали дизель и бабл-гам,<br/>
Но если бы я знал, как найти тебя,<br/>
Я бы рухнул к твоим ногам!<br/>
<br/>
C                        С<br/>
 Пронзительный как Тирнаног,<br/>
G                       G<br/>
 Бородат и душевно хвостат,<br/>
C                            A<br/>
 Затерянный в степях свармандал,<br/>
D                    D7<br/>
 Бешенный, как аэростат<br/>
<br/>
Проигрыш: <br/>
G G G G C C G G D D7 G G C+g G<br/>
<br/>
Я буду вам подмогой в пути,<br/>
Буду алеть как восток,<br/>
Положите меня между двух<br/>
Контактов, чтобы в сердце шел ток.<br/>
Зарывший в землю ветер в итоге пожнет ураган,<br/>
Но если бы я знал, как найти тебя,<br/>
Я бы рухнул к твоим ногам!<br/>
<br/>
Заключение: <br/>
   G                G          G <br/>
E-10---12-10-------10---12-14-12-14sl10-10-<br/>
H-----------12---12------------------------<br/>
G------------------------------------------<br/>
D------------------------------------------<br/>
A------------------------------------------<br/>
E------------------------------------------<br/>
              C     C        G  G <br/>
E--------------------------------<br/>
H-13h12-13h12--------------------<br/>
G------------12~~~~~~~~~11-9-7~~~<br/>
D--------------------------------<br/>
A--------------------------------<br/>
E--------------------------------<br/>
   D          D7                       G <br/>
E-10----12-14-12-14sl10-10-----------------<br/>
H----------------------------13h12-13h12---<br/>
G---------------------------------------12-<br/>
D------------------------------------------<br/>
A------------------------------------------<br/>
E------------------------------------------<br/>
        Em          Cm(III)      G  G<br/>
E--------------------------------------<br/>
H-13h12-13h12-----13h12-13h12----------<br/>
G------------12--------------12-12~~~~~<br/>
D--------------------------------------<br/>
A--------------------------------------<br/>
E--------------------------------------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C+g<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="width:263.1pt;border-collapse:collapse" width="351">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
