{% extends "chords.html" %}

{% set title = "Серебряная роза" %}
{% set extra_title = "(инструментал)" %}
{% set handbook_unid = "1428725d9c492353c325679d006af3a2" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - СНЕЖНЫЙ ЛЕВ - серебряная роза<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">серебряная роза<br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
G C D - 2p.<br/>
<br/>
  G           C        G      C    G            C       Hm D <br/>
E-10--12-10------------------------10--12-10----------------<br/>
H----------12-10----10-12--10---------------12-10----10-12--<br/>
G---------------12-----------12-9----------------12---------<br/>
  Em          Hm  F           C       G         C      G D<br/>
E-12--14-12-10--------------------------10----------------<br/>
H-------------12--10--13-10------8-10-12----12-10---------<br/>
G--------------------------12-9------------------12-9-12--<br/>
  G           C        G      C    G            C       Hm  D <br/>
E-10--12-10------------------------10--12-10----------------10-14-17-<br/>
H----------12-10----10-12--10---------------12-10----10-12-----------<br/>
G---------------12-----------12-9----------------12------------------<br/>
  Em          Hm  F           C       G         C      G D<br/>
E-12--14-12-10--------------------------10----------------<br/>
H-------------12--10--13-10------8-10-12----12-10---------<br/>
G--------------------------12-9------------------12-9-12--<br/>
  G           C        G      C    G            C       Hm D <br/>
E-10--12-10------------------------10--12-10----------------10-14-17-<br/>
H----------12-10----10-12--10---------------12-10----10-12-----------<br/>
G---------------12-----------12-9----------------12------------------<br/>
  Em          Hm  F           C       G         C      G D<br/>
E-12--14-12-10--------------------------10----------------<br/>
H-------------12--10--13-10------8-10-12----12-10---------<br/>
G--------------------------12-9------------------12-9-12--<br/>
<br/>
G C G D G C D - 4p. <br/>
<br/>
  G           C        G      C    G            C       Hm D <br/>
E-10--12-10------------------------10--12-10----------------10-14-17<br/>
H----------12-10----10-12--10---------------12-10----10-12----------<br/>
G---------------12-----------12-9----------------12-----------------<br/>
  Em          Hm  F           C       G         C      G Em<br/>
E-12--14-12-10--------------------------10-----------------<br/>
H-------------12--10--13-10------8-10-12----12-10----------<br/>
G--------------------------12-9------------------12-9-12---<br/>
       G         C      G Em     G         C      G  <br/>
E--------10------------------------10----------------<br/>
H-8-10-12----12-10----------8-10-12----12-10---------<br/>
G-----------------12-9-12-------------------12-9-12--<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
