{% extends "chords.html" %}

{% set title = "Сероглазый король" %}
{% set handbook_unid = "c40a6afa1c508ddac325679d006af195" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - НЕИЗДАННЫЕ ПЕСНИ - РУСКОЯЗЫЧНЫЕ ПЕСНИ - сероглазый король<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
сероглазый король<br/>
</span><i>А.Вертинский - А.Ахматова<br/></i>
 <br/>
Вступление: Am<br/>
<br/>
  Am                    Dm<br/>
Горе ужасное, странная боль!<br/>
                 F       E7<br/>
Умер вчера сероглазый король.<br/>
       Am                 Dm<br/>
Вечер осенний был душен и ал,<br/>
                           F      E7<br/>
Муж мой, вернувшись с работы, сказал:<br/>
             Am            Dm<br/>
"Знаешь, с охоты его принесли,<br/>
         F              E7<br/>
Тело у старого дуба нашли.<br/>
         Am       A7      Dm<br/>
Жаль королеву. Такой молодой!<br/>
                   F      E7<br/>
За ночь одну она стала седой".<br/>
         Am              Dm<br/>
Трубку свою на камине нашел<br/>
               F      E7<br/>
И на ночную работу ушел.<br/>
        Am               Dm<br/>
Дочку свою я сейчас разбужу,<br/>
                F      E7<br/>
В белое платье её наряжу.<br/>
                Am                 <br/>
А за окном шелестят тополя:<br/>
 E7                             Am<br/>
"Нет на земле твоего короля..."<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E7<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
