{% extends "chords.html" %}

{% set title = "Серые камни на зелёной траве" %}
{% set handbook_unid = "e0893b2510a65f8cc325679d006aef8e" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАША ЖИЗНЬ С ТОЧКИ ЗРЕНИЯ ДЕРЕВЬЕВ - серые камни на зелёной траве<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Серые камни на зелёной траве<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 3-м ладу <br/></i>
 <br/>
Вступление: D C D D C G - 4 p.<br/>
<br/>
 D                          Cadd9               <br/>
Когда мы будем знать то, что мы должны знать,<br/>
    F                           G                        D<br/>
Когда мы будем верить только в то, во что не верить нельзя,<br/>
              Cadd9           <br/>
Мы станем интерконтинентальны,<br/>
 F                   G            <br/>
Наши телефоны будут наши друзья. <br/>
D                 C       D<br/>
 Всё правильно - вот наш долг,<br/>
D               C       G               <br/>
Наш путь к золотой синеве.<br/>
      Dm            Dm/c       G6/h<br/>
Но когда все уйдут, Господи, оставь мне<br/>
     Gm6/b                 G      <br/>
Серые камни на зелёной траве. <br/>
<br/>
Проигрыш: D C D D C G - 2 p.<br/>
<br/>
Когда буря загоняла нас в дом,<br/>
Ветер нес тех - тех, кто не для наших глаз.<br/>
Когда небо над твоей головой,<br/>
Легко ли ты скажешь, кто убил тебя, и кто тебя спас? <br/>
Наука на твоём лице,<br/>
Вертолеты в твоей голове;<br/>
Но выйдя за порог, остерегайся наступать<br/>
На серые камни на зелёной траве. <br/>
<br/>
Dm      Dm/e   Dm/f   G<br/>
  Ты знаешь, о чём я пел,<br/>
      Dm F     G    <br/>
Разжигая огонь;<br/>
Dm      Dm/e   Dm/f   G<br/>
  Ты знаешь, о чём я пел,<br/>
 D     F       G          F         D<br/>
Белые лебеди движутся в сторону земли... <br/>
<br/>
Проигрыш: D C D D C G - 4 p. <br/>
G F G G F G D C D D C G - 2p.<br/>
<br/>
Мы вышли на развилку, нам некуда вперёд;<br/>
Идти назад нам не позволит наша честь.<br/>
Непонятно, что такие, как мы,<br/>
До сих пор делаем в таком отсталом месте, как здесь; <br/>
Когда вы сгинете в свои зеркала,<br/>
Не поняв, что дорог есть две,<br/>
Я останусь горевать, пока не взойдет солнце<br/>
Над живыми камнями в зеленой траве.<br/>
<br/>
Заключение: D C D D C G - 4 p. D C B G F D<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Cadd9<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G6/h<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gm6/b<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm/e<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
