{% extends "chords.html" %}

{% set title = "Сергей Ильич (Песня для Марка Болана)" %}
{% set handbook_unid = "15dc59e64284b13ec325679d006af186" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ▼ - сергей ильич (песня для марка болана)<br/>
</span><span style="color:red"> <br/>
СЕРГЕЙ ИЛЬИЧ (ПЕСНЯ ДЛЯ МАРКА БОЛАНА)<br/>
</span><i>М. Болан - Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: C Am F G – 2р.<br/>
<br/>
 C                Am<br/>
Сергей Ильич - работник сна,<br/>
  F                 G<br/>
Одетый в шёлк шелестящий волк;<br/>
   C                Am<br/>
Алмазный МАЗ с колесом из льна<br/>
  F                    G<br/>
Въехал в дверь, и пришла весна.<br/>
<br/>
Ещё один сентябрь - сезон для змей;<br/>
Мы знаем наш час, он старше нас.<br/>
Жемчужная коза, тростник и лоза,<br/>
Мы не помним предела, мы вышли за.<br/>
<br/>
Проигрыш: C Am F G – 4р.<br/>
<br/>
Сергей Ильич - работник сна,<br/>
Одетый в шёлк шелестящий волк;<br/>
Алмазный МАЗ с колесом из льна<br/>
Въехал в дверь, и пришла весна.<br/>
<br/>
Ещё один сентябрь - сезон для змей;<br/>
Мы знаем наш час, он старше нас.<br/>
Жемчужная коза, тростник и лоза,<br/>
Мы не помним предела, мы вышли за.<br/>
<br/>
Проигрыш: C Am F G<br/>
<br/>
    C            Am     F G<br/>
а-а-а-аклёш зи ацинселок<br/>
    C            Am     F G <br/>
а-а-а-аклёш зи ацинселок <br/>
    C            Am     F G <br/>
а-а-а-аклёш зи ацинселок<span style="color:silver"> <br/></span>
    C            Am     F G <br/>
а-а-а-аклёш зи ацинселок<span style="color:silver"> <br/></span>
 <br/>
Заключение: C Am F G - 5p.<br/>
C Am F G C Am <br/>
<br/>
<i>Ласто бет ламмен<br/></i>
 <br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
