{% extends "chords.html" %}

{% set title = "Сны о чём-то большем" %}
{% set handbook_unid = "40253fd53f1f6582c325679d006af25b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕТИ ДЕКАБРЯ - сны о чём-то большем<br/>
</span><span style="color:red"> <br/>
СНЫ О ЧЁМ-ТО БОЛЬШЕМ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
                              G D C<br/>
E-5-3-5-3-0-3-5-3-5-3-0-3-5-3-5----<br/>
H----------3-----------3-----------<br/>
G----------------------------------<br/>
G D C – 3p.<br/>
<br/>
G            D             C<br/>
 Февральским утром выйду слишком рано,<br/>
G           D        C<br/>
 Вчерашний вечер остаётся смутным;<br/>
G     D            C<br/>
 В конце концов, зачем об этом думать?<br/>
G          D                C<br/>
 Найдётся кто-то, кто мне всё расскажет.<br/>
Em        D           C<br/>
  Горсть жемчуга в ладонях -<br/>
Em    D                 C<br/>
  Вот путь, который я оставлю тайной.<br/>
B                 Am<br/>
 Благодарю тебя за этот дар -<br/>
C         B              A<br/>
 Умение спать и видеть сны;<br/>
G  D           C<br/>
 Сны о чём-то большем. <br/>
G  D           C<br/>
 Сны о чём-то большем.<br/>
G  D           C<br/>
 Сны о чём-то большем. <br/>
<br/>
Проигрыш: G D C - 4p.<br/>
<br/>
Когда наступит время оправданий,<br/>
Что я скажу тебе?<br/>
Что я не видел смысла делать плохо,<br/>
И я не видел шансов сделать лучше.<br/>
Видимо, что-то прошло мимо,<br/>
И я не знаю, как мне сказать об этом.<br/>
Недаром в доме все зеркала из глины,<br/>
Чтобы с утра не разглядеть в глазах<br/>
Снов о чём-то большем.<br/>
Снов о чём-то большем.<br/>
Снов о чём-то большем.<br/>
<br/>
Проигрыш: G D C - 5p.<br/>
<br/>
G  D           C<br/>
 Сны о чём-то большем. <br/>
G  D           C<br/>
 Сны о чём-то большем.<br/>
G  D           C<br/>
 Сны о чём-то большем.<br/>
<br/>
Заключение: <span style="color:#333333">G D C </span><span style="color:gray">G D C</span><span style="color:#333333"> </span><span style="color:#B2B2B2">G </span><span style="color:silver">D C<br/>
<br/>
<br/>
</span><table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
