{% extends "chords.html" %}

{% set title = "Сокол" %}
{% set handbook_unid = "85c64a3bfebf5b91c32573de0021eca3" %}

{% block content %}
{% raw %}
<span style="color:red;text-transform:uppercase">сокол<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 4-м ладу <br/></i>
 <br/>
Вступление: <br/>
                                        <span style="color:silver">C</span>           <span style="color:gray">G</span> <span style="color:gray">C<br/></span>
E------------------------------------------------------<br/>
H------------------------------------------------------<br/>
G------------------------------------------------------<br/>
D------------------------------------------------------<br/>
A-3-3-3-3---3---3-3-3-3---3---3-3-3-3---3---3-3-3-3---3<br/>
E---------3-------------3-------------3-------------3--<br/>
<br/>
C            G C<br/>
Если долго плакать<br/>
 C             G C<br/>
Возле мутных стёкол,<br/>
 C        G C<br/>
Высоко в небе <br/>
  C       G C<br/>
Появится сокол.<br/>
  Am<br/>
Появится сокол<br/>
           Am<br/>
Высоко над тучей,<br/>
            Dm<br/>
В это время важно<br/>
              F   C<br/>
Не упустить случай,<br/>
<br/>
             Dm<br/>
Увидеть его крылья,<br/>
            Dm<br/>
Увидеть его перья<br/>
            F<br/>
И вдруг удивиться - <br/>
C          Dm<br/>
 А кто это теперь я?<br/>
              C Am<br/>
Почему внизу туча,<br/>
            C   Am<br/>
А надо мной ясно?<br/>
           Dm<br/>
Видимо, я плакал <br/>
              F<br/>
Совсем не напрасно,<br/>
         C    Am<br/>
Видимо, вот оно -<br/>
             C  Am<br/>
Пришло моё время,<br/>
        Dm<br/>
А внизу медленно <br/>
             F<br/>
Бредёт моё племя<br/>
<br/>
            C    Am<br/>
А мне лететь выше,<br/>
               C     Am<br/>
А мне лететь в солнце<br/>
             Dm<br/>
И всё-таки вспомнить, <br/>
            F   C<br/>
Что внизу оконце<br/>
           Dm<br/>
С мутными стёклами,<br/>
           Dm   Dm/e<br/>
В которые бьются<br/>
 F  C    Dm<br/>
Милые мои.<br/>
              C    G Am G C G Am G C<br/>
Сгореть и вернуться.<br/>
             G C<br/>
Если долго плакать...<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/e<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|-■-|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
