{% extends "chords.html" %}

{% set title = "Среди миров" %}
{% set handbook_unid = "dec98ba2f1dee9acc325679d006af1b0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ АЛЕКСАНДРА ВЕРТИНСКОГО - среди миров<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
среди миров <br/>
</span><i>А.Вертинский - И.Анненский<br/></i>
 <br/>
<i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление: Am <br/>
<br/>
        Am         F       Am<br/>
Среди миров, в мерцании светил <br/>
         Am         A7  Dm<br/>
Одной звезды я повторяю имя <br/>
       Dm               Am<br/>
Не потому, что б я ее любил <br/>
      Dm        E            Am<br/>
А потому, что мне темно с другими <br/>
<br/>
         G                C<br/>
И если мне на сердце тяжело <br/>
     Am    A7       Dm<br/>
Я у нее одной ищу ответа <br/>
       Dm                 Am<br/>
Не потому, что от нее светло <br/>
      Dm         E           Am    <br/>
А потому, что с ней не надо света<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
