{% extends "chords.html" %}

{% set title = "Сын плотника" %}
{% set handbook_unid = "3bcbfcd9d7ff8ce2c32567a7007041fc" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - Ψ - сын плотника<br/>
</span><span style="color:red"> <br/>
</span><span style="color:red;text-transform:uppercase">Сын плотника<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
Вступление: <br/>
E E7 A7 E E7 E/g E, A7 E E7 E/g E, C7/g(V) H7/f#(IV) E E7 E/g E<br/>
<br/>
   E         E7          A7              E E7 E/g E<br/>
Логин - сын плотника. Пароль – начало начал.<br/>
   A7                                    E E7 E/g E<br/>
Логин - сын плотника. Пароль – начало начал.<br/>
 C7/g(V)                H7/f#(IV)  E E7 E/g E<br/>
Пока ты на суше, тебе не нужен причал.<br/>
<br/>
Сорок лет в пустыне, горечи песка не отмыть.<br/>
Сорок лет в пустыне и горечи песка не отмыть - <br/>
Но мучаться жаждой ты всегда любил больше, чем пить.<br/>
<br/>
Проигрыш: <br/>
E E7 A7 E E7 E/g E, A7 E E7 E/g E, C7/g(V) H7/f#(IV) E E7 E/g E<br/>
<br/>
Когда глаза закрыты, что небо, что земля – один цвет.<br/>
Когда глаза закрыты, что небо, что земля – один цвет.<br/>
Я не знаю, в кого ты стреляешь, кроме Бога здесь никого нет.<br/>
<br/>
Так дуй за сыном плотника. Ломись к началу начал.<br/>
Дуй за сыном плотника, жги резину к началу начал.<br/>
Когда ты будешь тонуть, ты поймёшь, зачем был нужен причал.<br/>
<br/>
Заключение: <br/>
E E7 A7 E E7 E/g E, A7 E E7 E/g E, C7/g(V) H7/f#(IV) E <br/>
E-3-0------<br/>
H----3-0--- E E/g E<br/>
G-------3-1<br/>
D----------<br/>
<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E7<br/>
o E---|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           E/g<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V    C7/g(V)<br/>
  E-■-|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    IV   H7/F#(V)<br/>
  E-■-|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
