{% extends "chords.html" %}

{% set title = "Тайный узбек" %}
{% set handbook_unid = "7b0c18d0808a2d80c32577ae003ee73b" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - АРХАНГЕЛЬСК - тайный узбек<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Тайный узбек<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
 G Gsus4 G Gsus4 G   Gsus4 G <br/>
E------------5-3--5-3-0------<br/>
H----------------3-----3-1-0-<br/>
G----------------------------<br/>
D----------------------------<br/>
  G Gsus4 G Gsus4 G Gsus4 G <br/>
E-3--------------------------<br/>
H-0---1---0---1---0----------<br/>
G-0-------------------2---0--<br/>
D-0--------------------------<br/>
<br/>
       G                              Am Asus2 Am<br/>
Мы держались так долго, как только могли<br/>
      C           D                  G Gsus4 G<br/>
Но туда и сюда - напрочь забыли пин-код<br/>
     G                              Am Asus2 Am<br/>
И теперь мы скользим, не касаясь земли<br/>
             C               D                 G Gsus4 G<br/>
И бьёмся в стену, хотя с рождения знали, где вход<br/>
      G                               Am Asus2 Am<br/>
Но тяжёлое время сомнений пришло и ушло<br/>
       C                                  D      <br/>
Рука славы сгорела, и пепел рассыпан, и смесь<br/>
     G                             Am Asus2 Am<br/>
Вылетай. И тому, кто тут держит весло<br/>
     C         D                 G Gsus4 G<br/>
Сообщите, что Тайный Узбек уже здесь<br/>
<br/>
Проигрыш: G D# Em D# D#aug<br/>
<br/>
Три старухи в подвале, закутанные в тряпьё<br/>
Но прядущие драгоценную нить<br/>
Знают, как знает тот, кто пьёт, опершись на копьё<br/>
И как знают все те, кому нечем и незачем пить<br/>
Так раструбите на всю бесконечную степь<br/>
Сквозь горящий туман и мутно-зелёную взвесь<br/>
Добывающим соль и ласково сеющим хлеб<br/>
Шепните им, что Тайный Узбек уже здесь<br/>
<br/>
Проигрыш: <br/>
  G         Am Asus2 Am  C        D         G Gsus4 G <br/>
E-7-15-10-7-8----7-8-15--12-12-15-10-7-10-8-7--------<br/>
H----------------------------------------------------<br/>
G----------------------------------------------------<br/>
G Am Asus2 Am C D G Gsus4 G<br/>
G Am Asus2 Am C D G Am Asus2 Am C D G Gsus4 G<br/>
<br/>
Он не "за", он не "против", он занят другим, как Басё<br/>
Он не распоряжается ничьей судьбой<br/>
Просто там, где он появляется, всё<br/>
Происходит словно само собой<br/>
Так передайте всем тем, кто долго был выгнут дугой<br/>
Что нет смысла скрывать больше тупость и жадность и спесь<br/>
И бессмысленно делать вид, что ты кто-то другой<br/>
Когда Тайный Узбек уже здесь<br/>
<br/>
Проигрыш: G Am Asus2 Am C D G Gsus4 G - 2p.<br/>
<br/>
И даже если нам всем запереться в глухую тюрьму<br/>
Сжечь самолеты, расформировать поезда<br/>
Это вовсе не помешает ему<br/>
Перебраться из там-где-он-есть к нам сюда<br/>
И повторяю, что это не повод рыдать и кричать<br/>
Всё останется точно таким, как всё есть<br/>
А те, кто знают в чем дело, знают и будут молчать<br/>
Потому что Тайный Узбек уже здесь<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Gsus4<br/>
  E---|---|-■-|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Asus2<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
о D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III     D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III    D#aug<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt"> <br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
