{% extends "chords.html" %}

{% set title = "Тень" %}
{% set handbook_unid = "05685a870f4bce8ac325679d006af108" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ЛИЛИТ - тень<br/>
</span><span style="color:red"> <br/>
ТЕНЬ<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: <br/>
  Em         Em<br/>
G---0-----------0------<br/>
D----2-0-2-2-----2-0-2- - 4p.<br/>
A----------------------<br/>
E-0----------0---------<br/>
Em Eadd11+ Esus4 Em - 2p. <br/>
G6 G6add9+ G6add9 G6 - 2p.<br/>
C C7 Am/C C - 2p. <br/>
Em - 2p. <br/>
<br/>
Em           G       D                    C<br/>
  Откуда я знаю тебя? Скажи мне и я буду рад.<br/>
Em                G   D                            C<br/>
  Мы долго жили вместе или я где-то видел твой взгляд?<br/>
G                Em          Am               C<br/>
 То ли в прошлой жизни на поляне в забытом лесу,<br/>
           G    G/f# Em       Em/d<br/>
То ли это ты был за тёмным стеклом<br/>
       C                  Em<br/>
Той машины, что стояла внизу.<br/>
<br/>
Проигрыш: Em – 3p.<br/>
<br/>
Напомни, где мы виделись - моя память уж не та, что была.<br/>
Ты здесь просто так или у нас есть дела?<br/>
Скажи мне, чем мы связаны, скажи хотя бы "Да" или "Нет".<br/>
Но сначала скажи, отчего так сложно стало<br/>
Выйти из тени на свет<br/>
<br/>
Проигрыш: Em G6 Em<br/>
<br/>
Считай меня Иваном Непомнящим или назови подлецом,<br/>
Но зачем ты одел это платье, что у тебя с лицом?<br/>
Если ты мой ангел, зачем мы пьём эту смесь?<br/>
И откуда я знаю тебя, <br/>
Скажи мне, если ты еще здесь.<br/>
<br/>
Проигрыш: Em <br/>
<br/>
G                    D                      C  D<br/>
 Я помню дни, когда каждый из нас мог быть первым,<br/>
G                     D          C            D<br/>
 И мне казалось наши цепи сами рвались напополам.<br/>
      C                 Em             Am<br/>
Я пришёл сюда выпить вина и дать отдых нервам.<br/>
   Cm(III)<br/>
Я забыл на секунду: чтобы здесь был свет,<br/>
    Hm                      Em Em<br/>
Ток должен идти по нам. Эй, хэй…<br/>
<br/>
Проигрыш: <br/>
Em Eadd11+ Esus4 Em - 2p. <br/>
G6 G6add9+ G6add9 G6 - 2p.<br/>
C C7 Am/C C - 2p. <br/>
Em Eadd11+ Esus4 Em - 4p. <br/>
G6 G6add9+ G6add9 G6 - 2p.<br/>
C C7 Am/C C - 2p. <br/>
Em - 2p.<br/>
<br/>
Почему здесь так холодно, или это норма в подобных местах?<br/>
Зачем ты целуешь меня? И чего ждут солдаты в кустах?<br/>
Если тебе платят за это, скажи, я, наверно, пойму.<br/>
Но если ты пришёл сюда дать мне волю,<br/>
Спасибо, уже ни к чему.<br/>
<br/>
Проигрыш: Em <br/>
<br/>
Вокруг меня темнота, она делает, что я прошу<br/>
Я так долго был виновным, что даже не знаю, зачем я дышу<br/>
И каждый раз - это последний раз, и каждый раз я знаю - приплыл<br/>
Но глядя на тебя я вспоминаю сейчас то, <br/>
Что даже не знал, что забыл<br/>
<br/>
Проигрыш: Em <br/>
<br/>
Мое сердце не здесь, снимайте паруса с кораблей<br/>
Мы долго плыли в декорациях моря, но вот они - фанера и клей.<br/>
А где-то ключ повернулся в замке, где-то открылась дверь.<br/>
Теперь я вспомнил, откуда я знаю тебя,<br/>
И мы в расчёте теперь<br/>
<br/>
Заключение: <br/>
Em Eadd11+ Esus4 Em - 2p. <br/>
G6 G6add9+ G6add9 G6 - 2p.<br/>
C C7 Am/C C - 2p. <br/>
Em Eadd11+ Esus4 Em - 4p. <br/>
G6 G6add9+ G6add9 G6 - 2p.<br/>
C C7 Am/C C - 2p. <br/>
Em Em - 2p.<br/>
  Em         Em<br/>
G---0-----------0------<br/>
D----2-0-2-2-----2-0-2- - 2p.<br/>
A----------------------<br/>
E-0----------0---------<br/>
  Em       <br/>
G---0--------<br/>
D----2-0-2---<br/>
A----------2-<br/>
E-0----------<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Eadd11+<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Esus4<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G6<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G6add9+<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G6add9<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C7<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|---|-■-|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Am/c<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em/d<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
