{% extends "chords.html" %}

{% set title = "Три сестры" %}
{% set handbook_unid = "8b8690e12999e66cc325679d006af285" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - НАВИГАТОР - три сестры<br/>
</span><span style="color:red"> <br/>
ТРИ СЕСТРЫ<br/>
</span><i>Б. Гребенщиков<br/>
</i><span style="font-size:12.0pt"> <br/>
</span><i>Каподастр на 3-м ладу<br/></i>
 <br/>
Вступление:<br/>
E-3-5-7--5-3-   -7-5-3-2-0---<br/>
H------------   -----------3-<br/>
G-4-5-7--5-4- G -7-5-4-2-0-4- D/f# C D G D <br/>
D------------   -------------<br/>
A------------   -------------<br/>
<br/>
E-3-5-7--5-3-   -7-5-3-2-0---<br/>
H------------   -----------3-<br/>
G-4-5-7--5-4- G -7-5-4-2-0-4- Am C D G D<br/>
D------------   -------------<br/>
A------------   -------------<br/>
<br/>
           G                                      D/f#<br/>
Что ж ты смотришь совой - дышишь, словно рухнул с дуба?<br/>
       C         D                           G D<br/>
Посмотри на себя - хвост торчком, глаза востры.<br/>
      G                               Am<br/>
Это всё пустяки; в жизни всё легко и любо,<br/>
        C               D                       G D<br/>
Пока вдруг у тебя на пути не возникнут три сестры.<br/>
<br/>
У них кудри - как шёлк, а глаза - как чайны блюдца;<br/>
У них семь тысяч лет без пардонов, без мерси.<br/>
У них сердце - внутри; они плачут и смеются;<br/>
Посмотри им в зрачки - и скажи прощай - прости.<br/>
<br/>
         G<br/>
Три сестры, три сестры<br/>
                     Am<br/>
Чёрно-бело-рыжей масти<br/>
         C         D                  G D<br/>
В том далёком краю, где не ходят поезда;<br/>
         G<br/>
Три сестры, три сестры<br/>
                    Am<br/>
Разорвут тебя на части:<br/>
           C             D<br/>
Сердце - вверх, ноги - вниз,<br/>
                   G D<br/>
Остальное - что куда.<br/>
<br/>
Проигрыш: G(III) G(III) A(V) A(V) Cm(III) Cm(III) G(III) D <br/>
G(III) G(III) A(V) A(V) Cm(III) Cm(III) D# G(III) D/f#<br/>
<br/>
       G                                Am<br/>
А в саду - благодать, пахнет мёдом и сиренью.<br/>
Навсегда, навсегда, навсегда - я шепчу: Приди, приди!<br/>
Кто зажёг в тебе свет - обернётся твоей тенью,<br/>
И в ночной тишине вырвет сердце из груди.<br/>
<br/>
Три сестры, три сестры<br/>
Чёрно-бело-рыжей масти<br/>
В том далёком краю, где не ходят поезда;<br/>
Три сестры, три сестры<br/>
G/f#      G/f        Am<br/>
    Разорвут тебя на части:<br/>
           C             D<br/>
Сердце - вверх, ноги - вниз,<br/>
                  Em D G C G D G<br/>
Остальное - что куда.<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D/f#<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         Cm(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|-■-|---|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="width:131.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          G/f#<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|-■-|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           G/f<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="border:none;padding:0cm 0cm 0cm 0cm" width="198"> <br/></td>
</tr>
</table>
{% endraw %}
{% endblock %}
