{% extends "chords.html" %}

{% set title = "Туман над Янцзы" %}
{% set handbook_unid = "ac789f4beef0350dc3256d25002ff7ac" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - туман над янцзы<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Туман над Янцзы<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Каподастр на 2-м ладу<br/>
<br/>
Вступление: G – 4p.<br/>
<br/>
              G<br/>
Туман над Янцзы.<br/>
   C          G<br/>
Туман над Янцзы.<br/>
   C           G<br/>
Душистый, как шерсть<br/>
   E       Am<br/>
Небесной лисы.<br/>
           Am<br/>
Я выбросил компас,<br/>
                Am<br/>
Растоптал в пыль часы<br/>
            C  D<br/>
И вышел плясать<br/>
                G C G<br/>
В туман над Янцзы.<br/>
<br/>
Над рисовым полем<br/>
Сгустился туман,<br/>
В нём бродит католик,<br/>
И бродит шаман.<br/>
Бродят верха,<br/>
И бродят низы,<br/>
Их скрыл друг от друга<br/>
Туман над Янцзы.<br/>
<br/>
И я был, как все,<br/>
Пил да пахал.<br/>
Прочёл Дао Дэ Цзин<br/>
И понял "Попал!";<br/>
Сжёг свой пентхаус,<br/>
Снял пробу с лозы <br/>
И вышел плясать<br/>
В туман над Янцзы.<br/>
<br/>
C              D<br/>
 Ответь, Нижневартовск,<br/>
G             Em<br/>
 И Харьков, ответь - <br/>
Am               D<br/>
  Давно ль по-китайски<br/>
G          G7<br/>
 Вы начали петь?<br/>
C              H7<br/>
 И чья в том вина,<br/>
                Em<br/>
Что арбатская пьянь<br/>
G               A7<br/>
 Пьёт водку из чаш<br/>
          D   D7 <br/>
Династии Тань? <br/>
<br/>
Проигрыш: G C G C G E Am Am Am D# D G G<br/>
<br/>
Мы все теперь братья,<br/>
Мы все здесь семья;<br/>
Так кто из нас ты<br/>
И кто из нас я?<br/>
Кто весел, тот стар,<br/>
А кто мрачен - тот юн;<br/>
              C<br/>
И все хотят знать:<br/>
              D D7<br/>
Так о чём я пою?<br/>
<br/>
А я хожу и пою,<br/>
И всё вокруг Бог;<br/>
Я сам себе суфий<br/>
И сам себе йог.<br/>
В сердце печать<br/>
Неизбывной красы,<br/>
А в голове<br/>
Туман над Янцзы.<br/>
<br/>
Заключение: C+7(III) B G(III)<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            E<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Em<br/>
o E---|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G7<br/>
  E-■-|---|---|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           H7<br/>
  E---|-■-|---|---|---|<br/>
o H---|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D-■-|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           A7<br/>
  E---|-■-|-■-|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           D7<br/>
  E---|-■-|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   III       D#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|-■-|---|---|---|<br/>
  G-■-|---|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|-■-|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C+7(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            B<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         G(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|---|-■-|-■-|---|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|-■-|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
