{% extends "chords.html" %}

{% set title = "Феечка" %}
{% set handbook_unid = "b86b29858daaf3acc3256cd4001fb3bd" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a> - ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ПЕСНИ РЫБАКА - феечка<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Феечка<br/>
</span><i>Б. Гребенщиков</i>
 <br/>
<i>Каподастр на 2-м ладу<br/></i>
 <br/>
Вступление: G… G… G…<br/>
C C Am Am - 2p.<br/>
<br/>
С<br/>
 Иногда летишь в электрическом небе<br/>
С                             С С<br/>
 И думаешь, "Скорей бы я упал";<br/>
Am<br/>
  Иногда летишь в электрическом небе<br/>
Am                                C C<br/>
  И думаешь, "Уж скорей бы я упал".<br/>
Dm<br/>
  Иногда проснёшься в кресле президента<br/>
    F                          G    C C<br/>
И плачешь, сам не зная, как сюда попал.<br/>
<br/>
Сначала ты – надежда и гордость,<br/>
Потом о спину ломают аршин;<br/>
Сначала ты – надежда и гордость,<br/>
Потом о спину ломают аршин.<br/>
Ох, брошу я работать под этим мостом,<br/>
Пойду летать феечкой в страну синих вершин.<br/>
<br/>
Едет лимузин, снаружи бриллианты,<br/>
Внутри некуда сесть;<br/>
Едет лимузин, снаружи бриллианты,<br/>
Внутри такая скотобаза, что некуда сесть.<br/>
Как сказала на съезде мясников коза Маня:<br/>
"Тусоваться с вами – невеликая честь".<br/>
<br/>
Проигрыш: C - 4p. Am - 2p. C - 2p. Dm F G C C<br/>
<br/>
А любая весть изначально благая,<br/>
Просто ты к этому ещё не привык;<br/>
Любая весть изначально благая,<br/>
Просто ты к этому ещё не привык.<br/>
Если не нравится, как я излагаю,<br/>
Купи себе у Бога копирайт на русский язык.<br/>
<br/>
Заключение: C - 4p. Am - 2p. C - 2p. Dm F G C C C<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
