{% extends "chords.html" %}

{% set title = "Хвала Шри-Кришне" %}
{% set handbook_unid = "afbd708081cc2863c325679d006aefee" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ДОИСТОРИЧЕСКИЕ ПЕСНИ - ПРИТЧИ ГРАФА ДИФФУЗОРА - хвала шри-кришне<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
хвала шри-кришне <br/>
</span><i>Б.Гребенщиков<br/></i>
 <br/>
Вступление: <br/>
E-8-7-5-3h5<br/>
H----------<br/>
G----------<br/>
D----------<br/>
C C/h D - 3p.<br/>
<br/>
С    C/h        D<br/>
 "Любовь - это чушь", - говоришь ты.<br/>
С   C/h         D<br/>
 "Любовь - это ложь";<br/>
С  C/h       D<br/>
 Но если ты женщина вправду,<br/>
С   C/h      D<br/>
 Зачем ты живешь?<br/>
<br/>
G    A        C       D<br/>
 Воздайте хвалу Шри-Кришне,<br/>
G    A        C     D<br/>
 Воздайте любви хвалу,<br/>
G    A        C         D        <br/>
 Воздайте хвалу Шри-Радхе. <br/>
<br/>
Проигрыш: C C G G<br/>
<br/>
"Любовь умерла", - говоришь ты.<br/>
"Осталась постель";<br/>
Как смеешь ты лгать во храме,<br/>
В сплетении тел?<br/>
<br/>
Воздайте хвалу Шри-Кришне,<br/>
Воздайте любви хвалу,<br/>
Воздайте хвалу Шри-Радхе. <br/>
<br/>
Проигрыш: C C G G - 4р. C C/h D - 2p.<br/>
<br/>
Ведь Радха и Кришна - не боги,<br/>
Но дети земли,<br/>
И стал человек человеком<br/>
Во имя любви;<br/>
<br/>
Воздайте хвалу Шри-Кришне,<br/>
Воздайте любви хвалу,<br/>
Воздайте хвалу Шри-Радхе. <br/>
<br/>
Проигрыш: C C G G<br/>
<br/>
Воздайте хвалу Шри-Кришне,<br/>
Воздайте любви хвалу,<br/>
Воздайте хвалу Шри-Радхе. <br/>
<br/>
Проигрыш: C C G G<br/>
<br/>
Воздайте хвалу Шри-Кришне,<br/>
Воздайте любви хвалу,<br/>
Воздайте хвалу Шри-Радхе. <br/>
<br/>
Проигрыш: C C D D<br/>
<br/>
Воздайте хвалу Шри-Кришне,<br/>
Воздайте любви хвалу,<br/>
Воздайте хвалу Шри-Радхе...<br/>
<br/>
Проигрыш: C C D D...<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           C/h<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
<td style="width:114.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="152">
<b><span style="font-size:8.0pt">            A<br/>
o E---|---|---|---|---|<br/>
  H---|-■-|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt">
 <br/>
</td>
</tr>
</table>
{% endraw %}
{% endblock %}
