{% extends "chords.html" %}

{% set title = "Электричество" %}
{% set handbook_unid = "449fcbc76f3ad30cc325679d006af05a" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ЕСТЕСТВЕННЫЕ АЛЬБОМЫ АКВАРИУМА И БГ - ДЕНЬ СЕРЕБРА - электричество<br/>
</span><span style="color:red"> <br/>
ЭЛЕКТРИЧЕСТВО<br/>
</span><i>Б. Гребенщиков<br/></i>
 <br/>
Вступление: D С D C - 3p. D D<br/>
<br/>
D       C        D          C  G   D C D C G<br/>
 Моя работа проста - я смотрю на свет.<br/>
D           C       D          C    G D C D C G<br/>
 Ко мне приходит мотив, я отбираю слова<br/>
D   Hm      G              C         D C D C G<br/>
 Но каждую ночь, когда восходит звезда,<br/>
Am    F          C       G           F A(V)<br/>
  Я слышу плеск волн, которых здесь нет. <br/>
<br/>
Проигрыш: D C D C G - 4p.<br/>
<br/>
Мой путь длинней, чем эта тропа за спиной.<br/>
И я помню то, что было показано мне -<br/>
Белый город на далёком холме,<br/>
И свет высоких звёзд по дороге домой.<br/>
<br/>
         D         A              G A<br/>
Но электричество смотрит мне в лицо,<br/>
D    A           G  A<br/>
 И просит мой голос;<br/>
 D        A             Hm     A      G <br/>
Но я говорю: «Тому, кто видел город уже<br/>
    G       A      Dm<br/>
Не нужно твоё кольцо». <br/>
<br/>
Проигрыш: Dm Dm/c Dm/h Dm/b - 2р.<br/>
<br/>
 Dm              Dm/c<br/>
Слишком рано для цирка,<br/>
Dm/h                     Dm/b             Dm<br/>
    Слишком поздно для начала похода к святой земле.<br/>
    Dm/c               Dm/h              Dm/e<br/>
Мы движемся медленно, словно бы плавился воск;<br/>
Dm                    Dm/c<br/>
  В этом нет больше смысла -<br/>
  Dm/h                 Dm/b<br/>
Здравствуйте, дети бесцветных дней!<br/>
Dm/f             Dm            Dm/e<br/>
  Если бы я был малиново-алой птицей,<br/>
  Dm/a            Dm Dm/c Dm/h Dm/b Dm Dm/c Dm/b Dm/h<br/>
Я взял бы тебя домой;<br/>
Dm             Dm/c Dm/h Dm/b <br/>
  Если бы я был... <br/>
Dm             Dm/c Dm/h Dm/b <br/>
  Если бы я был... <br/>
Dm             Dm/c Dm/h Dm/b <br/>
  Если бы я был... <br/>
Dm             Dm/c Dm/h Dm/b <br/>
  Если бы я был... <br/>
<br/>
У каждого дома есть окна вверх;<br/>
Из каждой двери можно сделать шаг;<br/>
Но если твой путь впечатан мелом в асфальт -<br/>
Куда ты пойдёшь, когда выпадет снег?<br/>
<br/>
Но электричество смотрит мне в лицо,<br/>
И просит мой голос;<br/>
Но я говорю: «Тому, кто видел город уже<br/>
    G       A<br/>
Не нужно твоё…».<br/>
<br/>
Электричество смотрит мне в лицо,<br/>
И просит мой голос;<br/>
Но я говорю: «Тому, кто видел город уже<br/>
    G       A      D<br/>
Не нужно твоё кольцо».<br/>
<br/>
Заключение: D C D C G - 13p. <br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            D<br/>
  E---|-■-|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            C<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            G<br/>
  E---|---|-■-|---|---|<br/>
o H---|---|---|---|---|<br/>
o G---|---|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
  E---|---|-■-|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Hm<br/>
  E---|-■-|---|---|---|<br/>
  H---|-■-|-■-|---|---|<br/>
  G---|-■-|---|-■-|---|<br/>
  D---|-■-|---|-■-|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Am<br/>
o E---|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|-■-|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">            F<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">    V     A(V)<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|---|---|---|<br/>
  G-■-|-■-|---|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|-■-|---|---|<br/>
  E-■-|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">           Dm<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/c<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/h<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A---|-■-|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/b<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/e<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
o E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/f<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
  D---|---|-■-|---|---|<br/>
x A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">          Dm/a<br/>
  E-■-|---|---|---|---|<br/>
  H---|---|-■-|---|---|<br/>
  G---|-■-|---|---|---|<br/>
o D---|---|---|---|---|<br/>
o A---|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
