{% extends "chords.html" %}

{% set title = "Я не могу без тебя" %}
{% set handbook_unid = "26794ff0e504259ac3256e46004084b0" %}

{% block content %}
{% raw %}
<span style="font-size:8.0pt;text-transform:uppercase"><a href="/">Главная</a>
- ПЕСНИ ИЗ АНТОЛОГИЙ И СБОРНИКОВ - я не могу без тебя<br/>
</span><span style="color:red;text-transform:uppercase"> <br/>
Я не могу без тебя<br/>
</span><i>Б.Рубекин - А.Гуницкий<br/>
 <br/></i>
Вступление: C(III) - 2p.<br/>
<br/>
     C(III)           C#               C(III)<br/>
Я в могилах метро лепестки белых лилий искал<br/>
      C#                 C(III)       C#<br/>
Я бродил как безумный пророк в шуме улиц твоих<br/>
C(III)            C#          C(III)          C#<br/>
    Ты украл мою душу и мраком глаза мне залил<br/>
               C(III)            C#<br/>
Моё сердце ты сжёг в своих бесконечных кострах<br/>
C(III)           C#              C(III)<br/>
   Ты меня распинал на огромных своих площадях<br/>
C#                C(III)             C#<br/>
Я твой сын, я твой раб, я твой сумасшедший судья<br/>
     C(III)            C#          C(III)<br/>
Но мне не уйти, ты закрыл мне пути, и я не могу без тебя<br/>
<br/>
Если ночь унесёт твои слова, мне останется только тишина<br/>
Если тучи закроют тишину, мне останется звук твоих шагов<br/>
Но мне не уйти, ты закрыл мне пути, и я не могу без тебя<br/>
В полночь открыты окна, звёзды и лунный свет<br/>
Здесь не бывает плохо - в нашем доме для всех<br/>
Но мне не уйти, ты закрыл мне пути, и я не могу без тебя<br/>
<br/>
Заключение: C(III) C# - 8p. C(III)<br/>
<br/>
<br/>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
<tr>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">         C(III)<br/>
  E---|---|-■-|---|---|<br/>
  H---|---|-■-|---|-■-|<br/>
  G---|---|-■-|---|-■-|<br/>
  D---|---|-■-|---|-■-|<br/>
  A---|---|-■-|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
<td style="padding:0cm 5.4pt 0cm 5.4pt" valign="top">
<b><span style="font-size:8.0pt">   IV      C#<br/>
  E-■-|---|---|---|---|<br/>
  H-■-|---|-■-|---|---|<br/>
  G-■-|---|-■-|---|---|<br/>
  D-■-|---|-■-|---|---|<br/>
  A-■-|---|---|---|---|<br/>
x E---|---|---|---|---|<br/>
<br/>
</span></b></td>
</tr>
</table>
{% endraw %}
{% endblock %}
